@charset "UTF-8";
select[aria-hidden=true] { color: #9e9e9e; }
select:invalid { color: #9e9e9e; }

#sub-header { margin-top: 0; }
#sub-header .sub-header-txt { font-size: 3.5rem; opacity: 0.8; color: #212121; font-weight: 600; }
#sub-header .sub-header-txt .maps_title { margin: 0; }
#sub-header .sub-header-txt:after { content: none; }
#sub-header .join-header-txt { font-size: 2.25rem; font-weight: 300; width: 96rem; display: flex; justify-content: center; align-items: center; margin-top: 1.5rem; }

.common { text-align: center; color: #212121; }
.common h2 { font-size: 2.25rem; font-weight: 500; }
.common h2 + p { color: #222; margin-top: 1.5rem; margin-bottom: 2rem; }
.common h3 { font-size: 1.9rem; font-weight: 500; }
.common h3 + p { color: #222; margin-top: 1.5rem; margin-bottom: 2rem; }
.common h6 { font-size: 1.5rem; font-weight: 400; }
.common .wrap { width: 48rem; margin: 0 auto; }
.common .input-wrap { display: flex; justify-content: center; align-items: center; flex-direction: column; width: 48rem; margin: 0 auto; }
.common .input-wrap label { position: relative; z-index: 0; display: flex; justify-content: center; align-items: center; width: 100%; height: 6.5rem; font-size: initial; background: #fff; cursor: initial; border: 1px solid #aaa; }
.common .input-wrap label i { position: absolute; left: 0; z-index: 1; font-size: 1.8rem; width: 6rem; color: rgba(34, 34, 34, 0.4); }
.common .input-wrap label input { margin: 0; padding: 0; border: none; outline: none; font-style: normal; text-decoration: none; background: none; position: relative; padding: 0 3rem; width: 100%; height: 100%; font-size: 1.8rem; float: left; }
.common .input-wrap label:first-child { border-bottom-color: #ddd; margin-bottom: -1px; }
.common .input-wrap label:last-child { border-top: 1px solid #ddd; }
.common .input-wrap label:not(:first-child):not(:last-child) { margin-bottom: -1px; }
.common .input-wrap label.key { z-index: 1; }
.common .input-wrap label.key span { z-index: -1; opacity: 0; }
.common .input-wrap label.focus { z-index: 2; border-color: #212121; box-shadow: 0 0 0 1px #212121; }
.common .input-wrap label.focus i { color: #222; }
.common .find { width: 48rem; padding: 2rem 0; overflow: hidden; }
.common .find a { float: right; color: #212121; font-weight: 400; }
.common .find a:hover { text-decoration: underline; }
.common .button { display: flex; justify-content: center; align-items: center; width: 100%; height: 6rem; margin: 1.5rem auto; background: transparent; font-size: 1.8rem; cursor: pointer; font-family: inherit; }
.common input.button { background: #1C287B; color: #fff; }
.common a.button { background: #dee2e6; border: 1px solid #cfd5db; color: #556370; }
.common .btnZone { display: flex; justify-content: center; align-items: center; padding-top: 3rem; width: 100%; }
.common .btnZone a, .common .btnZone input { display: inline-flex; justify-content: center; align-items: center; width: 32rem; height: 6rem; margin: 0.75rem auto; background: transparent; font-size: 1.8rem; cursor: pointer; font-family: inherit; border: none; -moz-border-radius: 0.5rem; -webkit-border-radius: 0.5rem; border-radius: 0.5rem; }
.common .btnZone input { background: #1C287B; color: #fff; }
.common .btnZone a { background: #dee2e6; color: #fff; }
.common .btnZone a * { background: none; font-family: inherit; font-size: inherit; color: inherit; left: initial; height: initial; }
.common .btnZone a:hover { color: inherit; }
.common .btnZone .cancel { background: #e0e0e0; color: #222; }
.common .btnZone .cancel:hover { background: lightgray; }
.common .btnZone .promise { background: #1C287B; color: #fff; }
.common .btnZone .promise:hover { background: #2536a5; }

.sns-login { width: 48rem; margin: 5rem auto; margin-bottom: 0; padding: 0 8rem; }
.sns-login h6 { position: relative; z-index: 1; color: #555; font-weight: 700; margin: 0 auto; margin-bottom: 4rem; text-align: center; }
.sns-login h6:before { content: ''; position: absolute; top: 50%; left: 50%; z-index: 0; width: 48rem; height: 1px; background: #ddd; transform: translate(-50%, 0); }
.sns-login h6 span { position: relative; z-index: 1; display: inline-block; background: #fff; padding: 0 1.5rem; font-size: 1.8rem; }
.sns-login div { width: 100%; height: 5.5rem; cursor: pointer; font-weight: 400; text-align: center; border: 1px solid rgba(0, 0, 0, 0.2); margin-top: 1.5rem; overflow: hidden; }
.sns-login a { color: inherit; width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; }
.sns-login a i { width: 5.5rem; height: 5.5rem; border-right: 1px solid rgba(0, 0, 0, 0.15); font-size: 4.4rem; display: flex; justify-content: center; align-items: center; }
.sns-login a span { width: 26.5rem; display: block; font-size: 1.65rem; }
.sns-login .kakao { background: #fee500; color: rgba(0, 0, 0, 0.85); }
.sns-login .naver { background: #03c75a; color: #fff; }
.sns-login .google { background: #fff; }
.sns-login .google i { position: relative; color: transparent; background: url("/images/login/google.svg") no-repeat center/60%; }
.sns-login .facebook { background: #3b5998; color: #fff; }

.admin .input-wrap label input { width: 100%; padding: 0 2.1rem; }

#login .input-wrap label input { padding-left: 6rem; }

#idpw { flex-direction: column; }
#idpw h2, #idpw h2 + p { text-align: left; }
#idpw .wrap { padding: 3rem 0; }
#idpw .input-wrap { width: 100%; }
#idpw .input-wrap .button { width: 100%; }
#idpw .input-wrap p.text-box { width: 100%; height: 13.4rem; border: 2px solid #dee2e6; margin-top: 3.75rem; display: flex; justify-content: center; align-items: center; font-size: 1.65rem; color: #222; }

/*배경색 있음*/
#contain_wrap { background: #f5f5f5; overflow: hidden; }

.common { width: 96rem; background: #fff; display: flex; justify-content: center; align-items: center; margin: 0 auto; margin-bottom: 5%; padding: 6rem 0; }

.footer { border-top: 1px solid #e6e6e6; }
