$facebook: #1877f2;
$facebook-old: #3b5998;

$twitter: #1da1f2;

$youtube-red: #ff0000;
$youtube-black: #282828;

$instagram-magenta: #c32aa3;
$instagram-blue: #4c5fd7;
$instagram-purple: #7232bd;
$instagram-orange: #f46f30;
$instagram-yellow: #ffdc7d;

$google-red: #ea4335;
$google-yellow: #fbbc05;
$google-green: #34a853;
$google-blue: #4285f4;
$google-plus: #db4437;

$telegram: #0088cc;

$kakao-yellow: #fee500;
$kakao-black: #000000;
$kakao-label: rgba(#000000, 85%);

$naver-green: #03c75a;

$twitch: #6441a5;