@import 'mixin-custom';

.board {

	input,
	textarea {
		&::placeholder {
			color: material-color('grey', '400');
			font-size: $font-size;
			line-height: 1.5;
			white-space: normal;
		}

		&::-webkit-input-placeholder {
			color: material-color('grey', '400');
			font-size: $font-size;
			line-height: 1.5;
			white-space: normal;
		}

		&::-moz-input-placeholder {
			color: material-color('grey', '400');
			font-size: $font-size;
			line-height: 1.5;
			white-space: normal;
		}

		&::-ms-input-placeholder {
			color: material-color('grey', '400');
			font-size: $font-size;
			line-height: 1.5;
			white-space: normal;
		}
	}
}

#contain {
	color: #222;

	.board-title {
		font-size: $font-size * 1.5;
		text-align: center;
		padding-bottom: rem(50px);
	}
}

.board {
	.button {
		@include button($basic);
		margin: 0;
		height: $input-height - rem(25px);

		&.admin {
			@include button($admin);
		}

		&.write {
			@include button($write);
		}

		&.answer {
			@include button($answer);
		}

		&.delete {
			@include button($delete);
		}

		&.edit {
			@include button($edit);
		}

		&.save {
			@include button($save);
		}
	}
}

.board {
	th,
	td {
		font-size: $font-size;
		font-weight: 400;
		height: $input-height - rem(10px);
		color: #333;
		padding: 0 $font-size;
	}

	td {
		border: none;
		padding: $font-size;

		&.contentTD2 {
			border-bottom: 1px solid material-color('grey', '300');
			padding: $font-size * 2 $font-size;
		}

		&.contentTD3 {
			padding: {
				left: 0;
				right: 0;
			}
		}

	}

	thead {
		tr {}

		th {
			font-weight: 500;
		}
	}

	tbody {
		tr {}

		td a {
			color: #333;

			&:hover {
				color: #1e2e71;
				text-decoration: underline;
			}
		}

		&.no {
			color: #aaa;
		}

		&.subject {
			color: #444;
		}
	}

	.nothing {
		height: 150px;
		text-align: center;
	}

	tfoot td {
		text-align: right;
		border: none;

		padding: $font-size {
			right: 0;
		}

		;
	}
}

.board {

	.notice1 a,
	.notice2 a,
	.notice3 a,
	.notice4 a {
		color: #505050;
	}

	.notice1 a:hover,
	.notice2 a:hover,
	.notice3 a:hover,
	.notice4 a:hover {
		color: #528979;
		text-decoration: underline;
	}

	.table_for {

		th,
		td {
			text-align: center;
			//height: 25px;

			&.subject {
				text-align: left;
			}
		}
	}

	.cnt {
		font-size: 8pt;
		color: #ff3c00;
		font-weight: normal;

		strong {
			font-weight: normal;
			font-family: verdana;
		}
	}

	.contentTD {
		text-align: $default-css !important;
		border-color: #ebebeb;
		line-height: 0;
	}

	&.reply {
		.title {
			input {
				&[type="text"] {
					width: 100%;
				}
			}
		}
	}

	td {
		label {
			@include inline-flex;
			margin-left: 10px;
			vertical-align: middle;

			.input_radio {
				margin-top: 0;
				margin-right: 5px;
			}
		}
	}
}

#contain {
	.board {
		@include table-color(material-color('grey'));
		// @include table-color-wrap($wrap: true);
		margin: 0 auto;
		text-align: left;
		&.write {
			@include table-color-wrap($wrap: true);
			width: 900px;
			tbody {
				th {
					background: material-color('grey', '100');
				}
			}
		}
		&.modify {
			@include table-color-wrap($wrap: true);
			width: 900px;
			tbody {
				th {
					background: material-color('grey', '100');
				}
			}
		}
	}
}

#contain {
	#forum.board {

		// @include table-color(material-color('grey'));

		&.view {
			td:not(.contentTD) {
				border: none;
			}

			.contentTD {
				border-color: #ebebeb;
			}

			tr {
				border-top-color: #ccc;
				border-bottom-color: #ccc;
			}
		}

		&.write {
			.contentTD {
				font-size: 0;
				// padding: rem(15px) 0;
			}
		}
	}
}

.prenext {
	td {
		height: $input-height - rem(15px);
		a {
			color: #333;
			&:hover {
				color: #222;
				text-decoration: underline;
			}
		}
	}

	.tit {
		background-color: transparent;
		color: $main-color;
		font-weight: 500;
	}

	.subject {
		color: #999;
	}
}


/*마이오피스*/
#contain_M {
	.board {
		@include table-color(material-color('grey'));
		// @include table-color-wrap($wrap: true);
		// &.write {
		// 	@include table-color-wrap($wrap: true);
		// 	tbody {
		// 		th {
		// 			background: material-color('grey', '100');
		// 		}
		// 	}
		// }
		// &.modify {
		// 	@include table-color-wrap($wrap: true);
		// 	tbody {
		// 		th {
		// 			background: material-color('grey', '100');
		// 		}
		// 	}
		// }
	}
}

#contain_M {
	#forum.board {

		@include table-color(material-color('grey'));

		&.view {
			td:not(.contentTD) {
				border: none;
			}

			.contentTD {
				border-color: #ebebeb;
			}

			tr {
				border-top-color: #ccc;
				border-bottom-color: #ccc;
			}
		}

		&.write {
			.contentTD {
				font-size: 0;
				// padding: rem(15px) 0;
			}
		}
	}
}