@import 'mixin-custom';
//@import 'language';

$input-height: rem(45px);

.nonDisplay {
	display: none;
}

/*#mypage {margin-top: 20px;}*/
#contain {
	padding-top: 0;
}

#content_M {
	padding: $font-size * 2 $font-size * 4 !important;
}

#mypage {
	width: auto;
	padding: 0;
	display: $default-css;
	.wrap {
		width: $inner / 1.5;
	}
	h6 {
		text-align: left;
		padding: $font-size 0;
		font-size: $font-size * 1.2;
		//margin-bottom: $font-size;
		border-bottom: 1px solid material-color('grey', '500');
	}
	.detail_btn {
		@include inline-flex;
		//width: 100%;
		height: $input-height;
		line-height: 1.5;
		padding: rem(5px) rem(10px);
		cursor: pointer;
		z-index: 2;
		color: grayscale($main-color);
		font-size: $font-size - rem(2px);
		font-weight: 500;
		border: 1px solid lighten(grayscale($main-color), 10);
		background: transparent;
		@include rounded(rem(5px));
		vertical-align: top;
		word-break: keep-all;
		white-space: $default-css;

		&:hover {
			background: $main-color;
			border-color: $main-color;
			color: #fff;
			box-shadow: none;
		}

		&.noline {
			border: none;
			background: material-color('grey', '600');
			color: #fff;

			&:hover {
				background: $oc-indigo-5;
			}
		}
		&.width100 {
			margin-top: $font-size;
		}

		&.qr {
			width: 100%;
		}
		&.red {
			background: material-color('pink');
			&:hover {
				background: material-color('pink', '700');
			}
		}
		&.green {
			background: material-color('green');
			&:hover {
				background: material-color('green', '700');
			}
		}
		&.blue {
			background: material-color('blue');
			&:hover {
				background: material-color('blue', '700');
			}
		}
		&.purple {
			background: material-color('purple');
			&:hover {
				background: material-color('purple', '700');
			}
		}
	}
}

#mypage {
	label.checkbox {
		cursor: pointer;
		color: $parent-css;
		font-size: $font-size;
		font-weight: 500;
		@include position;
		@include inline-flex;
		height: $input-height;
		vertical-align: middle;

		i {
			color: material-color('grey', '400');
			font-size: $font-size - rem(3px);
			margin-right: $font-size / 2;
			// @include transition(all, .1s);
		}

		span {
			@include flex;
			@include position;
			// @include transition(all, .1s);
			width: 100%;
			height: 100%;
			padding: rem(5px) rem(15px);
			background: material-color('grey', '100');
			border: 1px solid material-color('grey', '300');
			@include rounded(0);
		}

		input {
			@include position(absolute);
			visibility: hidden;
			z-index: -1;

			&:checked {
				$common-button-color: $oc-blue-7;
				&~span {
					//font-weight: 700;
					color: #fff;
					background: $common-button-color;
					border-color: darken($common-button-color, 10);

					i {
						color: $parent-css;
					}
				}
			}
		}
	}

	article {
		padding: $font-size + rem(5px) 0;
		&:first-of-type {
			padding-top: 0;

			h5 {
				padding-top: 0;
			}
		}
		> div {
			// @include flex;
			// justify-content: space-between;
			// align-items: center;
			border-bottom: 1px solid material-color('grey', '200');

			@include flex($st);
			padding: 0 $font-size;

			&:first-child {
				border-top: 1px solid material-color('grey', '500');
			}

			&:last-child {
				//border-bottom: 1px solid material-color('grey', '500');
			}

			&.dwrap {
				//display: $default-css;
				border: $default-css;
				padding: $default-css;

				> div {
					@include flex($bet);
					border-bottom: 1px solid material-color('grey', '200');
					.con {
						flex: 1;
					}
					padding: 0 $font-size * 2;
				}
			}

			&.drow {
				//display: $default-css;
				padding: 0 $font-size;
				border-bottom: 1px solid material-color('grey', '200');
				@include flex;

				> div {
					@include flex;
					width: 50%;
					border: $default-css;
					padding: 0 $font-size;
					h5 {
						flex: 0.2;
					}
				}
			}
			
			h5 {
				font-weight: 500;
				color: material-color('grey', '700');
				text-align: right;
				font-size: $font-size;
				//flex: 0.2;
				padding-right: $font-size * 2;
				word-break: keep-all;

				flex: 0.11;
			}
			.con {

				flex: 0.8;
				//margin: 0;
				text-align: left;
				font-weight: 500;
				font-size: $font-size + rem(1px);
				min-height: $input-height;
				padding: $font-size - rem(5px) 0;
				.summary {
					font-size: $font-size - rem(2px);
					font-weight: 400;
					color: material-color('grey', '500');
					text-align: left;
					width: 100%;
					line-height: 2;

					&.red {
						color: material-color('red');
					}
					&.blue {
						color: material-color('blue');
					}
				}

				.input_select, .input_text {
					border: 1px solid material-color('grey', '400');
					padding: 0 rem(10px);
					//width: $input-width;
					width: 100%;
					height: $input-height;
					font-size: $font-size;
					@include rounded(rem(0px));
					background: #fff;
				}
				.input_select {
					cursor: pointer;
				}
				.input_text {
					&:read-only {
						background: material-color('grey', '200');
						outline: none;
					}
				}
				.button {
					@include button($oc-indigo-9);
                    justify-content: center;
					margin: 0;
					min-width: rem(100px);
					width: calc(25% - #{$font-size - rem(10px)});
					height: $input-height;
					font-size: $font-size;
					@include rounded(0);
					word-break: keep-all;
					white-space: $default-css;
					padding: 0 rem(10px);
				}

				.inputs {
					@include inline-flex;
					width: calc(75% - #{$font-size - rem(10px)});

					span {
						margin: $font-size / 1.5;
					}

					input {
						width: 50%;
					}

					& ~ .detail_btn {
						width: 25%;
					}
				}
				.selects {
					@include inline-flex;
					width: 100%;
					//margin-right: $font-size / 2;
					flex: 1;

					span {
						margin: $font-size / 1.5;
					}

					select {
						width: 50%;
						margin-left: $font-size / 2;

						&:first-child {
							margin-left: 0;
							flex: auto;
							width: 100%;
						}
					}
				}
			}
		}

		.id {
			.detail_btn {
				margin-left: $font-size;
			}
		}

		.password {
			@include flex(flex-start);
			padding: 0 $font-size;
			h5 {
				flex: 0.11;
				//flex: $default-css;
			}
			.con {
				width: 50%;
			}
			input {
				&[type="password"] {
					width: 44%;
				}
			}
			label {
				margin-left: rem(5px);
			}
		}

		#bodyPass {
			background: material-color('grey', '50');
		}

		.number {
			.con {
				@include flex($bet);
				flex-wrap: wrap;


			}
		}
		.name {
			.con {
				font-size: 0;
				.input_text {
					width: calc(50% - #{$font-size - rem(10px)});
					&:first-child {
						margin-right: $font-size - rem(5px);
					}
				}
			}
		}

		.address {
			flex-direction: column;
			padding: 0;
			> div {
				width: 100%;
				&:first-child {
					.con {
						font-size: 0;
						@include flex(flex-start);
						.input_text {
							//margin-bottom: $font-size;
							&:first-child {
								width: calc(35% - #{$font-size - rem(10px)});
							}
							&:last-child {
							}
						}
						.button {
							margin: 0 $font-size - rem(5px);
						}
					}

				}
			}
		}

		.radio {
			.con {
				@include inline-flex(flex-start);
				width: 100%;
				height: $input-height - rem(10px);
			}
			&.birth {
				padding-right: 0;
				.con {
					align-items: center;
					// flex-wrap: wrap;
					padding: 0;
					p {
						//width: 100%;
						margin-right: auto;
					}
					.labels {
						//flex: auto;
						display: inline-block;
						margin-right: rem(15px);
						label {
							&:last-of-type {
								margin-left: rem(5px);
							}
						}
					}
				}
			}
			// input:checked {
			// 	& ~ * {
			// 		color: mix($main-color, $sub-color);
			// 		font-weight: 500;
			// 	}
			// }
		}
		
		.pin {
			.con {
				@include inline-flex($bet);

				input {
					flex: 1;
				}
				span {
					margin: 0 $font-size / 2;
				}
			}
		}

		#googleAuth {
			width: 100%;
			@include inline-flex($bet, $st);
			flex-wrap: wrap;
			.qr {
				margin-bottom: $font-size;
			}
			.inputs {
				margin-bottom: $font-size;
				input {
					flex: 1;
					margin-left: $font-size;
				}

				&:only-child {
					margin-bottom: 0;
				}
			}
			.ok {
				@include inline-flex($st);
				width: 100%;

				p {
					margin-right: $font-size;
				}
			}
		}

		.wallet {
			.detail_btn {
				&.blue {
					width: 100%;
				}
			}
			.con {
				div {
					span {
						font-size: $font-size;
					}
					.detail_btn {
						margin-top: $font-size;
						width: 100%;
					}
				}
			}
		}

		.mobile {
			.con {
				.selects {
					width: 100%;
					@include inline-flex;
				}
				.inputs {
					width: calc(65% - #{rem(5px)});
					input {
						width: 100%;
					}
					margin-right: rem(5px);
				}
				.button {
					width: calc(35% - #{rem(5px)});
				}
				#authStatus {
					text-align: center;
					// background: material-color('red', '50');
					//border: 2px solid material-color('red', '100');
					font-size: $font-size;
					font-weight: 700;
					line-height: 1.2;
					#emailCheckTXT {
						margin: rem(5px) 0;
						display: inline;
					}
				}
			}
		}

		.email {
			.con {
				@include inline-flex($bet);

				// input {
				// 	width: 33%;
				// 	flex: auto;
				// }

				.selects {
					margin-left: $font-size / 2;
					width: 33%;
					flex: auto;
				}
			}
		}

		.birth {
			.selects {
				margin-bottom: $font-size;
			}
		}

		h4 {
			font-weight: 400;
			color: material-color('grey', '800');
			font-size: $font-size + rem(2px);
			margin-bottom: $font-size;
		}

		.bank {
			.dwrap {
				width: 100%;
				flex-direction: column;
			}
			.con {
				flex: 1;
				border-top: 1px solid material-color('grey', '200');
				&:nth-of-type(1) {
					border: none;
				}
			}
			.bankText {
				@include flex(flex-start);
				span {
					margin-right: $font-size;
				}
				.button {
					margin-left: $font-size;
				}

			}


			#bankReg {
				@include flex($st);
				flex-direction: column;

				.regInfo {
					//padding: $font-size 0;
					@include flex($st);
					width: 100%;

					
					input, select {
						margin-right: $font-size / 2;
						width: calc(50% - #{$font-size});
					}

					#bankInfo {
						font-size: $font-size;
						margin-top: $font-size;
					}
				}
				span.regInfo {
					font-size: $font-size;
					margin-top: $font-size;
				}
			}

			& ~ #bankReg {
				.inputs {
					width: calc(85% - #{rem(10px)});
					.input_select {
						width: calc(50% - #{rem(5px)});
						margin-right: rem(10px);
					}
				}
				.button {
					margin-left: rem(5px);
				}
				p.regInfo {
					margin-top: rem(10px);
				}
				#cpnoCheck {
					margin-top: auto;
				}
			}
		}

		.voter {
			.con {
				@include flex(space-between);
				flex-wrap: wrap;
				flex: 1;

				p {
					//font-size: $font-size;
				}

				.button {
					margin-left: $font-size * 2;
					width: calc(15% - #{$font-size / 2});
				}
			}
		}

		#cpno {
			.button {
				width: auto;
				margin-left: rem(5px);
			}
		}
	}

	.agreeArea {
		flex-direction: column;
		padding: $font-size;
		margin-top: $font-size;
		.title {
			@include flex(space-between);
			width: 100%;
		}
	}
		
	.agreeBox {
		@include position;
		z-index: 1;
		border: 1px solid material-color('grey', '400');
		width: 100%;
		height: $input-width / 2;
		//padding: rem(50px);
		margin: rem(20px) auto;
		// overflow-x: hidden;
		// overflow-y: scroll;
		scroll-behavior: smooth;
		//@include rounded;
		@include transition(all, .3s);
		text-align: left;

		&:before, &:after {
			//content: '';
			@include position(absolute, $le: 0);
			z-index: 2;
			width: $input-width * 2 - rem(100px) - rem(15px);
			height: 5%;
		}
		&:before {
			top: 0;
			background: linear-gradient(180deg, #fff, transparent);
		}
		&:after {
			bottom: 0;
			background: linear-gradient(0deg, #fff, transparent);
		}

		.agree_content {
			@include position;
			z-index: 1;
			width: 100%;
			height: 100%;
			padding: rem(30px);
			overflow-x: hidden;
			overflow-y: scroll;
			font-size: $font-size - rem(1px);
			color: material-color('grey', '800');

			b {
				//color: mix($main-color, #000, 50%);
				//color: saturate(invert($main-color), 50%);
				font-size: $font-size + rem(1px);
				font-weight: 500;
				overflow: hidden;
			}
			
			&::-webkit-scrollbar {
				@include position;
				width: rem(15px);
				z-index: 2;
			}
			&::-webkit-scrollbar-thumb {
				background: mix($main-color, material-color('grey', '400'), 0%);
				background-clip: padding-box;
				border: rem(0px) solid transparent;
				//@include rounded($radius: 10rem);
			}
			&::-webkit-scrollbar-track {
				background: material-color('grey', '100');
				//@include rounded;
				//@include position;
				z-index: 1;
			}
		}
	}

	.btnZone {
		@include flex($bet);
		width: 100%;
		//flex-direction: column;
		// width: calc(#{$inner / 2} + 5%);

		a, input {
			@include inline-flex;
			max-width: calc(50% - #{rem(20px)});
			width: 30%;
			height: $input-height + rem(15px);
			margin: round($font-size / 2) auto;
			background: transparent;
			font-size: round($font-size * 1.2);
			cursor: pointer;
			font-family: $parent-css;
			border: none;
			@include rounded(rem(5px));

			@include unify-parent('input') {
				background: $main-color;
				color: #fff;
			}

			@include unify-parent('a') {
				background: $sub-color;
				//border: 1px solid $sub-color;
				color: #fff;

				* {
					background: none;
					font-family: $parent-css;
					font-size: $parent-css;
					color: $parent-css;
					left: $default-css;
					height: $default-css;
				}
			}
		}

		a:hover {
			color: $parent-css;
		}

		.cancel {
			background: material-color('grey', '300');
			color: #222;
			&:hover {
				background: darken(material-color('grey', '300'),5);
			}
			//width: $input-width / 2;
		}
		.promise {
			background: $main-color;
			color: #fff;
			&:hover {
				background: lighten($main-color,5);
			}
		}
	}

	.reset_wrap {
		width: 100%;
		margin: 0 auto {
			top: rem(20px);
		};
		padding: rem(25px);
		text-align: center;
		background: material-color('grey', '100');
		@include rounded(rem(5px));

		> p {
			padding: rem(10px) 0 rem(20px) 0;
		}

		.btns {
			@include flex;
			justify-content: center;
			align-items: center;

			input {
				box-sizing: border-box;
				margin: rem(10px) $font-size;
				min-width: $inner / 4;
				height: $input-height;
			}
		}
	}
}

.modal {
	* {
		word-wrap: break-word;
		word-break: keep-all;
	}

	.close {
		.icon-cancel {
			@include position(absolute, $top: 0, $ri: 0);
			color: #222;
			font-size: $font-size + rem(10px);
			padding: rem(10px);
			cursor: pointer;
		}
	}

	h6 {
		text-align: left;
		padding: $font-size 0;
		//margin-bottom: $font-size;
		font-size: $font-size * 2;
		color: #222;
		//border-bottom: 1px solid material-color('grey', '500');
	}
	.detail_btn {
		@include inline-flex;
		justify-content: center;
		align-items: center;
		//width: 100%;
		height: $input-height;
		line-height: 1.5;
		padding: rem(5px) rem(10px);
		cursor: pointer;
		z-index: 2;
		vertical-align: middle;
		color: grayscale($main-color);
		font-size: $font-size - rem(2px);
		font-weight: 500;
		border: 1px solid lighten(grayscale($main-color), 10);
		background: transparent;
		@include rounded(rem(5px));

		&:hover {
			background: $main-color;
			border-color: $main-color;
			color: #fff;
			box-shadow: none;
		}

		&.noline {
			border: none;
			background: material-color('grey', '600');
			color: #fff;

			&:hover {
				background: $oc-indigo-5;
			}
		}
		&.width100 {
			margin-top: $font-size;
		}

		&.qr {
			width: 100%;
		}
		&.red {
			background: material-color('pink');
			&:hover {
				background: material-color('pink', '700');
			}
		}
		&.green {
			background: material-color('green');
			&:hover {
				background: material-color('green', '700');
			}
		}
		&.blue {
			//background: material-color('blue');
			background: $main-color;
			&:hover {
				//background: material-color('blue', '700');
				background: darken($main-color, 10);
			}
		}
		&.purple {
			background: $sub-color;
			&:hover {
				background: darken($sub-color, 10);
			}
		}
	}
	article {
		padding: $font-size + rem(5px) 0;
		> div {
			@include flex;
			justify-content: space-between;
			align-items: center;
			border-bottom: 1px solid material-color('grey', '200');

			&:first-child {
				border-top: 1px solid material-color('grey', '500');
			}

			&:last-child {
				//border-bottom: 1px solid material-color('grey', '500');
			}
			
			h5 {
				font-weight: 500;
				color: material-color('grey', '700');
				text-align: right;
				font-size: $font-size;
				flex: 0.2;
				padding-right: $font-size * 2;
				word-break: keep-all;
			}
			.con {
				flex: 0.8;
				//margin: 0;
				text-align: left;
				font-weight: 500;
				font-size: $font-size + rem(3px);
				min-height: $input-height;
				padding: $font-size 0;
				.summary {
					font-size: $font-size - rem(2px);
					font-weight: 400;
					color: material-color('grey', '500');
					text-align: left;
					width: 100%;
					line-height: 2;

					&.red {
						color: material-color('red');
					}
					&.blue {
						color: material-color('blue');
					}
				}

				.input_text {
					border: 1px solid material-color('grey', '400');
					padding: $font-size;
					//width: $input-width;
					width: 100%;
					height: $input-height;
					font-size: $font-size;
					@include rounded(rem(5px));
				}
				.input_text {
					&:read-only {
						background: material-color('grey', '200');
						outline: none;
					}
				}
				.button {
                    @include button($oc-indigo-5);
					@include inline-flex;
					margin: 0;
					width: calc(25% - #{$font-size - rem(10px)});
					height: $input-height;
					font-size: $font-size;
					@include rounded(rem(5px));
					padding: $font-size;
					word-break: keep-all;
					white-space: $default-css !important;
				}

				.inputs {
					@include inline-flex;
					align-items: center;
					width: calc(75% - #{$font-size - rem(10px)});

					span {
						margin: $font-size / 1.5;
					}

					input {
						//width: 50%;
					}

					& ~ .detail_btn {
						width: 25%;
					}
				}
			}
		}

		.id {
			.detail_btn {
				margin-left: $font-size;
			}
		}
	}

	.btnZone {
		@include flex;
		flex-direction: column;
		justify-content: center;
		padding: {
			top: $font-size * 2;
			bottom: $font-size * 2;
		}
		width: 100%;

		a, input {
			@include inline-flex;
			justify-content: center;
			align-items: center;
			width: $input-width / 1.5;
			height: $input-height;
			margin: $font-size / 2 auto;
			background: transparent;
			font-size: $font-size * 1.2;
			cursor: pointer;
			font-family: $parent-css;
			border: none;
			@include rounded(rem(5px));

			@include unify-parent('input') {
				background: $main-color;
				color: #fff;
			}

			@include unify-parent('a') {
				background: $sub-color;
				//border: 1px solid $sub-color;
				color: #fff;

				* {
					background: none;
					font-family: $parent-css;
					font-size: $parent-css;
					color: $parent-css;
					left: $default-css;
					height: $default-css;
				}
			}
		}

		a:hover {
			color: $parent-css;
		}

		.cancel {
			background: material-color('grey', '300');
			color: #222;
			&:hover {
				background: darken(material-color('grey', '300'),5);
			}
			//width: $input-width / 2;
		}
		.promise {
			background: $common-button-color;
			color: #fff;
			&:hover {
				background: lighten($common-button-color,10);
			}
		}
	}
}

#mypage {
	.btn_area {
		padding: 30px 0px;
	}

	.c_s_title {
		font-size: 20px;
		font-weight: 600;
		padding: 5px 0px;
		color: #333333;
	}

	.c_s_title2 {
		font-size: 15px;
		font-weight: 500;
		padding: 0px;
		color: #262626;
		text-align: center;
		padding-bottom: 50px;
	}

	&.member_modify .nodata {
		padding: 40px 10px;
	}

	.cardinfo {
		th {
			border-bottom: 1px solid #e0e0e0;
			padding: 12px 8px;
			background: #e9e9e9;
			text-align: center;
		}

		td {
			border-bottom: 1px solid #e0e0e0;
			padding: 12px 8px;
		}

		.input_text {
			border: 1px solid #ddd;
			vertical-align: middle;
			line-height: 24px;
			height: 24px;
			padding-left: 4px;
		}
	}
}

/* 약관 */

table {
	font-size: 10pt;
}