@import 'mixin-custom';

$input-width: $inner / 2.5;
$input-height: rem(60px);
$input-height-50: rem(50px);
$common-button-color: material-color('brown');
$nav-color-200: saturate(lighten($nav-color, 65), 5);
$nav-color-200-d: darken($nav-color-200, 10);
$nav-color-600: saturate(lighten($nav-color, 10), 25);

.orderList {
	// @include table-color($myoffice-color, true);

	.titles {
		@include position;
		line-height: 1;
		a {
			$myoffice-color: adjust-hue($myoffice-color, -50deg);
			@include button(#fff);
			@include inline-flex;
			height: rem(40px);
			font-size: $font-size - rem(1px);
			float: right;
			border-color: mix($myoffice-color, #fff, 30);
			color: $myoffice-color;
			font-weight: 700;
			margin-top: rem(-15px);
			margin-bottom: rem(15px);

			i {
				margin-right: rem(5px);
			}

			&:hover {
				background: mix($myoffice-color, #fff, 5);
				color: $myoffice-color;
			}
		}
	}

	&.cms {
		.titles {
			padding-top: $font-size;
		}
		.input_text {

		}
		table {
			width: 100%;
			margin: $font-size 0;
		}
		.table1 {
			@include table-color(material-color('amber', '900'), true);
			@include table-color-wrap(material-color('amber', '900'), true, 'darken');
			th, td {
				height: $input-height-50;
			}
		}
		.table2 {
			@include table-color(material-color('green', '900'), true);
			@include table-color-wrap(material-color('green', '900'), true, 'darken');
			th, td {
				height: $input-height-50;
			}
		}
		.table3 {
			@include table-color(material-color('light-green', '900'), true);
			@include table-color-wrap(material-color('light-green', '900'), true, 'darken');
			th, td {
				height: $input-height-50;
			}
			td {
				text-align: left;
			}
		}
		.table4 {
			@include table-color(material-color('blue', '900'), true);
			@include table-color-wrap(material-color('blue', '900'), true, 'darken');
			th, td {
				height: $input-height-50;
			}
			.inPrice {
				text-align: right;
			}
			.input_submit {
				width: 100%;
				padding: 0 5px;
				@include flex;
				height: auto;
				min-height: $input-height / 2;
				line-height: 1.2;
			}

			tfoot {
				$table-color: mix(#fff, $nav-color-600, 90);
				$table-color-darken: darken($table-color, 10);
				$table-color-grey: mix(material-color('grey', '300'), $table-color, 50);
				$table-text: mix(#000, $table-color-darken, 50);
				color: $table-text;
				th {
					&:first-of-type {
						border-left: none;
					}
					&:last-of-type {
						border-right: none;
					}
				}
				td {
					&:first-of-type {
						border-left: none;
					}
					&:last-of-type {
						border-right: none;
					}
				}
				th, td {
					background: $table-color;
					font-weight: 500;
					border: 1px solid $table-color-darken;
					border-bottom: none;
					height: rem(50px);
					border-top: 1px solid $table-color-darken !important;
				}
				td {
					text-align: right;
				}
			}
		}
	}
}

#buy.cms {
	.agree_info {
		@include default-0;
		padding: 0;
		font-size: $font-size - rem(1px);
		line-height: 1.5;
		color: $parent-css;
		width: 100%;
		ul {
			border: 1px solid material-color('grey', '300');
			background: material-color('grey', '100');
			width: 100%;
			padding: rem(15px) rem(30px);
			display: block;
		}
		li {
			font-size: $parent-css;
			color: $parent-css;
			text-indent: 0;
			line-height: 1.7;

			&.li_title {
				color: material-color('red', '600');
				font-size: $font-size + rem(1px);
			}
		}
		.agreement {
			margin: rem(15px) 0;
			label {
				font-size: $font-size;
				font-weight: 500;
				color: #444;
			}
			input {
				margin-right: rem(5px);
			}
		}
	}
	// .input_text, .input_select {
	// 	border: 1px solid material-color('grey', '400');
	// 	background: material-color('grey', '50');
	// }
}