# Directories #
/.vscode/
/.well-known/
**/_bin/

adovbs.inc
DbClass.asp
JSON_2.0.4.asp
json2.asp
KISA_SHA256.asp
md5.asp
strText.asp

**/aes/
**/aspnet_client/
**/bk/
**/datepicker/
**/dev/
**/download/
**/error/
**/fonts/
**/images/
**/images*/
**/KISA/
**/logings/
**/log*/

**/xml/
**/백업/
**/*백업*/
**/*_[Bb][Kk]*/
**/MACCO/
**/mail/
**/modP/
**/signature/
**/upload/
**/uploadData/

**/xml/
**/jquery/
**/jquerymobile/

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Files
*.log
*.launch
*.xml
*.bak
*.doc
*.dll
*.exe
*.app
*.pdf
*.swf
*.bat
*.meta
*.obj
*.tmp
*.tmp_proj
*.log
*.scc
X_*.*
bak_*.*
*_bk*.*

global.asa
web.config
smsx.cab


# SQL Server files
*.mdf
*.ldf



