
	.btn_area {padding:15px 0px;}

	th {border:1px solid #ccc; padding:7px 10px; background-color:#eee;}
	td {border:1px solid #ccc; padding:7px 10px;}

	.baseCurrencyInfo {font-weight:bold; font-size:14px;padding:7px 0px;}