@import 'mixin-custom';
$sub-color: $myoffice-color;
#counseling {
	font-size: $font-size;
	margin: 0 auto;
	width: 100%;
	.input_text,
	.input_area,
	.input_select {
		// border: 1px solid material-color('grey', '400');
		border: none;
		background: transparent;
		@include rounded(0);
		height: $input-height;
		font-size: $parent-css;
		line-height: 1.5;
		padding: rem(10px);
		padding-left: rem(20px);
		width: 100%;
		resize: none;
	}
	.input_select {
	}
	.notList {
		@include flex;
		height: calc(#{$contain-height} / 5);
		font-size: $font-size;
		font-weight: 500;
		background: material-color('grey', '50');
		border: 1px solid material-color('grey', '200');
		color: material-color('grey', '900');
	}
	&.cs_list {
		.write {
			width: 100%;
			text-align: center;
			a {
				@include default-a;
				@include inline-flex;
				width: 100%;
				font-size: $font-size;
				background: $main-color;
				height: $input-height;
				color: #fff;

				i {
					margin-right: $font-size;
				}

				&:hover {
					background: lighten($main-color, 5);
				}
			}
			margin-bottom: $font-size;
		}
		ul {}
		li {
			margin-top: -1px;
			a {
				@include default-a;
				display: block;
				width: 100%;
				padding: $font-size;
				border-top: 1px solid material-color('grey', '400');
				border-bottom: 1px solid material-color('grey', '400');
			}
			h6 {
				@include position;
				@include flex($st, $st);
				flex-direction: column;
				font-size: $font-size;
				font-weight: 500;
				p {
					color: material-color('grey');
					font-size: $font-size - rem(5px);
					@include flex($st);

					i {
						width: 2px;
						height: 2px;
						//height: $font-size - rem(7px);
						background: material-color('grey', '300');
						margin: 0 $font-size / 2;
					}
				}
				span {
					@include ellipsis;
					margin: $font-size / 2 0;
					color: #222;
				}
			}
			div {
				@include flex($st);
				color: material-color('grey');
				margin-top: $font-size / 2;
				.answer {
					padding: 0 round($font-size / 4);
					border: 1px solid;
					border-radius: $font-size * 4;
					font-size: $font-size - rem(5px);
					font-weight: 600;
					margin-right: $font-size;
					&.done {
						color: material-color('blue');
						border-color: material-color('blue');

						& + p {
							span {
								@include inline-flex;
							}
						}
					}
					&.not {
						color: material-color('red');
						border-color: material-color('red');

						& + p {
							span {
								display: none;
							}
						}
					}
				}
				p {
					color: material-color('grey');
					font-size: $font-size - rem(5px);
					@include inline-flex;

					span {
					}

					i {
						width: 2px;
						height: 2px;
						//height: $font-size - rem(7px);
						background: material-color('grey', '300');
						margin: 0 $font-size / 2;
					}
				}
			}
		}
	}
}
#counseling {
	&.cs_view {
		div {
			h6 {
				@include position;
				@include flex($st, $st);
				flex-direction: column;
				font-size: $font-size + rem(5px);
				font-weight: 500;
				color: material-color('grey', '900');
				padding: $font-size;
				border-top: 1px solid material-color('grey', '400');
				border-bottom: 1px solid material-color('grey', '400');

				p {
					color: material-color('grey');
					font-size: $font-size;
					@include flex($st);

				}
				i {
					width: 2px;
					height: 2px;
					//height: $font-size - rem(7px);
					background: material-color('grey', '300');
					margin: 0 $font-size / 2;
				}
				span {
					margin-top: $font-size / 2;
				}
			}
			.content {
				padding: $font-size;
				min-height: auto;
				font-size: $font-size;
			}
			.file {
				@include flex($st, $st);
				flex-direction: column;
				font-size: $font-size - rem(2px);
				//margin-bottom: $font-size / 4;

				a {
					@include default-a;
					@include flex($st, $st);
					width: 100%;
					padding: $font-size / 2 $font-size;
					color: material-color('grey', '600');
					background: material-color('grey', '200');
				}
				h6 {
					color: $parent-css;
					font-size: $parent-css;
					border: none;
					padding: 0;
					line-height: 1.5;
					flex-direction: row;
					align-items: center;
					white-space: nowrap;
				}
				p {
					color: material-color('grey', '800');
					font-weight: 600;
					@include ellipsis;
				}
				span {
					color: material-color('red');
					font-size: $font-size - rem(3px);
					margin-left: $font-size / 2;
					white-space: nowrap;
				}
			}
		}
		.replyInfo {
			@include flex;
			//height: calc(var(--contain-height) - #{$input-height} * 6);
			height: $input-height;
			font-size: $font-size;
			font-weight: 500;
			background: material-color('grey', '50');
			border: 1px solid material-color('grey', '200');
			color: material-color('grey', '900');
			margin-top: $font-size * 2;
		}
		.replyInfo2 {
			@include position;
			margin-top: $font-size * 2;
			padding: $font-size;
			border: 1px solid material-color('grey', '400');
			// border-top: 1px solid material-color('grey', '400');
			// border-bottom: 1px solid material-color('grey', '400');
			background: material-color('grey', '50');

			h6, .content {
				padding: 0;
			}

			h6 {
				border: none;
			}
			.content {
				padding: $font-size 0;
			}
			.file {
				//padding-top: $font-size / 2;
			}
		}
	}
}
#counseling {
	&.cs_write {
		// overflow: hidden;
		input, select, textarea {
			width: 100%;
			// height: 100%;
			&:disabled {
				background: material-color('grey', '100');
			}
		}
		input {
			height: $input-height;
		}
		.info {
			border: 1px solid material-color('grey', '100');
			background: material-color('grey', '50');
			font-size: $font-size;
			padding: $font-size;
			margin-bottom: $font-size * 2;
			margin-top: $font-size;
			// margin-left: 20%;

			li {
				text-indent: $font-size / -2;
				margin-left: $font-size / 2;
			}
		}

		.board {
			width: 100%;
			// @include table-color;
			tr {
				border-top: 1px solid material-color('grey', '300');
				border-bottom: 1px solid material-color('grey', '300');
			}
			padding: 0;
			th {
				text-align: right;
				font-size: $font-size - rem(3px);
				font-weight: 500;
				padding-right: rem(10px);
				background: none !important;
				color: material-color('grey');
			}
			td {
				//height: auto;
				padding: 0;
				font-size: $font-size;
			}
			.category {
				div {
					@include flex;
					width: 100%;
					margin: rem(10px) 0;
					.input_select {
						background: #fff;
						width: calc(50% - #{rem(5px)});
						height: $input-height - rem(5px);
						border: 1px solid material-color('grey', '400');
						cursor: pointer;
						padding-left: rem(10px);
						&:first-child {
							margin-right: rem(10px);
						}
					}
				}
			}
			.title {
				td {
					//height: $input-height + rem(10px);
				}
			}
			.contents {
				td {
					height: $input-height * 5;
					font-size: 0;
					textarea {
						font-size: $font-size;
						height: 100%;
					}
				}
			}
			.file {
				td {
					padding: 0 rem(10px);
					font-size: $parent-css;
					div {
						@include flex($st);
						width: 100%;
						height: 100%;
						margin: rem(10px) 0;
					}
					input.active {
						&::placeholder {
							color: material-color('grey', '800');
							font-weight: 500;
						}

						&::-webkit-input-placeholder {
							color: material-color('grey', '800');
							font-weight: 500;
						}

						&::-moz-input-placeholder {
							color: material-color('grey', '800');
							font-weight: 500;
						}

						&::-ms-input-placeholder {
							color: material-color('grey', '800');
							font-weight: 500;
						}
					}
				}
				.upload-name {
					@include default-0;
					@include inline-flex;
					// width: 50%;
					width: calc(100% - #{rem(140px)});
					height: round($input-height / 1.2);
					padding: $font-size / 2;
					border: 1px solid material-color('grey', '300');
				}
				label {
					@include button;
					@include inline-flex;
					height: round($input-height / 1.2);
					margin-left: rem(10px);
					width: rem(130px);

					input {
						&[type="file"] {
							@include position(absolute);
							visibility: hidden;
							width: 0;
							height: 0;
						}
					}
				}

				&.disabled {
					background: material-color('grey', '100');
					label {
						background: mix(material-color('grey', '100'), #212121, 50);
						border-color: mix(material-color('grey', '100'), #080808, 50);
					}
					td {
						@include position;
						&:after {
							@include presudo($le: 0, $top: 0);
							z-index: 1;
						}
					}
				}

			}

			// &.movie {
			// 	th {
			// 		vertical-align: baseline;
			// 	}

			// 	td {
			// 		height: auto;
			// 		flex-wrap: wrap;

			// 		p {
			// 			margin-top: $font-size / 2;
			// 			color: material-color('blue');
			// 		}
			// 	}

			// 	label {
			// 		margin: 0;
			// 		margin-right: $font-size / 2;

			// 		input:checked {
			// 			&~* {
			// 				color: material-color('indigo', '600');
			// 				font-weight: 500;

			// 			}

			// 			~span {
			// 				&:before {
			// 					background: material-color('indigo', '50');
			// 					border-color: material-color('indigo', '50');
			// 				}
			// 			}
			// 		}
			// 	}

			// 	input[type="text"] {
			// 		@include default-0;
			// 		@include inline-flex;
			// 		height: $input-height / 1.2;
			// 		padding: $font-size / 2;
			// 		border: 1px solid material-color('grey', '300');
			// 		flex: 1;
			// 	}
			// }
			.member {
				&.disabled {
					background: material-color('grey', '100');
				}
				td {
					div {
						@include inline-flex;
						width: 100%;
						height: 100%;
						font-size: $font-size;
						&:first-of-type {
							// border-right: 1px solid material-color('grey', '200')
						}
					}

					label {
						border: none;
						width: 100%;
						justify-content: $st;
						margin: $font-size / 2 0;
						cursor: $default-css;
					}

					input {
						padding-left: rem(20px);
						&[type="checkbox"] {
							@include position(absolute);
							visibility: hidden;
							z-index: -1;
							color: material-color('grey', '500');

							& ~ i {
								color: material-color('grey', '600');
								background: material-color('grey', '100');
								@include rounded(100%);
								width: $font-size;
								height: $font-size;
								@include flex;
							}
							& ~ span {
								//font-weight: 700;

								&:before {
									content: none;
								}
							}

							&:checked {
								& ~ i {
									color: $main-color;
									background: none;
								}
								& ~ span {
									//font-weight: 700;
									color: $main-color;
								}
							}
						}
					}
				}
			}
			.mypage {
				border-bottom: none;
				td {
					text-align: center;
					font-size: $font-size;
					padding: $font-size 0;

					div {
						padding: $font-size / 2;
						background: material-color('blue-grey', '50');
						height: $input-height;
						@include flex;
					}

					a {
						color: material-color('indigo', '600');
					}
				}
			}
		}

		.btnArea {
			width: 100%;
			text-align: center;
			margin-top: 22px;
			padding-top: 28px;
			padding-bottom: 45px;
			border-top: 1px dashed #d7d7d7;

			.a_submit {
				display: inline-block;
				padding: 0px 15px;
				vertical-align: middle;
				cursor: pointer;
				text-align: center;
				font-size: 14px;
			}

			.design1 {
				background-color: #337ab7;
				border: 1px solid #2e6da4;
				border-radius: 3px;
				color: #fff !important;
				font-weight: normal;
				line-height: 48px;
				width: 150px;
				height: 50px;
			}

			.design2 {
				background-color: #f9f9f9;
				border: 1px solid #cccccc;
				border-radius: 3px;
				color: #666 !important;
				font-weight: normal;
				line-height: 48px;
				width: 150px;
				height: 50px;
			}
		}
	}

	.btnZone {
		@include flex;
		padding: {
			top: rem(50px);
			bottom: rem(50px);
		}
		width: 100%;

		a, input {
			@include inline-flex;
			@include default-0;
			@include rounded;
			// width: rem(210px);
			// width: calc(50% - #{rem(10px)});
			width: 50%;
			height: $input-height;
			// margin: 0 rem(10px);
			cursor: pointer;
			font-size: $font-size + rem(2px);
			line-height: 1.5;
			text-align: center;
			@include transition(all .3s);
			text-decoration: none;
			&:first-child {
				margin-right: rem(20px);
			}
			
			&.button {
				@include button($basic);
				margin: 0;
				width: rem(150px);
				height: $input-height - rem(10px);
				font-size: 12px;

				&.admin {
					@include button($admin);
				}

				&.answer {
					@include button($answer);
				}

				&.delete {
					@include button($delete);
				}

				&.edit {
					@include button($edit);
				}

				&.save {
					@include button($save);
				}
			}
		}

		a:hover {
			//color: $parent-css;
		}

		.cancel {
			background: material-color('grey', '300');
			color: #222;
			&:hover {
				background: darken(material-color('grey', '300'),5);
			}
		}
		.promise {
			background: $main-color;
			color: #fff;
			&:hover {
				background: lighten($main-color,10);
				color: #fff;
			}
		}

	}
}

.pagingNew3 {
	padding-bottom: rem(50px);
}