@import '../../scss/_mixin-unit.scss';
@import '../../scss/_mixin-basic.scss';
@import '../../scss/_palette-custom.scss'; //주색상 설정은 여기서

$line-height: 1.5;
$images: '/images';
$vendors: "-moz-", "-webkit-", "";
$default-css: initial;
$parent-css: inherit;
$inner: rem(640px);
$font-size: rem(25px);

$top-height: rem(130px);
$input-width: $inner - rem(160px);
$input-height: round($font-size * 2.8);

$contain-height: calc(var(--c-vh, 1vh) * 100);
$footer-height: calc(var(--f-vh, 1vh) * 100);

$common-font-color: #212121;
$common-button-color: material-color('indigo', '400');
$input-width: $inner / 2.5;
$input-height: rem(80px);
$nav-color: #333645;
$nav-color-200: saturate(lighten($nav-color, 65), 5);
$nav-color-200-d: darken($nav-color-200, 10);
$nav-color-600: saturate(lighten($nav-color, 10), 25);
$contain: rem(640px);

$join-color-1: $main-color;
$join-color-2: $oc-gray-7;

$plus-color: mix(#fff, $oc-blue-5, 90);
$minus-color: mix(#fff, $oc-red-5, 90);

$myoffice-color: $myoffice-color3;