@import 'mixin-custom';
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap');

$font-size: $font-size - rem(1px);

.plan {
	/*font-family: 'Noto Serif KR', 'Pretendard', 'Roboto', 'Noto Sans KR', sans-serif;*/
	font-family: 'Noto Serif KR', 'Pretendard', 'Roboto', 'Noto Sans KR', sans-serif;
	@include position;
	font-size: $font-size;
	line-height: $parent-css;
	text-align: center;
	& > div {
		font-size: $font-size * 2;
		margin-bottom: $font-size;
		font-weight: 300;
		color: #000;
		span {
			@include position;
			&:before {
				@include presudo($le: 0, $bot: 0, $h: 40%);
				background: $main-color;
				opacity: 0.2;
				z-index: -1;
			}
		}
	}
	.blue {
		color: $oc-blue-7;
	}
	> .img {
		img {
			width: 100%;
		}
	}
	article {
		margin: $font-size * 2 auto;
		width: 100%;
		+ h1 {
			margin-top: rem(50px);
		}
	}
	h1 {
		font-size: $font-size + rem(5px);
		font-weight: 600;
		color: #222;
	}
	h2 {
		font-weight: 700;
		font-size: $font-size + rem(10px);
		margin: $font-size + rem(8px) 0;
		text-align: left;
	}
	section {
		margin: rem(100px) auto;
		color: #222;
		p {
			font-size: $font-size + rem(1px);
		}
	}
	p {
		word-break: keep-all;
	}
	b {
		font-weight: 600;
	}
	.big {
		font-size: $font-size + rem(5px);
		font-weight: 700;
	}
	ul {
		margin: $font-size auto;
		text-align: left;
		width: 100%;
		& > li {
			padding-left: $font-size;
			text-indent: $font-size / -1;
			word-break: keep-all;
			margin: rem(5px) 0;

			p {
				font-size: $font-size - rem(1px);
			}
		}
	}
	ol {
		padding: $font-size / 2 $font-size;
		li {
			color: material-color('grey', '600');
			word-break: keep-all;
		}
	}
	table {
		font-family: 'Pretendard', 'Roboto', 'Noto Sans KR', sans-serif;
		margin: $font-size auto;
		@include table-color-wrap($oc-gray-8, true);
		// width: auto;
		font-size: $font-size - rem(5px);
		text-align: center;
		th, td {
			word-break: keep-all;
			height: $input-height - rem(5px);
			padding: rem(5px);
		}
		td[rowspan="8"] {
			border-bottom: none;
			border-right: 1px solid #d9d9da !important;
		}
		thead th {
			width: 33%;
		}
		tbody th:first-of-type {
			border-right: 1px solid #d9d9da;
		}
		tbody th {
			font-weight: 400;
			color: $oc-gray-8;
		}
	}
	.word {
		@include inline-flex($st, $st);
		border: 1px solid material-color('grey', '300');
		background: material-color('grey', '50');
		padding: $font-size;
		ol {
			b {
				color: material-color('grey', '700');
				padding-left: rem(10px);
				@include position;
				&:before {
					@include presudo($le: 0, $top: 50%, $w: rem(4px), $h: rem(4px));
					@include transform(translateY(-50%));
					background: material-color('grey', '500');
				}
			}
		}	
	}

	// .txt {
	// 	@include inline-flex($st, $st);
	// 	border: 1px solid material-color('grey', '400');
	// 	background: material-color('grey', '100');
	// 	padding: $font-size;
	// 	flex-direction: column;

	// }

	.grade {
		ul {
			display: grid;
			align-items: center;
			grid-template-areas:
			'g1 g2 g3 g4'
			'g1 g2 g5 g6'
			;
		}
		li {
			// width: 20%;
			@include inline-flex;
			padding: 0;
			margin: 0 rem(20px);
			text-indent: 0;
			flex-direction: column;
			@include position;
			&:first-of-type {
				margin-left: 0;
				grid-area: g1;
				p {
					margin-bottom: 0;
				}
			}

			&:nth-of-type(2) {
				grid-area: g2;
			}
			&:nth-of-type(3) {
				grid-area: g3;
			}
			&:nth-of-type(4) {
				grid-area: g4;
			}
			&:nth-of-type(5) {
				grid-area: g5;
				p {
					margin-bottom: 0;
				}
			}
			&:nth-of-type(6) {
				grid-area: g6;
				p {
					margin-bottom: 0;
				}
			}

			.img {
				@include flex;
				width: rem(90px);
				height: rem(90px);
				padding: 0;
				text-indent: 0;
				@include rounded(100%);
				background: #f9f9f9;

				img {
					width: 50%;
					height: 50%;
					object-fit: contain;
				}
			}
			p {
				margin: $font-size 0;
			}
		}
		.line {
			margin: 0 rem(40px);
			width: 1px;
			height: rem(305px);
			border-right: 1px dashed #cecece;
		}
	}
}

.grid-container {
	display: grid;
	width: 100%;
	margin: rem(30px) 0;

	> div {
		@include inline-flex;
		flex-direction: column;
		margin: rem(10px) auto;

		.img {
			@include flex;
			width: rem(50px);
			height: rem(50px);
			@include rounded(100%);
			background: #fafafa;

			img {
				width: 50%;
				height: 50%;
				object-fit: contain;
			}
		}
		p {
			margin: rem(10px) auto;
			font-weight: 500;
			font-size: $font-size - rem(10px);
		}

	}
}

.general {
	.grid-container {
		@for $i from 1 through 2 {
			.row#{$i} {
				@for $x from 1 through 8 {
					&.item#{$x} {
						grid-area: unquote("g#{$i}#{$x}");
					}
				}
			}
		}

		grid-template-areas:
		'. . . g11 g11 . . .'
		'g21 g22 g23 g24 g25 g26 g27 g28';
	}
}

.director {
	.grid-container {
		width: 100%;
		@for $i from 1 through 2 {
			.row#{$i} {
				@for $x from 1 through 4 {
					&.item#{$x} {
						grid-area: unquote("g#{$i}#{$x}");
					}
				}
			}
		}
		grid-template-areas:
		'. . . g11 g11 g11 . .'
		'g21 g22 g23 . . g24 g24 g24';

		grid-template-columns: repeat(8, 1fr);
	}
	.row2.item4 {
		@include position;

		.memo {
			font-family: 'Pretendard', 'Roboto', 'Noto Sans KR', sans-serif;
			font-feature-settings: $default-css;
			@include position(absolute, $le: 50%, $top: 80%);
			@include inline-flex;
			flex-direction: column;
			width: 250%;
			font-weight: 600;
			color: $main-color;
			word-break: keep-all;
			b {
				font-size: $font-size * 2;
				line-height: 1;
			}
		}
	}
}

.images {
	.txt {
		$color: mix($oc-gray-0, $main-color, 100);
		flex-direction: column;
		font-size: $font-size * 1.2;
		margin: $font-size auto;
		@include inline-flex;
		width: auto;
		padding: $font-size*1.2 $font-size *2;
		// box-shadow: 10px 10px 10px $color;
		border: 1px solid darken($color, 5);
		background: $color;
		@include rounded(rem(8px));

		p {
			font-size: $parent-css;
			font-weight: 500;
			margin-bottom: rem(5px);
		}
		span {
			font-weight: 700;
		}
	}
}

section {
	&.txts {
		ul {
			font-size: $font-size + rem(5px);
			li {
				margin: $font-size 0;

				> p {
					margin: rem(5px) 0;
					font-size: $parent-css;
					margin-left: $font-size;
				}
			}
		}
		.txt {
			font-size: $font-size * 1.2;
			@include inline-flex;
			flex-direction: column;
			// width: auto;
			width: 100%;
			margin: $font-size auto;
			padding: $font-size*1.2 $font-size *2;
			border-top: 1px solid $oc-gray-4;
			border-bottom: 1px solid $oc-gray-4;
			p {
				font-size: $parent-css;
				font-weight: 500;
				margin: rem(5px) 0;
			}
			span {
				font-size: $font-size * 1.2 + rem(5px);
				font-weight: 700;
				display: inline-block;
				margin: rem(5px) 0;
				padding: 0 rem(10px);
				@include position;
				
				&:before {
					@include presudo($le: 0, $bot: 0, $h: 50%);
					z-index: -1;
					// background: $oc-gray-0;
					background: rgba($main-color, 0.1);
				}
			}

			ul {
				margin-top: $font-size * 2;
				margin-bottom: 0;
				width: auto;

				li {
					margin: rem(10px) 0;
				}
			}
		}
	}
}

.section_last {
	// @include flex($bet);
	$color: mix(material-color('grey', '50'), #fff, 50);
	
	tr {
		&:nth-child(even) {
			background: $color;
		}
	}
	td {
		word-break: keep-all;
		&[rowspan="6"] {
			// vertical-align: top;
		}
		div {
			@include flex;
			flex-direction: column;
			margin-bottom: auto;
			min-height: rem(150px);
		}
		p {
			margin: rem(10px) 0;
			font-size: $parent-css;
		}
	}
	.txt {
		$color: darken($color, 10);
		flex-direction: column;
		font-size: $font-size * 1.2;
		margin: $font-size auto;
		@include inline-flex($st, $st);
		width: auto;
		padding: $font-size*1.2 $font-size *2;
		box-shadow: 10px 10px 0px $color;
		border: 1px solid darken($color, 5);
		text-align: left;
		// background: $color;
		// @include rounded(rem(8px));

		p {
			font-size: $parent-css;
			font-weight: 500;
			margin: rem(5px) 0;
		}
		span {
			margin: rem(5px) 0;
			// font-weight: 700;
		}
	}
}

.only_text {
	font-family: 'Noto Serif KR', 'Pretendard', 'Roboto', 'Noto Sans KR', sans-serif;
	font-size: $font-size + rem(5px);
	text-align: center;
	// background: #000;
	// color: rgba(#fff, 0.8) !important;
	padding: rem(30px);
	div {
		font-size: $font-size * 2;
		font-weight: 600;
		color: #fff;
	}
	p {
		margin-top: rem(10px);
	}
}


.article01 {
	section {
		&:nth-of-type(1) {
			table {
				thead {
					th {
						&:first-of-type {
							width: 10%;
						}			
					}
				}
			}
		}
		&:nth-of-type(2) {
			// width: 900px;
		}
	}
}

// .article02 {
// 	section {
// 		&:nth-of-type(1) {
// 			width: 800px;
// 		}
// 		&:nth-of-type(2) {
// 			width: 800px;
// 		}
// 	}
// }

// .article03 {
// 	section {
// 		&:nth-of-type(1) {
// 			width: 800px;
// 		}
// 		&:nth-of-type(2) {
// 			width: 800px;
// 		}
// 	}
// }

// .article04 {
// 	section {
// 		&:nth-of-type(1) {
// 			width: 800px;
// 		}
// 		&:nth-of-type(2) {
// 			width: 800px;
// 		}
// 	}
// }

// .article05 {
// 	section {
// 		&:nth-of-type(1) {
// 			width: 800px;
// 		}
// 		&:nth-of-type(2) {
// 			width: 800px;
// 		}
// 	}
// }

.article06 {
	section {
		&:nth-of-type(2) {
			.txt {
				span:before {
					content: none;
				}
			}
		}
	}
}

/*타이틀 옆 아이콘*/
h2 {
	@include flex($st);
	.img {
		$size: $font-size + rem(10px);
		width: $size;
		height: 100%;
		// padding: rem(10px);
		@include inline-flex;
		margin-right: rem(10px);

		img {
			width: 100%;
			height: 80%;
			object-fit: contain;
		}
	}
}

.article02 {
	h2 {
		.img {
			img {
				margin-top: rem(5px);
			}
		}
	}
}

.article04 {
	h2 {
		.img {
			img {
				width: 90%;
			}
		}
	}
}

.article05, .article06 {
	h2 {
		.img {
			$size: $font-size + rem(10px);
			width: $size + rem(5px);
			img {
				margin-top: rem(5px);
				height: 100%;
			}
		}
	}
}

.article09 {
	section {
		margin-bottom: 0;
	}
}

.article03 {
	text-align: left;
	section {
		margin-bottom: 0 !important;
	}
	h2 {
		flex-direction: column;
		align-items: flex-start;
		span {
			display: block;
			font-size: $font-size;
			font-weight: 400;
			margin-bottom: rem(10px);
			color: $oc-gray-5;
		}
		.img {
			img {
				margin-top: rem(5px);
			}
		}
		& ~ p {
			width: 50%;
		}
	}
	ul {
		margin-top: rem(30px);
		@include flex(center, $st);
		flex-wrap: wrap;
		> li {
			padding-left: 0;
			text-indent: 0;
			@include inline-flex($st);
			flex-direction: column;
			text-align: center;
			width: 50%;
			margin: $font-size 0;

			.img {
				width: 100%;
				height: rem(70px);
				text-align: center;
				margin-bottom: rem(10px);
			}
			h6 {
				margin-bottom: rem(20px);
				font-size: $font-size + rem(2px);
				
				& + div {
					padding: rem(10px) rem(15px);
					background: $oc-gray-1;
				}
			}
		}
	}
	.only_text {
		font-size: $font-size + rem(5px);
		width: 100%;
	}
}

.article04 {
	margin: 0 !important;
	section {
		margin: 0;
		margin-bottom: -1px;
		padding: rem(50px) 0;
		width: 100%;
		border-top: 1px solid $oc-gray-2;
		border-bottom: 1px solid $oc-gray-2;
		@include flex($st);
		flex-direction: column;

		// &:first-of-type {
		// 	border-top: none;
		// }
		&:last-of-type {
			border-bottom: none;
		}
		.txt {
			width: 100%;
			span {
				font-size: $font-size + rem(5px);
				font-weight: 800;
				font-family: 'Pretendard', 'Roboto', 'Noto Sans KR', sans-serif;
				color: $oc-gray-7;
			}
			h5 {
				font-size: $font-size + rem(8px);
				margin-bottom: rem(50px);
			}
		}
		.img {
			width: 100%;
			margin-top: rem(50px);
			img {
				width: 25%;
			}
		}
		.num {
			font-size: $font-size * 3;
			font-weight: 800;
			font-family: 'Pretendard', 'Roboto', 'Noto Sans KR', sans-serif;
			color: rgba(#000, 0.8);

			span {
				@include position;
				&:before {
					@include presudo($le: -10%, $bot: 0, $w: 120%, $h: 50%);
					z-index: 0;
					background: rgba($main-color, 0.1);
				}
			}
		}

		table {
			th {
				width: 50%;
			}
		}
	}

}

.article05 {
	section {
		margin-bottom: 0;
	}
	tr:first-of-type {
		th {
			background: $oc-gray-2;
			font-weight: 600;
		}
	}
	td {
		p {
			margin-bottom: $font-size * 2;
		}
	}
	.txt {
		// margin-top: rem(50px);
		// border: 1px solid $oc-gray-2;
	}
	.only_text {
		font-size: $font-size + rem(5px);
		flex-direction: column;
		margin-top: $font-size * 2;
		border: none;
		div {
			color: #000;
		}
	}
}

.table {
	overflow: auto;

	&::-webkit-scrollbar {
		@include position;
		height: rem(14px);
		z-index: 2;
	}

	&::-webkit-scrollbar-thumb {
		// background: mix($main-color, material-color('grey', '400'), 0%);
		// background: map-get($nav-table, 'table-color-wrap');
		background-clip: padding-box;
		border: rem(3px) solid transparent;
		@include rounded($radius: rem(14px));
		cursor: pointer;
	}

	&::-webkit-scrollbar-track {
		background: material-color('grey', '100');
		box-shadow: inset 1px 0 0 #aaa;
		// @include rounded;
		// @include position;
		// background: map-get($nav-table, 'table-color-wrap');
		z-index: 1;
	}
}