@import 'mixin-custom';

$common-font-color: #212121;
$input-width: $inner / 2.5;
$input-height: rem(80px);
$input-height-50: rem(50px);
$common-button-color: adjust-hue(invert($main-color), 20deg);

.nonDisplay {
	display: none;
}

/*#mypage {margin-top: 20px;}*/
#contain {
	padding-top: 0;
}

#content_M {
	padding: $font-size * 2 $font-size * 4 !important;
}

#contain_wrap {
    .content {
        //padding-bottom: $footer-height;
        .maps_title {
            display: none;
        }
    }
    form {
        padding: 0;
    }
}

#mypage {
	@include flex;
	width: 100%;
	//padding: 0 $font-size;
	padding: 0;
	.wrap {
		width: 100%;
	}
	h6 {
		text-align: left;
		padding: $font-size 0;
		font-size: $font-size * 1.2;
		//margin-bottom: $font-size;
		border-bottom: 1px solid material-color('grey', '500');
	}
	.detail_btn {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		//width: 100%;
		height: $input-height-50;
		line-height: 1.5;
		padding: rem(5px) rem(10px);
		cursor: pointer;
		z-index: 2;
		color: grayscale($main-color);
		font-size: $font-size - rem(2px);
		font-weight: 500;
		border: 1px solid lighten(grayscale($main-color), 10);
		background: transparent;
		@include rounded(rem(5px));
		vertical-align: top;

		&:hover {
			background: $main-color;
			border-color: $main-color;
			color: #fff;
			box-shadow: none;
		}

		&.noline {
			border: none;
			background: material-color('grey', '600');
			color: #fff;

			&:hover {
				background: material-color('blue-grey', '700');
			}
		}
		&.width100 {
			margin-top: $font-size;
		}

		&.qr {
			width: 100%;
		}
		&.red {
			background: material-color('pink');
			&:hover {
				background: material-color('pink', '700');
			}
		}
		&.green {
			background: material-color('green');
			&:hover {
				background: material-color('green', '700');
			}
		}
		&.blue {
			//background: material-color('blue');
			background: $main-color;
			&:hover {
				//background: material-color('blue', '700');
				background: darken($main-color, 10);
			}
		}
		&.purple {
			background: $sub-color;
			&:hover {
				background: darken($sub-color, 10);
			}
		}
	}
	article {
		padding: $font-size + rem(5px) 0;
		input[type='checkbox'] {
			width: $font-size !important;
			height: $font-size !important;
			margin: 0;
		}
		&:first-of-type {
			padding-top: 0;
		}
		> div {
			// display: flex;
			// justify-content: space-between;
			// align-items: center;
			border-bottom: 1px solid material-color('grey', '200');

			@include flex(center, flex-start);
			flex-direction: column;
			padding: 0 $font-size / 2;

			&:first-child {
				border-top: 1px solid material-color('grey', '500');
			}

			&:last-child {
				//border-bottom: 1px solid material-color('grey', '500');
			}

			&.dwrap {
				//display: $default-css;
				border: $default-css;
				padding: $default-css;

				> div {
					display: flex;
					justify-content: space-between;
					align-items: center;
					width: 100%;
					border-bottom: 1px solid material-color('grey', '200');
					.con {
						flex: 1;
					}
					padding: 0 $font-size / 2;
				}
			}

			h5 {
				font-weight: 500;
				color: material-color('grey', '700');
				text-align: left;
				//flex: 0.2;
				padding-top: $font-size;
				word-break: keep-all;
				width: 100%;
				font-size: $font-size;

				//flex: 0.11;
			}
			.con {

				//flex: 0.8;
				//margin: 0;
				text-align: left;
				font-weight: 500;
				font-size: $font-size;
				min-height: $input-height;
				padding: $font-size 0;
				color: #222;
				width: 100%;
				.summary {
					font-size: $font-size - rem(5px);
					font-weight: 400;
					color: material-color('grey', '500');
					margin-top: $font-size / 2;
					text-align: left;
					width: 100%;

					&.red {
						color: material-color('red');
					}
					&.blue {
						color: material-color('blue');
					}
				}

				.input_select, .input_text {
					border: 1px solid material-color('grey', '400');
					padding: 0 $font-size / 2;
					//width: $input-width;
					width: 100%;
					height: $input-height;
					font-size: $font-size;
					@include rounded(rem(5px));
					background: #fff;
				}
				.input_select {
					cursor: pointer;
				}
				.input_text {
					&:read-only {
						background: material-color('grey', '200');
						outline: none;
					}
				}
				.button {
					@include inline-flex;
					margin: 0;
					//width: calc(50% - #{$font-size - rem(10px)});
					width: 50%;
					height: $input-height;
					font-size: $font-size;
					background: material-color('blue-grey');
					@include rounded(rem(5px));
                    text-align: center;
                    color: #fff;
                    @include font-family('Pretendard');
                    cursor: pointer;
				}

				.inputs {
					@include inline-flex;
					width: calc(75% - #{$font-size - rem(10px)});

					span {
						margin: $font-size / 1.5;
					}

					input {
						width: 50%;
					}

					& ~ .detail_btn {
						width: 25%;
					}
				}
				.selects {
					display: inline-flex;
					width: 100%;
					//margin-right: $font-size / 2;
					flex: 1;

					span {
						margin: $font-size / 1.5;
					}

					select {
						width: 50%;
						margin-left: $font-size / 2;

						&:first-child {
							margin-left: 0;
							flex: auto;
							width: 100%;
						}
					}
				}
			}

			&.drow {
				flex-direction: $default-css;
				justify-content: flex-start;
				align-items: center;
				h5 {
					width: 30%;
					padding: 0;
					padding-right: $font-size;
				}
				.con {
					@include inline-flex(flex-start);
				}
			}
		}


		.id {
			.detail_btn {
				margin-left: $font-size;
			}
		}

		.password {
			@include flex(flex-start);
			padding: 0 $font-size / 2;
			h5 {
				//flex: 0.11;
				//flex: $default-css;
			}
			.con {
				//width: 50%;
				flex: 1;
			}
			input {
				&[type="password"] {
					width: 100%;
				}
			}
			label {
				display: inline-flex;
				justify-content: flex-start;
				align-items: center;
				cursor: pointer;
				font-size: $font-size - rem(5px);
				//margin-top: $font-size;
				margin-top: $font-size / 2;

				input {
					margin-right: $font-size / 2;
				}
			}

		}

		#bodyPass {
			flex-direction: column;
			padding: 0 $font-size;
			background: material-color('grey', '50');
			> div {
				width: 100%;
				&:first-of-type {
					.con {
						border-bottom: 1px solid material-color('grey', '200');
					}
				}
			}
		}

		.number {
			.con {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;


			}
		}
		.name {
			.con {
				font-size: 0;
				.input_text {
					width: calc(50% - #{$font-size - rem(10px)});
					&:first-child {
						margin-right: $font-size - rem(5px);
					}
				}
			}
		}

		.address {
			.con {
				font-size: 0;
				@include flex(flex-start);
				flex-wrap: wrap;
				.input_text {
					//margin-bottom: $font-size;
					&:first-of-type {
						width: calc(50% - #{$font-size - rem(5px)});
					}
					&:last-of-type {
						margin-top: $font-size / 2;
					}
				}
				.button {
					margin-left: round($font-size / 2);
					width: calc(50% + #{round($font-size / 2)});
				}
				input.button {
					margin-left: 0;
				}
			}
		}

		#cpno {
			.inputs {
				width: calc(75% - #{$font-size});
				span {
					margin: rem(10px);
					font-size: $font-size;
				}
			}
			.con {
				font-size: 0;
				.button {
					width: 25%;
					margin-left: $font-size;
				}
			}
		}

		@include media($max: 576px) {
			#cpno {
				h5 {
					width: auto;
				}
				.con {
					.inputs {
						width: 100%;
					}
					.button {
						width: 100%;
						margin: 0;
						margin-top: $font-size / 1.5;
					}
				}
			}
		}

		.radio {
			.con {
				@include inline-flex(flex-start);
				//width: 100%;
				//height: $input-height - rem(10px);
			}
			label {
				cursor: pointer;
				color: #212121;
				font-weight: 500;
				@include position;
				@include inline-flex;
				font-size: $font-size - rem(2px);
				padding: 5px;
				padding-right: 10px;
				margin: 0;
				margin-left: $font-size / 2;

				i {
					color: material-color('grey', '600');
					font-size: $font-size - rem(3px);
					margin-right: $font-size / 2;
					@include transition(all, .1s);
					@include position;
					z-index: 2;
				}

				span {
					@include position;
					@include transition(all, .1s);
					z-index: 1;
					&:before {
						@include presudo($ri: -10px, $bot: -5px, $w: calc(100% + 10px + #{$font-size * 2}), $h: calc(100% + 10px));
						//background: rgba($main-color, 10%);
						background: material-color('grey', '100');
						@include transition(all, .1s);
						z-index: -1;
						@include rounded(rem(5px));
					}
				}

				input {
					&[type="radio"] {
						@include position(absolute);
						visibility: hidden;
						z-index: -1;

						&:checked {
							& ~ i {
								color: #fff;
							}
							& ~ span {
								//font-weight: 700;
								color: #fff;
								//background: $main-color;

								&:before {
									//width: calc(100% + #{$font-size * 2});
									color: #fff;
									background: $common-button-color;
									//opacity: 0;
								}
							}
						}
					}
				}
			}
			&.birth {
				//padding-right: 0;
				.con {
					align-items: center;
					flex-wrap: wrap;
					//padding: 0;
					p {
						//width: 100%;
						margin-right: $font-size / 2;
						flex: 1;
					}
					div {
						//flex: auto;
						display: inline-block;
						//margin-bottom: $font-size / 2;
						margin-right: $font-size * 3;
						p {
							//padding: $font-size / 2 $font-size;
							//background: material-color('grey', '100');
							font-size: $font-size + rem(2px);
							font-weight: 500;
						}
					}
                    label {
                        margin: 0;
                        margin-right: $font-size / 2;
                    }
				}
			}
			// input:checked {
			// 	& ~ * {
			// 		color: mix($main-color, $sub-color);
			// 		font-weight: 500;
			// 	}
			// }
		}
		
		.pin {
			.con {
				display: inline-flex;
				justify-content: space-between;
				align-items: center;

				input {
					flex: 1;
				}
				span {
					margin: 0 $font-size / 2;
				}
			}
		}

		#googleAuth {
			width: 100%;
			display: inline-flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: flex-start;
			.qr {
				margin-bottom: $font-size;
			}
			.inputs {
				margin-bottom: $font-size;
				input {
					flex: 1;
					margin-left: $font-size;
				}

				&:only-child {
					margin-bottom: 0;
				}
			}
			.ok {
				display: inline-flex;
				justify-content: flex-start;
				align-items: center;
				width: 100%;

				p {
					margin-right: $font-size;
				}
			}
		}

		.wallet {
			.detail_btn {
				&.blue {
					width: 100%;
				}
			}
			.con {
				div {
					span {
						font-size: $font-size;
					}
					.detail_btn {
						margin-top: $font-size;
						width: 100%;
					}
				}
			}
		}

		.mobile {
			.con {
				.input_text {
					//margin-bottom: $font-size;
					&:first-of-type {
						width: 70%;
					}
					&:last-of-type {
						margin-top: $font-size / 2;
					}
				}
				.button {
					//margin-left: round($font-size / 2);
					width: calc(30% - #{round($font-size / 2)});
					float: right;
				}

				#authStatus {
					text-align: center;
					font-size: $font-size;
					font-weight: 700;
					line-height: 2;
					margin: rem(10px) 0;
					background: material-color('red', '50');
				}
			}
		}

		.tel {
			.con {
				flex: 1;
			}
		}

		.email {
			.con {
				display: inline-flex;
				justify-content: space-between;
				align-items: center;

				span {
					margin: 0 $font-size / 2;
				}

				input {
					width: 33%;
					flex: auto;
				}

				.selects {
					margin-left: $font-size / 2;
					width: 33%;
					flex: auto;
				}
			}
		}

		.birth {
			.selects {
				margin-bottom: $font-size;
			}
		}

		h4 {
			font-weight: 400;
			color: material-color('grey', '800');
			font-size: $font-size + rem(2px);
			margin-bottom: $font-size;
		}

		.bank {
			.dwrap {
				width: 100%;
				flex-direction: column;
			}
			.con {
				flex: 1;
				border-top: 1px solid material-color('grey', '200');
				&:nth-of-type(1) {
					border: none;
				}
				
				.button {
					margin-top: $font-size;
					width: 100%;
				}
			}
			.bankText {
				@include flex(flex-start);
				span {
					margin-right: $font-size;
				}
				.button {
					margin-left: $font-size;
				}

			}


			#bankReg {
				@include flex(flex-start);
				flex-direction: column;

				.regInfo {
					//padding: $font-size 0;
					@include flex(flex-start);
					width: 100%;

					
					input, select {
						margin-right: $font-size / 2;
						width: calc(50% - #{$font-size});
					}

					#bankInfo {
						font-size: $font-size;
						margin-top: $font-size;
					}
				}
				span.regInfo {
					font-size: $font-size;
					margin-top: $font-size;
				}
			}

			& ~ #bankReg {
				.con {
					.inputs {
						width: 100%;
						flex-direction: column;
						.input_select {
						}
						input, select {
							margin-bottom: $font-size / 2;
							width: 100%;
						}
					}
					.button {
						width: 100%;
						margin-bottom: $font-size / 2;
					}
				}
			}
		}

		.voter {
			.con {
				@include flex(space-between);
				flex-wrap: wrap;
				flex: 1;

				p {
					//font-size: $font-size;
					// margin-right: rem(30px);
					margin-bottom: rem(10px);
				}

				.button {
					// width: calc(15% - #{$font-size / 2});
					// flex: auto;
				}
			}
		}
	}

	.agreeArea {
		flex-direction: column;
		padding: $font-size $font-size / 2;
		margin-top: $font-size;
		.title {
			@include flex(space-between);
			width: 100%;
			
			label {
				cursor: pointer;
				color: #212121;
				font-weight: 500;
				@include position;
				@include inline-flex;
				font-size: $font-size - rem(2px);
				margin-right: 0;
				padding: 5px;
				padding-right: 10px;


				i {
					color: material-color('grey', '600');
					font-size: $font-size - rem(5px);
					margin-right: $font-size / 2;
					@include transition(all, .1s);
					@include position;
					z-index: 2;
				}

				span {
					@include position;
					@include transition(all, .1s);
					z-index: 1;
					&:before {
						@include presudo($ri: -10px, $bot: -5px, $w: calc(100% + 10px + #{$font-size * 2}), $h: calc(100% + 10px));
						//background: rgba($main-color, 10%);
						background: material-color('grey', '100');
						@include transition(all, .1s);
						z-index: -1;
						@include rounded(rem(5px));
					}
				}

				input {
					&[type="checkbox"] {
						@include position(absolute);
						visibility: hidden;
						z-index: -1;

						&:checked {
							& ~ i {
								color: #fff;
							}
							& ~ span {
								//font-weight: 700;
								color: #fff;
								//background: $main-color;

								&:before {
									//width: calc(100% + #{$font-size * 2});
									color: #fff;
									background: $common-button-color;
									//opacity: 0;
								}
							}
						}
					}
				}
			}
		}
	}
		
	.agreeBox {
		@include position;
		z-index: 1;
		border: 1px solid material-color('grey', '400');
		width: 100%;
		height: $input-width;
		//padding: rem(50px);
		margin: rem(20px) auto;
		// overflow-x: hidden;
		// overflow-y: scroll;
		scroll-behavior: smooth;
		//@include rounded;
		@include transition(all, .3s);
		text-align: left;

		&:before, &:after {
			//content: '';
			@include position(absolute, $le: 0);
			z-index: 2;
			width: $input-width * 2 - rem(100px) - rem(15px);
			height: 5%;
		}
		&:before {
			top: 0;
			background: linear-gradient(180deg, #fff, transparent);
		}
		&:after {
			bottom: 0;
			background: linear-gradient(0deg, #fff, transparent);
		}

		.agree_content {
			@include position;
			z-index: 1;
			width: 100%;
			height: 100%;
			padding: rem(30px);
			overflow-x: hidden;
			overflow-y: scroll;
			font-size: $font-size - rem(5px);
			color: material-color('grey', '800');

			b {
				//color: mix($main-color, #000, 50%);
				//color: saturate(invert($main-color), 50%);
				font-size: $font-size + rem(1px);
				font-weight: 500;
				overflow: hidden;
			}
			
			&::-webkit-scrollbar {
				@include position;
				width: rem(15px);
				z-index: 2;
			}
			&::-webkit-scrollbar-thumb {
				background: mix($main-color, material-color('grey', '400'), 0%);
				background-clip: padding-box;
				border: rem(0px) solid transparent;
				//@include rounded($radius: 10rem);
			}
			&::-webkit-scrollbar-track {
				background: material-color('grey', '100');
				//@include rounded;
				//@include position;
				z-index: 1;
			}
		}
	}

	.btnZone {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: {
			//top: $font-size;
			bottom: $font-size;
		}
		width: 100%;

		a, input {
			display: inline-flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: $input-height * 1.2;
			margin: $font-size / 2 auto;
			background: transparent;
			font-size: $font-size * 1.2;
			cursor: pointer;
			font-family: $parent-css;
			border: none;
			@include rounded(rem(5px));

			@include unify-parent('input') {
				background: $main-color;
				color: #fff;
			}

			@include unify-parent('a') {
				background: $sub-color;
				//border: 1px solid $sub-color;
				color: #fff;

				* {
					background: none;
					font-family: $parent-css;
					font-size: $parent-css;
					color: $parent-css;
					left: $default-css;
					height: $default-css;
				}
			}
		}

		a:hover {
			color: $parent-css;
		}

		.cancel {
			background: material-color('grey', '300');
			color: #222;
			&:hover {
				background: darken(material-color('grey', '300'),5);
			}
			//width: $input-width / 2;
		}
		.promise {
			background: $common-button-color;
			color: #fff;
			&:hover {
				background: lighten($common-button-color,10);
			}
		}
	}

	.reset_wrap {
		width: 100%;
		margin: 0 auto {
			top: rem(20px);
		};
		padding: rem(25px);
		text-align: center;
		background: material-color('grey', '100');
		@include rounded(rem(5px));

		> p {
			padding: rem(10px) 0 rem(20px) 0;
		}

		.btns {
			display: flex;
			justify-content: center;
			align-items: center;

			input {
				box-sizing: border-box;
				margin: rem(10px) $font-size;
				min-width: $inner / 4;
				height: $input-height-50;
			}
		}
	}
}

.modal {
	* {
		word-wrap: break-word;
		word-break: keep-all;
	}

	.close {
		.icon-cancel {
			@include position(absolute, $top: 0, $ri: 0);
			color: #222;
			font-size: $font-size + rem(10px);
			padding: rem(10px);
			cursor: pointer;
		}
	}

	h6 {
		text-align: left;
		padding: $font-size 0;
		//margin-bottom: $font-size;
		font-size: $font-size * 2;
		color: #222;
		//border-bottom: 1px solid material-color('grey', '500');
	}
	.detail_btn {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		//width: 100%;
		height: $input-height-50;
		line-height: 1.5;
		padding: rem(5px) rem(10px);
		cursor: pointer;
		z-index: 2;
		vertical-align: middle;
		color: grayscale($main-color);
		font-size: $font-size - rem(2px);
		font-weight: 500;
		border: 1px solid lighten(grayscale($main-color), 10);
		background: transparent;
		@include rounded(rem(5px));

		&:hover {
			background: $main-color;
			border-color: $main-color;
			color: #fff;
			box-shadow: none;
		}

		&.noline {
			border: none;
			background: material-color('grey', '600');
			color: #fff;

			&:hover {
				background: material-color('blue-grey', '700');
			}
		}
		&.width100 {
			margin-top: $font-size;
		}

		&.qr {
			width: 100%;
		}
		&.red {
			background: material-color('pink');
			&:hover {
				background: material-color('pink', '700');
			}
		}
		&.green {
			background: material-color('green');
			&:hover {
				background: material-color('green', '700');
			}
		}
		&.blue {
			//background: material-color('blue');
			background: $main-color;
			&:hover {
				//background: material-color('blue', '700');
				background: darken($main-color, 10);
			}
		}
		&.purple {
			background: $sub-color;
			&:hover {
				background: darken($sub-color, 10);
			}
		}
	}
	article {
		padding: $font-size + rem(5px) 0;
		> div {
			display: flex;
			justify-content: space-between;
			align-items: center;
			border-bottom: 1px solid material-color('grey', '200');

			&:first-child {
				border-top: 1px solid material-color('grey', '500');
			}

			&:last-child {
				//border-bottom: 1px solid material-color('grey', '500');
			}
			
			h5 {
				font-weight: 500;
				color: material-color('grey', '700');
				text-align: right;
				font-size: $font-size;
				flex: 0.2;
				padding-right: $font-size * 2;
				word-break: keep-all;
			}
			.con {
				flex: 0.8;
				//margin: 0;
				text-align: left;
				font-weight: 500;
				font-size: $font-size + rem(3px);
				min-height: $input-height-50;
				padding: $font-size 0;
				.summary {
					font-size: $font-size - rem(1px);
					font-weight: 400;
					color: material-color('grey', '500');
					margin-top: $font-size;
					text-align: left;
					width: 100%;

					&.red {
						color: material-color('red');
					}
					&.blue {
						color: material-color('blue');
					}
				}

				.input_text {
					border: 1px solid material-color('grey', '400');
					padding: $font-size;
					//width: $input-width;
					width: 100%;
					height: $input-height-50;
					font-size: $font-size;
					@include rounded(rem(5px));
				}
				.input_text {
					&:read-only {
						background: material-color('grey', '200');
						outline: none;
					}
				}
				.button {
					display: inline-flex;
					margin: 0;
					width: calc(25% - #{$font-size - rem(10px)});
					height: $input-height-50;
					font-size: $font-size;
					background: material-color('blue-grey');
					@include rounded(rem(5px));
				}

				.inputs {
					display: inline-flex;
					align-items: center;
					width: calc(75% - #{$font-size - rem(10px)});

					span {
						margin: $font-size / 1.5;
					}

					input {
						//width: 50%;
					}

					& ~ .detail_btn {
						width: 25%;
					}
				}
			}
		}

		.id {
			.detail_btn {
				margin-left: $font-size;
			}
		}
	}

	.btnZone {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: {
			top: $font-size * 2;
			bottom: $font-size * 2;
		}
		width: 100%;

		a, input {
			display: inline-flex;
			justify-content: center;
			align-items: center;
			width: $input-width / 1.5;
			height: $input-height;
			margin: $font-size / 2 auto;
			background: transparent;
			font-size: $font-size * 1.2;
			cursor: pointer;
			font-family: $parent-css;
			border: none;
			@include rounded(rem(5px));

			@include unify-parent('input') {
				background: $main-color;
				color: #fff;
			}

			@include unify-parent('a') {
				background: $sub-color;
				//border: 1px solid $sub-color;
				color: #fff;

				* {
					background: none;
					font-family: $parent-css;
					font-size: $parent-css;
					color: $parent-css;
					left: $default-css;
					height: $default-css;
				}
			}
		}

		a:hover {
			color: $parent-css;
		}

		.cancel {
			background: material-color('grey', '300');
			color: #222;
			&:hover {
				background: darken(material-color('grey', '300'),5);
			}
			//width: $input-width / 2;
		}
		.promise {
			background: $common-button-color;
			color: #fff;
			&:hover {
				background: lighten($common-button-color,10);
			}
		}
	}
}

#mypage {
	.btn_area {
		padding: 30px 0px;
	}

	.c_s_title {
		font-size: 20px;
		font-weight: 600;
		padding: 5px 0px;
		color: #333333;
	}

	.c_s_title2 {
		font-size: 15px;
		font-weight: 500;
		padding: 0px;
		color: #262626;
		text-align: center;
		padding-bottom: 50px;
	}

	&.member_modify .nodata {
		padding: 40px 10px;
	}

	.cardinfo {
		th {
			border-bottom: 1px solid #e0e0e0;
			padding: 12px 8px;
			background: #e9e9e9;
			text-align: center;
		}

		td {
			border-bottom: 1px solid #e0e0e0;
			padding: 12px 8px;
		}

		.input_text {
			border: 1px solid #ddd;
			vertical-align: middle;
			line-height: 24px;
			height: 24px;
			padding-left: 4px;
		}
	}
}

/* 약관 */

table {
	font-size: 10pt;
}


@include media(420px) {
	#mypage {
		article {
			.voter {
				.con {
					p {
						// margin-right: rem(30px);
					}

					.button {
						width: calc(30% - #{$font-size / 2});
					}
				}
			}
		}
	}
}

@include media($max: 420px) {
	#mypage {
		article {
			.voter {
				.con {
					p {
						// margin-right: rem(30px);
					}

					.button {
						width: 100%;
					}
				}
			}
		}
	}
}

@include media($max: 360px) {
	#mypage {
		article {
			.radio {
				&.birth {
					.con {
						p {
							width: 100%;
							margin: 0;
							margin-bottom: $font-size / 2;
							flex: auto;
						}
					}
				}
			}
		}

	}
}

@include media($max: 360px) {
	#mypage {
		article {
			.agreeArea {
				.title {
					flex-direction: column;
					align-items: $st;
					h3 {
						margin-bottom: rem(15px);
					}
					label {
						width: 100%;
						span {
							position: $default-css;
							&:before {
								width: 100%;
								height: 100%;
								top: 0;
								left: 0;
							}
						}
					}
				}
			}

			.mobile {
				.con {
					.input_text {
						width: 100% !important;
						margin: 0;
						margin-bottom: rem(10px);
					}
					.button {
						width: 100%;
					}
					#authStatus {
						width: 100%;
						float: left;
					}
				}
			}
		}
	}
}
