@import 'mixin-custom';
$background: mix($main-color, #fff, 5);

* {
	font-family: 'Pretendard', 'Noto Sans KR', sans-serif;
}

#header {
	&::after {
		content: '';
	}
	margin-bottom: 0;
	.navi-left, .navi-right {
		i {
			color: material-color('grey', '800');
		}
	}
	#language {
		display: none;
	}
}

.header {
	.top_menu {
		border-top: none;
		//box-shadow: inset 0 -1px 0 0 rgba(#000, 20%);

		li {
			&.main {
				@include position;
				$top: 0px;

				&:before, &:after {
					content: '';
					@include position(absolute, $le: 50%, $bot: $top);
					//width: calc(100% - 5rem);
					width: calc(100% - 2.5rem);
					//width: 100%;
					height: 3px;
					background: $main-color;
					transform: translateX(-50%);
					opacity: 0;
				}
				&:before {
					top: $top;
					display: none;
				}

				&.select {
					&:before, &:after {
						opacity: 1;
					}
					span {
						color: #000;
						font-weight: 700;
					}
				}
			}
		}
	}
}



/* ALL STYLE */

.width100 {
	width: 100%;
}


/*콘텐츠 영역 */

#contain_wrap {
	@include position;
	max-width: 640px;
	min-height: var(--contain-height);
	height: auto;
	margin: 0 auto;
}


.content {
	@include position;
	width: 100%;
	padding: rem(60px) rem(30px);
}


/*서브타이틀*/

$sub_title-height: rem(240px);

#sub-header {
	@include position;
	width: 100%;
	height: $sub_title-height;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;

	.sub-header-img {
		width: 100%;
		height: 100%;
		@include position(absolute, $le: 50%, $top: 50%);
		z-index: 0;
		transform: translate(-50%, -50%);
	}
	.sub-header-txt {
		@include position;
		z-index: 1;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;

		color: #fff;
		font-size: $sub_title-height * 0.15;
		font-weight: 400;

		.maps_title {
			margin-top: rem(15px);
		}

		&:after {
			content: '';
			z-index: 1;
			width: $sub_title-height * 0.15;
			height: 1px;
			background: #fff;
			margin-top: rem(15px);
		}
	}
}

.notData {
	padding: 30px 0px;
	text-align: center;
}

.inLiImg li img {
	display: block;
}

/*SHOP_CATEGORY*/
$category-height: rem(60px);

.shop_category {
	width: 100%;
	height: $category-height + rem(2px);
	margin: rem(30px) 0;
	//border: 1px solid;
	font-size: 0;
	//background: material-color('grey', '100');
	
	.selects {
		width: calc(100% - 7rem);
		display: inline-table;
		table-layout: fixed;

		td {
			padding: 0;
		}
	}

	select {
		@include default-0;
		background: transparent;
		height: $category-height;
		padding: 0 rem(10px);
		font-size: $font-size;
		border: 1px solid #555;
		width: calc(100% + 1px);
		margin-right: -1px;
		@include rounded(0);
	}
	.search-btn {
		@include position;
		cursor: pointer;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		width: $category-height;
		height: $category-height;
		float: right;
		font-size: $font-size + rem(10px);
		background: $main-color;
		color: #fff;

		input {
			@include position(absolute);
			visibility: hidden;
			width: 100%;
			height: 100%;
			@include default-0;
		}
		i {

		}
	}
}


/*GOODS*/

$color: #111;
$size: $font-size + rem(1px);

	#index {
		padding: 0 rem(30px);
	}

	.goods_wrap {
		font-size: 0;
		width: calc(100% + 20px);
		margin: 0 -10px;
		text-align: left;
	}
	.goods {
		@include position;
		width: 50%;
		display: inline-block;
		font-size: $font-size;
		vertical-align: top;
		min-height: rem(490px);
		// margin: rem(20px) 0;
		// margin-right: ($inner - ($goods * 4)) / 3;
		// margin-bottom: rem(20px);

		&:nth-of-type(2n) {
			margin-right: 0;
		}

		a {
			@include default-a;
			padding: rem(10px);
			display: block;
			color: $color;
		}

		.sale {
			@include position(absolute, $top: $font-size * 1.2, $le: $font-size * 1.2);
			z-index: 1;
			font-size: $font-size * 1.2;
			width: $size * 3;
			height: $size * 3;
			background: darken(invert($main-color), 10);
			color: #fff;
			display: flex;
			justify-content: center;
			align-items: center;
			font-weight: 200;
			border-radius: 100%;
		}

		.img {
			width: 100%;
			height: 0;
			padding-bottom: 100%;
			overflow: hidden;
			@include position;

			//border: 1px solid;
			background: #fafafa;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				margin: {
					top: 50%;
					left: 50%;
				};
				transform: translate(-50%, -50%);
				@include transition(all .3s);
				@include position(absolute);
			}
		}

		&:hover {
			.img {
				&:before {
					opacity: 1;
				}
				&:after {
					opacity: 1;
				}
				img {
					transform: translate(-50%, -50%) scale(1.05);
				}
			}
		}

		.txt {
			letter-spacing: 0;
			line-height: 1.2;
			text-align: left;
			padding-top: rem(20px);
			@include flex($st, $st);
			flex-direction: column;
			min-height: rem(200px);
			.name {
				font-size: $size;
				color: #111;
				@include ellipsis(1);
				letter-spacing: -0.01em;
				font-weight: 600;
				// height: 40px;
			}
			.comment {
				font-size: $size - rem(4px);
				color: #737373;
				margin-top: rem(7px);
				letter-spacing: 0.01em;
				@include ellipsis(2);
			}
			.price {
				margin-top: auto;
				padding-top: rem(15px);
				border-top: 1px solid #e5e5e5;
				width: 100%;
				letter-spacing: -0.01em;
				line-height: 1.2;
				text-align: left;
				@include flex($st, baseline);
				flex-wrap: wrap;
				font-size: $size;
				
				.line {
					color: mix($color, #fff, 50);
					text-decoration: line-through;
					font-size: $size - rem(3px);
					font-weight: 400;
					margin-right: rem(10px);
					// margin-top: rem(5px);

					span {
						color: $parent-css;
						font-size: $parent-css;
						font-weight: $parent-css;
					}
				}

				div {
					font-weight: 500;
					line-height: 1;
					letter-spacing: -0.05em;
					color: #515151;
					font-size: $size - rem(1px);
					span {
						// font-size: rem(21px);
						font-size: $size + rem(2px);
						color: #323232;
						// margin-right: rem(5px);
					}
				}
				.pv {
					width: 100%;
					margin-top: rem(5px);
					// color: invert($main-color);
					color: adjust-hue($main-color, 20deg);
					font-size: $parent-css;
				}
			}
		}
	}

	.pagingNew3 {
		font-size: 0;
		//font-family: 'Roboto', 'Noto Sans KR', sans-serif;
		padding-top: $font-size * 2;
		text-align: center;
	
	
		span {
			@include default-0;
			@include inline-flex;
			@include position;
			width: $font-size * 2 - rem(2px);
			height: $font-size * 2 - rem(2px);
			border: 1px solid transparent;
			border-radius: 100%;
			color: $main-color;
			font-size: $font-size + rem(2px);
			font-weight: 500;
	
			a {
				@include default-0;
				@include default-a;
				height: 100%;
				font-weight: 300;
				color: #6a6a6a;
				display: flex;
				justify-content: center;
				align-items: center;
	
				&:hover {
					color: $main-color;
					text-decoration: none;
					border: none;
				}
			}
	
			&.currentPage {
				//border-color: $main-color;
				//background: $main-color;
				color: $main-color;
				font-weight: 700;
	
				&:after {
					@include presudo($le: 50%, $bot: $font-size / 4);
					width: $font-size - rem(4);
					height: 1px;
					background: $main-color;
					@include transform(translateX(-50%));
				}
			}
			
			&.arrow {
				border: 1px solid material-color('grey', '300');
				border-radius: 100%;
				margin: 0 rem(2.5px);
	
				i {
					font-size: $font-size + rem(2px);
					color: material-color('grey', '300');
				}
	
				&.left {
					i {
						@include transform(translateX(-5%));
					}
				}
				&.right {
					i {
						@include transform(translateX(5%));
					}
				}
				&.margin {
					&.left {
						margin-right: $font-size;
					}
					&.right {
						margin-left: $font-size;
					}
				}
	
				&:hover {
					border-color: material-color('grey', '400');
	
					i {
						color: material-color('grey', '500');
					}
				}
			}
		}
	}

.shopPage {
	* {
		word-wrap: break-word;
		word-break: keep-all;
	}
	$font-size: $font-size + rem(3px);
	@include position;
	font-size: $font-size;
	padding-bottom: rem(80px);
}

/*detailView*/
.detailView {
	.goodsImg {
		width: 100%;
	}

	.goodsTitle {
		width: 100%;
		padding: rem(30px);
		text-align: left;
		
		h2 {
			color: material-color('grey', '900');
			font-size: $font-size + rem(15px);
			line-height: 1.2;
			font-weight: 500;
		}
		p {
			color: material-color('grey', '800');
			margin-top: rem(10px);
		}
	}

	.goodsTxt {
		@include position;
		width: 100%;
		padding: 0 rem(30px);
		text-align: left;
		color: material-color('grey', '800');

		.flags {
			@include position(absolute);
			display: none;
		}

		.sale {
			display: inline;
			color: material-color('orange', '600');
		}

		.price {
			display: block;
			//background: #f9f9f9;
			padding: rem(30px) rem(10px);
			border: 1px solid material-color('grey', '300') {
				left: none;
				right: none;
			};
			font-size: 0;
			li {
				width: 100%;
				display: flex;
				align-items: baseline;
				font-size: $font-size;
			}
			h6 {
				color: material-color('grey', '900');
				font-size: $font-size;
				font-weight: 400;
				flex: 1;
			}
			span {
				font-size: $font-size - rem(2px);
				strong {
					//font-size: $font-size + rem(5px);
					//color: #000;
					display: inline;
					font-size: $default-css;
					letter-spacing: -1px;
				}
			}

			&-default {
				* {
					color: material-color('grey', '500')!important;
					font-weight: 400!important;
					font-size: $font-size;
				}
			}
			&-customer {
				* {
					color: #111!important;
					font-weight: 500;
					font-size: $font-size + rem(10px);
				}
				span {
					strong {
						font-size: $font-size + rem(10px);
						font-weight: 600;
					}
				}
			}
			&-cs {
				* {
					color: material-color('blue', '500')!important;
					font-weight: 400!important;
					font-size: $font-size;
				}
			}
		}

		.fee {
			display: block;
			//background: #f9f9f9;
			padding: rem(30px) 0;
			font-size: 0;
			li {
				width: 100%;
				display: flex;
				align-items: baseline;
				font-size: $font-size;
			}
			h6 {
				color: material-color('grey', '900');
				font-size: $font-size;
				font-weight: 400;
				flex: 1;
			}
			span {
				font-size: $font-size - rem(2px);
				strong {
					display: inline;
					font-size: $default-css;
					letter-spacing: -1px;
				}
			}

			&-delivery {
				padding: rem(30px);
				flex-wrap: wrap;
				background: #f9f9f9;
				* {
					color: material-color('grey', '700');
					font-weight: 400;
					font-size: $font-size;
				}
				span {
					display: block;
					text-align: right;
					strong {
						color: #222;
					}
				}
			}
			&-ea {
				padding: rem(30px);
				padding-right: 0;
				* {
					color: #111;
					font-weight: 500;
					font-size: $font-size + rem(5px);
				}
				h6 {
					font-size: $font-size + rem(5px);
				}
				span {
					display: inline-flex;
					align-items: center;
					a {
						cursor: pointer;
						text-decoration: none;
						color: material-color('grey', '800');
						width: $font-size * 2;
						height: $font-size * 2;
						@include rounded(100%);
						border: 1px solid material-color('grey', '200');

						i {
							font-size: 0;
							width: 100%;
							height: 100%;
							display: flex;
							justify-content: center;
							align-items: center;
							&:before {
								margin: 0;
								width: 100%;
								line-height: 1;
								font-size: $font-size;
							}
						}
					}
					input {
						@include default-0;
						width: $font-size * 4;
						height: $font-size * 2;
						text-align: center;
						background: material-color('grey', '200');
						@include rounded(rem(3px));
						margin: 0 rem(10px);
					}
				}
			}
			&-total {
				padding: rem(30px);
				//@include position(fixed, $le:0, $bot:0);
				z-index: 9;
				background: #fff;
				padding-right: 0;
				align-items: center!important;
				border-top: 1px solid material-color('grey', '500');
				border-bottom: 1px solid material-color('grey', '500');
				* {
					color: material-color('pink', '400')!important;
					font-weight: 500;
				}
				h6 {
					font-size: $font-size + rem(5px);
					font-weight: 600;
				}
				span {
					display: flex;
					align-items: baseline;
					justify-content: flex-end;
					font-size: $font-size + rem(5px);
					strong {
						font-size: $font-size + rem(10px);
						font-weight: 600;
					}
					i {
						text-decoration: none;
						font-style: normal;
						width: $font-size * 2;
						margin-left: rem(5px);
					}
				}
			}
		}

		//border-bottom: 1px solid material-color('grey', '200');
	}

	.goodsBuy {
		@include position(fixed, $le:0, $bot:0);
		z-index: 9;
		background: #fff;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		a {
			display: inline-flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			text-decoration: none;
			font-size: $font-size;
			flex: 1;
			line-height: 1;
			padding: rem(30px);

			&.buys {
				background: $main-color;
				color: #fff;
			}
			&.cart {
				background: material-color('grey', '400');
			}
			&.sout {
				background: material-color('grey', '700');
				color: #fff;
				cursor: default;
			}
		}
	}

	#tabArea {
		display: flex;
		align-items: center;
		background: #fff;
		box-shadow: 0 1px 0 0 rgba(#000, 10%);
		@include position(sticky, $le: 0, $top: 0);
		z-index: 8;
		a {
			display: inline-flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			text-decoration: none;
			font-size: $font-size;
			flex: 1;
			line-height: 1;
			padding: rem(30px);

			span {
				@include position;
				display: inline-block;
			}
			&.on {
				font-weight: 500;
				span {
					&:before {
						content: '';
						@include position(absolute, $le: 50%, $bot: rem(-31px));
						width: 100%;
						height: 3px;
						background: material-color('grey', '900');
						transform: translateX(-50%);
					}
				}
			}
		}
	}

	.detail_info {
		display: none;
		padding: rem(30px);
		font-size: $font-size - rem(3px);
		line-height: 1.5;
	}

	#detail_info1 {
		display: block;
	}
}

.shopPage.order {
	
}

.order-list {
	li {
		padding: rem(30px);
		min-height: rem(260px);
		display: flex;
		align-items: flex-start;
		border: 1px solid material-color('grey', '300') {
			left: none;
			right: none;
		}
		margin-top: -1px;
		& > div {
			display: inline-flex;
			//flex: 1;
		}
		.goodsImg {
			width: rem(200px);
			height: rem(200px);
			overflow: hidden;
			margin-right: rem(30px);
			img {
				width: 100%;
				object-fit: cover;
				//@include position(absolute, $le: 50%, $top: 50%);
				//transform: translate(-50%, -50%);
			}
		}
		.goodsTxt {
			min-height: rem(200px);
			flex-direction: column;
			align-items: flex-start;
			flex: 1;

			.flags {}
			.goodsTitle {
				h2 {
					color: material-color('grey', '900');
					font-size: $font-size + rem(5px);
					line-height: 1.2;
					font-weight: 500;
				}
			}
			.goodsInfo {
				color: material-color('grey', '600');
				font-size: $font-size;
				span {}
			}
			.price-total {
				margin: auto 0;
				color: #222;
				font-weight: 700;
			}
			.delivery {
				//width: 100%;
				//background: material-color('grey', '100');
				color: material-color('grey', '700');
				font-weight: 700;
				font-size: $font-size - rem(2px);
				margin-top: auto;

				span {
					float: left;
					padding: rem(5px) rem(10px);
					@include rounded(rem(5px));
				}
				
				/* single 단독배송 / afree 무료배송상품 / free 무료배송 / prepay 선결제 / same-seller 동일판매자 */
				.single {
					color: material-color('blue', '700');
					background: material-color('blue', '50');
				}
				.afree {
					color: material-color('teal', '700');
					background: material-color('teal', '50');
				}
				.free {
					color: material-color('blue-grey', '700');
					background: material-color('blue-grey', '50');
				} 
				.prepay {
					color: material-color('orange', '700');
					background: material-color('orange', '50');
				}
				.same-seller {
					color: material-color('indigo', '700');
					background: material-color('indigo', '50');
				}
			}
		}
	}
}

.cart-list {
	li {
		@include position;
		flex-wrap: wrap;
		.goodsTitle {
			margin-bottom: rem(15px);
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			label {
				@include position;
				width: $font-size * 2;
				height: $font-size * 2;
				cursor: pointer;
				input[type="checkbox"] {
					visibility: hidden;
				}
				span {
					display: block;
					@include position(absolute, $le: 0, $top: 0);
					@include default-0;
					@include rounded(0);
					width: 100%;
					height: 100%;
					background: material-color('grey', '200');
					border: 1px solid material-color('grey', '300');
					color: #fff;

					i {
						width: 100%;
						height: 100%;
						display: block;

						&:before {
							margin: 0;
							width: auto;
							line-height: 1;
							@include position(absolute, $le: 50%, $top: 50%);
							transform: translate(-50%, -50%);
						}
					}
				}
				input:checked {
					& + span {
						background: $main-color;
						border-color: $main-color;
						color: #fff;
						i:before {
						}
					}
				}
			}

			.title {
				margin-left: rem(20px);
				flex: 1;
				h2 {
					color: material-color('grey', '900');
					font-size: $font-size + rem(8px);
					line-height: 1.2;
					font-weight: 600;
				}
			}
			.cartDel {
				@include position;
				width: $font-size * 2;
				height: $font-size * 2;
				i {
					width: 100%;
					height: 100%;
					display: block;
					font-size: $font-size;

					&:before {
						margin: 0;
						width: auto;
						line-height: 1;
						@include position(absolute, $le: 50%, $top: 50%);
						transform: translate(-50%, -50%);
					}
				}
			}
		}
	}
	h6 {
		font-size: $font-size;
		font-weight: 400;
		flex: 0.5;
		line-height: 1.2;
		margin: rem(5px) 0;
	}
	span {
		flex: 1.5;
		justify-content: flex-start;
	}
	.goodsImg {
		margin-top: rem(5px);
		//flex: 0.5;
	}
	.goodsTxt {
		flex: 1.2;
		& > div {
			display: flex;
			align-items: flex-start;
			width: 100%;
			margin: rem(5px) 0;
		}
		.goodsInfo {
			//display: $default-css;
			margin: 0;
			div {
				flex: 1.5;
			}
		}
		.ea {
			margin-top: rem(10px);
			display: flex;
			align-items: center;
			flex: 1;
			span {
					display: inline-flex;
					align-items: center;

					a {
						cursor: pointer;
						text-decoration: none;
						color: material-color('grey', '800');
						width: $font-size * 2;
						height: $font-size * 2;
						@include rounded(100%);
						border: 1px solid material-color('grey', '200');

						i {
							font-size: 0;
							width: 100%;
							height: 100%;
							display: flex;
							justify-content: center;
							align-items: center;
							&:before {
								margin: 0;
								width: 100%;
								line-height: 1;
								font-size: $font-size;
							}
						}
					}
					input {
						@include default-0;
						height: $font-size * 2;
						text-align: center;
						@include rounded(rem(3px));

						&.cartEA {
							width: $font-size * 4;
							background: transparent;
						}
						&.cartEaChg {
							margin: 0;
							margin-right: rem(10px);
							padding: 0 rem(10px);
							background: transparent;
							border: 1px solid $main-color;
							color: $main-color;
						}
					}
				}
		}
		.price-total {
			padding: rem(10px) 0;
			h6 {
				//font-weight: 600;
			}
			p {
				flex: 1.5;
			}
			span {
				// display: flex;
				// align-items: baseline;
				flex: $default-css;
				strong {
					//font-size: $font-size + rem(10px);
					font-weight: 600;
				}
				i {
					text-decoration: none;
					font-style: normal;
					width: $font-size * 2;
					margin-left: rem(5px);
				}
			}
		}
		.delivery {
			h6 {
				margin: rem(10px) 0;
			}
			& > div {
				flex: 1.5;
				justify-content: flex-start;

				span {
					margin: rem(5px) rem(10px) {
						left: 0;
					};
				}
			}
		}
	}
}

#order {
	padding: $font-size;
	width: 100%;
	overflow: hidden;

	.list_wrap {
		width: 100%;
		overflow: hidden;
	}

	/* background: #f5f5f5; */

	#cartChk {
		//margin-top: 50px;
		label {
			@include flex(flex-start);
			font-weight: 600;
			color: #222;
			input {
				margin-right: rem(10px);
			}
		}
	}

	.checkall {
		font-size: $font-size + rem(2px);
		//line-height: 20px;
		line-height: 1.5;
		vertical-align: text-bottom;
		font-weight: 500;
	}

	.cart_title {
		@include flex(flex-start);
		border: 1px solid #dadada;
		border-bottom: none;
		height: 45px;
		line-height: 1.5;
		//line-height: 40px;
		font-size: $font-size + rem(4px);
		padding-left: 8px;
		//background: #cdcdcd;
		background: material-color('grey', '100');
		color: #333;
		font-weight: 400;
		margin-top: 10px;

		&.b_radius_top {
			border-radius: 8px 8px 0px 0px;
		}
	}

	.goodsInfo_wrap {
		border: 1px solid #dadada;
		border-top: none;
		background: #fff;

		&.b_radius_bottom {
			border-radius: 0px 0px 8px 8px;
			border-bottom: 1px solid #dadada;
			margin-bottom: 15px;
		}

		&.b_radius_bottom_0 {
			border-radius: 0px 0px 0px 0px;
			border-bottom: none;
			padding-bottom: 5px;
			margin-bottom: -1px;
		}
	}

	.goodsInfo {
		position: relative;
		width: 100%;
		margin-top: 0px;

		&.mb {
			margin-bottom: -4px;
		}

		.goodsNameArea {
			border-bottom: none;
			width: calc(100% - #{$font-size * 2});
			padding: $font-size / 2;
			padding-right: 0;

			label {
				@include inline-flex;

				input[type="checkbox"] {
					margin-right: rem(10px);
				}
			}

			.goodsName {
				font-size: $font-size + rem(2px);
				color: #444;
				//height: 35px;
				line-height: 2;
				margin-right: 45px;
			}

			.goodDelBtnWrap {
				position: absolute;
				text-indent: 0px;
				padding: 0px;
				top: $font-size / 2;
				right: $font-size / 2;
				display: inline-block;
				text-align: center;
				width: $font-size * 2;
				height: $font-size * 2;
				background: material-color('grey', '200');
				transform: translateY(-5%);

				.goodDelBtn {
					@include flex;
					margin: 0px;
					border-color: #ccc;
					width: 100%;
					height: 100%;
					//line-height: 28px;
					color: #444444;
					text-decoration: none;
				}
			}
		}

		.goodsArea {
			border-bottom: none;
			margin: $font-size / 2;
			margin-top: 0;

			&.order {
				border-bottom: none;
				padding: 8px;
				margin: 0;
			}

			.goodsBox {
				display: flex;
			}

			.ImgArea {
				width: 90px;
				height: 90px;
				padding: 0px;
				border: 1px solid #cdcdcd;
				border-radius: 4px;
				text-align: center;
			}

			.goodsInfoArea {
				margin-left: 10px;

				.goodsName {
					font-size: 15px;
					color: #444;
					padding-bottom: 6px;
				}

				.ellipsis2 {
					width: 100%;
					overflow: hidden;
					text-overflow: ellipsis;
					display: -webkit-box;
					-webkit-line-clamp: 2;
					-webkit-box-orient: vertical;
				}

				.optionTxtArea {
					width: 100%;
					color: #999;
					margin-top: 7px;
				}

				.goodsNote,
				.selltypeName,
				.ea {
					font-size: 13px;
					font-weight: 400;
				}

				.price {
					font-size: 14px;
					color: #222222;
				}

				.pUnit {
					font-size: 11px;
					color: #222222;
				}

				.pv {
					font-size: 12px;
					color: #f2002e;
				}

				.pvUnit {
					font-size: 10px;
					color: #f2002e;
				}

				.cv {
					font-size: 12px;
					color: green;
				}

				.cvUnit {
					font-size: 10px;
					color: green;
				}
			}
		}

		.eachPriceInfo .title {
			font-size: 13px;
			color: #545454;
			text-align: left;
			font-weight: normal;
		}
	}

	.eachPriceInfo {
		margin-top: 6px;
		padding: 4px 9px;
		background: $background;

		&.total {
			background: $background;
			border-top: 1px solid #dadada;
			border-radius: 0px 0px 8px 8px;
			padding-bottom: 5px;
			margin-top: 0px;

			.icon-angle-up, .icon-angle-down {
				@include inline-flex;
				width: 20px;
				height: 20px;
				@include rounded(100%);
				background: rgba(#000, 0.1);
				cursor: pointer;
				margin-left: rem(10px);

				&:before {
					margin: 0;
					width: 100%;
					line-height: 0;
				}
			}
		}

		&.hide {
			background: #ffffff;
			border: 0px solid #c3c3c3;
			border-radius: 0px 0px 8px 8px;
			padding-bottom: 5px;
			margin-top: 0px;
		}

		.title {
			font-size: 14px;
			color: #545454;
			text-align: left;
			font-weight: normal;
		}

		tbody {
			border: none;
		}

		td {
			border: none !important;
			padding: 2px 3px;
			font-size: 15px;
			color: #222222;

			&.title {
				&.top {
					font-size: 14px;
					font-weight: 700;
					color: #444;
				}

				&.sub {
					text-indent: 0px;
				}
			}

			&.top_price {
				font-size: 16px;
				font-weight: 700;
			}

			.pUnit {
				font-size: 14px;
			}

			.pv {
				font-size: 14px;
				color: #f2002e;
			}

			.pvUnit {
				font-size: 11px;
				color: #f2002e;
			}
		}

		// .shopPrices-down:after {
		// 	content: "\2228";
		// 	font-size: 10px;
		// 	color: #444444;
		// 	cursor: pointer;
		// }

		// .shopPrices-up:after {
		// 	content: "\2227";
		// 	font-size: 10px;
		// 	color: #444444;
		// 	cursor: pointer;
		// }
	}

	.eaArea {
		margin-top: 8px;

		.ea_bg {
			display: inline-block;
			border: 1px solid #ccc;
			line-height: 26px;
			vertical-align: top;
			width: 28px;
			height: 26px;
			text-align: center;
			background-color: #fafafa;

			a {
				display: block;
				text-decoration: none;
				border: none;
				margin: 0;
				height: 24px;
				line-height: 24px;
			}
		}

		.input_text_ea {
			border-width: 1px 0px 1px 0px;
			border-color: #ccc;
			border-style: solid;
			line-height: 26px;
			height: 26px;
			font-size: 13px;
			vertical-align: top;
			width: 33px;
		}
	}

	.txt_DeliveryFee {
		padding: 0px;
		border-top: 1px solid #f1f1f1;
		background: #fff;
		margin-top: 6px;
		color: #969696;

		.inner {
			font-size: 13px;
			background: #f1f1f1;
			padding: 8px 12px;
			margin: 0px 0px;
		}
	}

	.cartEaInput {
		width: 30px;
		border: 1px solid #ccc;
		border-radius: 2px;
		line-height: 22px;
		height: 22px;
	}

	.cartEaChg {
		width: 45px;
		border: 1px solid #6492c1;
		border-radius: 2px;
		line-height: 26px;
		height: 26px;
		background-color: #dbedff;
		font-weight: bold;
		color: #1a64b1;
	}

	.noData {
		text-align: center;
		line-height: 80px;
		background: #ffffff;
	}

	.cart_order {
		display: flex;
		justify-content: space-between;
		background-color: #fff;
		//margin-top: 15px;
	}

	a {
		&.buys {
			display: block;
			border-radius: 4px;
			font-size: 15px;
			font-weight: 400;
			line-height: 40px;
			height: 40px;
			text-align: center;
			background-color: #fff;
			text-decoration: none;
			background: #bc1f31;
			color: #fff;
			width: 49%;
		}

		&.goshop {
			display: block;
			border-radius: 4px;
			font-size: 15px;
			font-weight: 400;
			line-height: 40px;
			height: 40px;
			text-align: center;
			background-color: #cfcfcf;
			text-decoration: none;
			background: #cfcfcf;
			color: #555555;
			width: 49%;
		}
	}

	.DaumPostcodeWrap {
		display: none;
		position: relative;
		border: 3px solid;
		width: 98%;
		height: 300px;
		margin: 5px 0;

		.close {
			position: absolute;
			right: 2px;
			top: 2px;
			z-index: 1;
			background: #fff;
		}
	}

	#orderSame,
	.deliveryInfoArea {
		margin-top: 10px;
		margin-left: 10px;
		color: #d75623;
		font-size: 14px;
	}

	.order_infos {
		font-size: 15px;
		font-weight: 500;
		border: 3px solid #ebebeb;
		color: #3a3a3a;
		text-align: left;
		padding: 8px 0 8px 8px;
		margin: 10px 0;

		.ordNo {
			color: #3a3a3a;
			font-weight: 400;
		}
	}

	.cart_select {
		width: 100%;
		clear: both;
		float: left;
		margin-top: 60px;
		margin-bottom: 30px;
		text-align: center;

		img {
			margin-left: 9px;
		}
	}
}
@import 'footer';
footer {
	margin-top: rem(50px);
}