@import 'mixin-custom';

/*서브타이틀*/

$sub_title-height: rem(250px);

#contain_wrap {
	max-width: 640px;
	margin: 0 auto;
}
#sub-header {
	@include position;
	width: 100%;
	height: $sub_title-height;
	@include flex;
	flex-direction: column;
	text-align: center;

	.sub-header-img {
		width: 100%;
		height: 100%;
		@include position(absolute, $le: 50%, $top: 50%);
		z-index: 0;
		@include transform(translate(-50%, -50%));
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.sub-header-txt {
		@include position;
		z-index: 1;
		@include flex(space-between);
		flex-direction: column;
		color: #fff;
		// font-size: $sub_title-height * 0.1;
		font-size: $sub_title-height * 0.2;
		font-weight: 400;

		.maps_title {
			// margin-top: $top-height / 2;
		}

		&:after {
			content: '';
			z-index: 1;
			width: $sub_title-height * 0.2;
			height: 1px;
			background: #fff;
			margin-top: rem(15px);
		}
	}
}

.content {
	padding: rem(30px);
	* {
		box-sizing: border-box;
	}

	box-sizing: border-box;
	@include position;
	//overflow: hidden;
	//min-height: 100vh;
	// padding-bottom: rem(100px);
	//background: saturate(lighten($nav-color, 70), 10);
	//background: material-color('blue-grey', '50');

	.contain {
		width: 100%;
		padding: 0 rem(30px);
		margin: 0 auto;
		background: #fff;
		overflow: hidden;
		max-width: $inner;
	}
}

// td, th {
// 	border: 1px solid #ccc;
// 	padding: $font-size / 5 0;
// 	word-break: keep-all;
// 	font-size: $font-size;
// 	//background: #fff;
// }

th {
	color: #555;
}

form {
	// padding-top: $font-size;
}

.table {
	// margin-top: $font-size * 3;
	th {
		background: #e3e3e3;
		padding: $font-size / 2 0;
		font-size: $font-size;
		line-height: 1.5;
		font-weight: 600;
		text-align: center;
	}
	td {
		padding: $font-size / 2 $font-size / 4;
		text-align: center;
		font-size: $font-size;
	}
}

.table2 {
	th {
		background: #e3e3e3;
		padding: $font-size / 2 0;
		font-size: 14px;
		line-height: 1.5;
		font-weight: 600;
		text-align: center;
	}
	td {
		padding: $font-size / 2 $font-size / 4;
		text-align: center;
		//background: #fff;
		//text-align: right;
		//width: 50%;
	}
}

.pay_totals {
	margin: 0;
	margin-bottom: $font-size;
	background: #fff;
	width: 100%;
	padding: $font-size / 2;

	&.payment_list {
		padding: 0;
		border: none;
		background: $default-css;
	}
}

.inTable1 {
	th {}
	td {
		font-weight: 600;
		padding: 0;
		padding-right: $font-size / 2;
		font-size: $font-size;
		word-break: break-all;
		background: #fff;

		&.th {
			background: #efefef;
		}
	}
}

.pay_totals_td {
	td {
		padding: $font-size / 2 0;
		width: auto;
	}
	.th {
		text-align: center;
	}

	table {
		margin-bottom: $font-size;
		background: #fff;

		th.title {
			background: #e3e3e3;
			padding: $font-size / 2 0;
			font-size: 15px;
			line-height: 1.5;
			font-weight: 600;
			text-align: center;
		}
	}
}

.htbody {
	background: material-color('grey', '100');
	// > tr {
	// 	> td {
	// 		background: material-color('grey', '100');
	// 	}
	// }
}

.pays {
	td a.btn {
		background: linear-gradient(#fff 0%, #ececec 35%, #fff 100%);
		border: 1px solid #999;
		color: #fff;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		padding: 5px 8px;
		text-align: center;
		color: #333;
		display: block;
		cursor: pointer;
		font-weight: bold;
		font-size: 13px;
	}

	.htbody {
		td {
			background-color: #ffffff;
			font-size: 13px;
			word-break: keep-all;
			word-wrap: break-word;

			&.bg_y {
				background-color: #fffffa;
				padding: 0px 0px 0px 0px;
			}

			&.th14 {
				background-color: #eee;
				font-weight: bold;
				text-align: center;
				font-size: 14px;
			}

			&.th12 {
				background-color: #eee;
				font-weight: bold;
				text-align: center;
				font-size: 12px;
			}
		}

		th {
			font-weight: bold;
			text-align: center;
			background-color: #efefef;
		}

		.f12 {
			font-size: 12px;
		}

		.f13 {
			font-size: 13px;
		}

		.f14 {
			font-size: 14px;
		}
	}

	th.title {
		border-top: 0px none;
		font-size: 12px;
	}
}

/*신 상세내역 버튼*/

a:hover {
	color: $main-color;
}

/* 페이징 모바일(5)*/

.pagingNew3 {
	font-size: 0;
	//font-family: 'Roboto', 'Noto Sans KR', sans-serif;
	padding-top: $font-size * 2;
	text-align: center;


	span {
		@include default-0;
		@include inline-flex;
		@include position;
		width: $font-size * 2 - rem(2px);
		height: $font-size * 2 - rem(2px);
		border: 1px solid transparent;
		border-radius: 100%;
		color: $main-color;
		font-size: $font-size + rem(2px);
		font-weight: 500;

		a {
			@include default-0;
			@include default-a;
			height: 100%;
			font-weight: 300;
			color: #6a6a6a;
			display: flex;
			justify-content: center;
			align-items: center;

			&:hover {
				color: $main-color;
				text-decoration: none;
				border: none;
			}
		}

		&.currentPage {
			//border-color: $main-color;
			//background: $main-color;
			color: $main-color;
			font-weight: 700;

			&:after {
				@include presudo($le: 50%, $bot: $font-size / 4);
				width: $font-size - rem(4);
				height: 1px;
				background: $main-color;
				@include transform(translateX(-50%));
			}
		}
		
		&.arrow {
			border: 1px solid material-color('grey', '300');
			border-radius: 100%;
			margin: 0 rem(2.5px);

			i {
				font-size: $font-size + rem(2px);
				color: material-color('grey', '300');
			}

			&.left {
				i {
					@include transform(translateX(-5%));
				}
			}
			&.right {
				i {
					@include transform(translateX(5%));
				}
			}
			&.margin {
				&.left {
					margin-right: $font-size;
				}
				&.right {
					margin-left: $font-size;
				}
			}

			&:hover {
				border-color: material-color('grey', '400');

				i {
					color: material-color('grey', '500');
				}
			}
		}
	}
}

#index {
	@include clear;
	width: 100%;
	// overflow: hidden;
	.title {
		text-align: center;
		font-size: rem(36px);
		font-weight: 300;
		color: #000;
		letter-spacing: -0.02em;
		b {
			font-weight: 700;
		}
	}

	.nodata {
		@include flex;
		text-align: center;
		font-size: $font-size + rem(3px);
		font-weight: 600;
		width: 100%;
		height: 0;
		margin: 0 auto;
		padding: 50% rem(30px);
		// min-height: rem(200px);
		background: $oc-gray-0;
	}
}

#index {
	.main-visual {
		$color: #fff;

		@include clear;
		// max-width: 1980px;
		width: 100%;
		// height: rem(740px);
		margin: 0 auto;
		@include position;
		color: #fff;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	$bullet: rem(14px);
	.swiper-inner {
		@include position(absolute, $le: 50%, $bot: 0);
		width: calc(100% - #{rem(60px)});
		height: 0;
		transform: translateX(-50%);
		z-index: 1;
	}
	.swiper-pagination-bullets {
		bottom: rem(50px);
		right: auto;
		left: 50%;
		transform: translateX(-50%);
		z-index: 2;
		height: $bullet;
		line-height: 0;
	}
	.swiper-pagination-bullet {
		width: $bullet;
		height: $bullet;
		margin: 0 rem(8px);
		background: #fff;
		box-shadow: 0px 0px 10px rgba(#fff, 0.5);
		opacity: 0.6;
		&-active {
			opacity: 1;
		}
	}
}


/*GOODS*/
.index-best {
	$color: #797979;
	$size: $font-size - rem(1px);
	$goods: rem(380px);
	margin-bottom: rem(60px);

	.title {
		margin-top: rem(137px);
	}
	
	.layout_inner {
		text-align: center;
	}
	.wrap {
		font-size: 0;
		// width: calc(100% + #{rem(20px)});
		// margin: rem(20px) rem(-10px);
		width: 100%;
		margin: rem(20px) 0;
		text-align: left;
		display: inline-block;
		padding: 0 rem(20px);

		div {
			font-size: $font-size;
		}

		.nodata {
			text-align: center;
			font-size: $font-size + rem(3px);
			font-weight: 600;
			width: 100%;
			padding: rem(30px) 0;
		}
	}

	.goods {
		@include position;
		width: 50%;
		display: inline-block;
		font-size: $font-size;
		vertical-align: top;
		min-height: rem(490px);
		// margin: rem(20px) 0;
		// margin-right: ($inner - ($goods * 4)) / 3;
		// margin-bottom: rem(20px);

		&:nth-of-type(2n) {
			margin-right: 0;
		}

		a {
			@include default-a;
			padding: rem(10px);
			display: block;
			color: $color;
		}

		.sale {
			@include position(absolute, $top: $font-size * 1.2, $le: $font-size * 1.2);
			z-index: 1;
			font-size: $font-size * 1.2;
			width: $size * 3;
			height: $size * 3;
			background: darken(invert($main-color), 10);
			color: #fff;
			display: flex;
			justify-content: center;
			align-items: center;
			font-weight: 200;
			border-radius: 100%;
		}

		.img {
			width: 100%;
			height: 0;
			padding-bottom: 100%;
			overflow: hidden;
			@include position;

			//border: 1px solid;
			background: #fafafa;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				margin: {
					top: 50%;
					left: 50%;
				};
				transform: translate(-50%, -50%);
				@include transition(all .3s);
				@include position(absolute);
			}
		}

		&:hover {
			.img {
				&:before {
					opacity: 1;
				}
				&:after {
					opacity: 1;
				}
				img {
					transform: translate(-50%, -50%) scale(1.05);
				}
			}
		}

		.txt {
			letter-spacing: 0;
			line-height: 1.2;
			text-align: left;
			padding-top: rem(20px);
			@include flex($st, $st);
			flex-direction: column;
			min-height: rem(200px);
			.name {
				font-size: $size;
				color: #111;
				@include ellipsis(1);
				letter-spacing: -0.01em;
				font-weight: 600;
				// height: 40px;
			}
			.comment {
				font-size: $size - rem(4px);
				color: #737373;
				margin-top: rem(7px);
				letter-spacing: 0.01em;
				@include ellipsis(2);
			}
			.price {
				margin-top: auto;
				padding-top: rem(15px);
				border-top: 1px solid #e5e5e5;
				width: 100%;
				letter-spacing: -0.01em;
				line-height: 1.2;
				text-align: left;
				@include flex($st, baseline);
				flex-wrap: wrap;
				font-size: $size;
				
				.line {
					color: mix($color, #fff, 50);
					text-decoration: line-through;
					font-size: $size - rem(3px);
					font-weight: 400;
					margin-right: rem(10px);
					// margin-top: rem(5px);

					span {
						color: $parent-css;
						font-size: $parent-css;
						font-weight: $parent-css;
					}
				}

				div {
					font-weight: 500;
					line-height: 1;
					letter-spacing: -0.05em;
					color: #515151;
					font-size: $size - rem(1px);
					span {
						// font-size: rem(21px);
						font-size: $size + rem(2px);
						color: #323232;
						// margin-right: rem(5px);
					}
				}
				.pv {
					width: 100%;
					margin-top: rem(5px);
					// color: invert($main-color);
					color: adjust-hue($main-color, 20deg);
					font-size: $parent-css;
				}
			}
		}
	}

}

.index-list {
	$w: rem(440px);
	$button: rem(60px);
	// min-height: rem(980px);
	background: #fcfcfd;
	border: 1px solid #efefef;
	padding: rem(70px);
	width: calc(100% - #{rem(60px)});
	margin: 0 auto;
	.swiper-slide {
		@include position;
		@include flex;
		flex-direction: column;
	}
	.img {
		// width: $w;
		// height: $w;
		// width: calc(100% - #{rem(140px)});
		width: 100%;
		height: 0;
		padding-bottom: 100%;
		@include inline-flex;
		overflow: hidden;
		@include position;
		img {
			@include position(absolute, $top: 50%, $le: 50%);
			@include transform(translate(-50%, -50%));
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.txt {
		// width: calc(100% - #{rem(140px)});
		width: 100%;
		min-height: rem(390px);
		// min-height: rem(440px);
		// margin: 0 auto;
		// height: $w;
		// padding-right: rem(60px);
		@include inline-flex($st, $st);
		flex-direction: column;
		font-size: $font-size - rem(1px);
		line-height: 1.2;
		text-align: left;

		span {
			color: #57708E;
			font-weight: 800;
			margin-top: rem(50px);
			margin-bottom: rem(13px);
			font-size: rem(17px);
		}
		div {
			color: #111;
			font-size: $font-size + rem(7px);
			font-weight: 700;
			width: 100%;
			letter-spacing: -0.005em;
			@include ellipsis(1);
		}
		i {
			// width: calc(100% - #{rem(80px)});
			width: 100%;
			height: 1px;
			background: #d8d8d8;
			margin: rem(30px) 0;
		}
		p {
			color: #848484;
			margin-bottom: rem(10px);
			letter-spacing: -0.05em;
			line-height: 1.4;
			@include ellipsis(3);
		}
		.btn {
			width: rem(220px);
			height: rem(60px);
			font-size: $font-size - rem(4px);
			@include inline-flex;
			color: #6b6b6b;
			border: 1px solid #747474;
			cursor: pointer;
			font-weight: 700;
			margin-top: auto;
			margin-right: auto;
			// margin-bottom: rem(120px);

			&:hover {
				color: #fff;
				background: $main-color;
				border-color: $main-color;
			}
		}
	}

	.swiper-inner {
		width: 100% !important;
	}

	.swiper-button {
		@include position(absolute);
		@include flex;
		width: $button;
		height: $button;
		border: 1px solid #ddd;
		font-size: rem(15px);
		color: #000;
		padding: 0;
		background: rgba(#fcfcfd, 0.8);
		margin-top: -$button;
		top: $default-css;
		@include rounded(100%);

		&.prev {
			right: $button + rem(10px);
			padding: 0;
		}
		&.next {
			right: 0;
			padding: 0;
		}
	}
}

.index-bn {
	width: 100%;
	height: rem(360px);
	text-align: center;
	@include position;
	margin: rem(80px) auto;
	display: inline-block;

	.bg {
		width: 100%;
		height: 100%;
		background: url('/images/index/index-bn-bg.jpg') no-repeat center right / 130%;
		@include position(absolute);
		z-index: -1;
	}
	.layout_inner {
		overflow: hidden;
		height: 100%;
	}
	.dn-logo {
		background: url('/images/share/dn8_logo.svg') no-repeat center / cover;
		width: rem(130px);
		height: rem(53px);
		margin: 0 auto;
		margin-top: rem(105px);
		img {
			opacity: 0;
		}
	}
	i {
		width: rem(60px);
		height: 1px;
		background: #fff;
		display: inline-block;
		margin: rem(50px) auto rem(23px) auto;
	}
	p {
		color: #fff;
		font-weight: 200;
		font-size: rem(32px);
		letter-spacing: 0.4em;
		text-indent: 0.4em;
		b {
			font-weight: 500;
		}
	}
}

@include media(430px) {
	.index-bn {
		.bg {
			background: url("/images/index/index-bn-bg.jpg") no-repeat center right / cover;
		}
	}
}

.index-skills {
	margin: rem(30px) auto;
	ul {
		width: 100%;
		@include flex;
		flex-direction: column;
		margin: 0 auto;
		margin-top: rem(38px);
		padding: 0 rem(30px);
	}
	li {
		// max-width: rem(580px);
		// min-height: rem(380px);
		margin-bottom: rem(60px);
		width: 100%;

		.img {
			width: 100%;
			// height: rem(240px);
			overflow: hidden;
			img {
				opacity: 0;
				width: 100%;
			}
		}
		.txt {
			text-align: left;
			margin-top: rem(18px);
			div {
				color: #111;
				font-size: $font-size + rem(3px);
				font-weight: 700;
				letter-spacing: -0.015em;
			}
			p {
				color: #535252;
				font-size: $font-size - rem(2px);
				font-weight: 300;
				word-break: keep-all;
				letter-spacing: -0.05em;
				line-height: 1.4;
				margin-top: rem(5px);
			}
		}

		&:first-of-type {
			.img {
				background: url('/images/index/index-btn01.jpg') no-repeat center / cover;
			}
		}
		&:nth-of-type(2) {
			.img {
				background: url('/images/index/index-btn02.jpg') no-repeat center / cover;
			}
		}
	}
}

/*오시는 길*/

.location {
	width: 100%;
	//height: round($inner / 2.8);
	@include position;
	@include flex($bet);
	flex-direction: column-reverse;
	font-size: $font-size;
	padding: rem(30px) 0;
	//margin: rem(40px) 0;
	//margin-bottom: rem(60px);

	$map-width: $inner / 1.6;
	$map-color: $main-color;
	$map-hover-color: mix($map-color, red, 90%);

	.wrap_map {
		height: 100% !important;
	}

	.wrap_controllers {
		display: none;
	}

	.map_border {
		display: none !important;
	}

	//.border2 {display: block!important;}
	.wrap_btn_zoom {
		display: none !important;
	}

	.root_daum_roughmap {
		padding: 0 !important;
		border-radius: 0 !important;
		border: none !important;

		width: 100%;
		height: $map-width;
	}

	&-info {
		display: flex;
		flex-direction: column;
		//justify-content: space-between;
		//align-items: center;

		width: 100%;
		//height: $inner - $map-width;
		//background: darken(saturate($sub-color, 30%), 30%);
		//background: invert($main-color, 20%);
		//background: $map-color;
		//background: darken($main-color, 10%);
		color: #222;
		font-weight: 400;
		//padding: rem(40px);
		padding-bottom: rem(60px);

		h5 {
			display: flex;
			align-items: center;
			width: 100%;
			word-break: keep-all;
			font-size: $font-size + rem(8px);
			line-height: 1.2;
			font-weight: 500;
			margin-top: rem(60px);

			i {
				font-size: $font-size + rem(18px);
				color: $map-color;
				margin-right: ($font-size + rem(18px)) / 2;
			}

			.icon-location:before {
				margin: 0;
			}
		}

		.info {
			display: flex;
			flex-direction: column;
			margin: rem(50px) 0;

			li {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				word-break: keep-all;
				padding: rem(10px) 0;
				border-bottom: 1px solid rgba(mix($map-color, gray, 50), 40%);

				&:first-child {
					border-top: 1px solid rgba(mix($map-color, gray, 50), 40%);
				}

				h6 {
					font-size: $font-size + rem(4px);
					font-weight: 500;
					//width: $font-size * 3;
					width: 40%;
					padding: 1% 0;
				}

				span {
					display: block;
					width: 100%;
					padding: 2% 0;
				}
			}
		}

		a {
			@include inline-flex($bet);
			//@include default-a;
			width: 100%;
			padding: rem(25px) rem(30px);
			background: $map-color;
			color: #fff !important;
			//font-size: $font-size + rem(2px);
			@include rounded($radius: rem(10px));
			@include transition(all, .3s);
			text-decoration: none !important;

			span {
				color: #fff;
				@include inline-flex;
				@include position;
				font-size: $font-size + rem(4px);
				line-height: 0;
				width: 25%;
				height: 100%;
				margin-left: 15%;
				margin-right: 10%;
				text-align: right;
				vertical-align: middle;
				text-decoration: none;
				opacity: .5;
				@include transition(all, .3s);

				&::before {
					content: '';
					@include position;
					//@include position(absolute, $le: 50%, $top: 50%);
					width: 100%;
					height: 2px;
					background: #fff;
					@include rounded($radius: 5rem);
					//transform: translate(-50%, -50%);
					margin-right: rem(-5px);
					@include transition(all, .3s);
				}

				i {
					display: flex;
					align-items: center;
					height: 100%;

					&::before {
						margin: 0;
						width: auto;
						line-height: 0;
					}
				}
			}

			&:hover {
				background: $map-hover-color;
				//background: material-color('blue-grey', '500');
				//color: $map-color;
				box-shadow: rem(2.5px) rem(10px) rem(20px) rgba($map-hover-color, 0.3);

				span {
					width: 35%;
					opacity: 1;
					//color: $map-color;
					margin-right: 0;

					&::before {
						//background: $map-color;
					}
				}
			}
		}
	}
}

/*준비중 페이지*/

.ready {
	@include position;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	text-align: center;
	font-size: $font-size + rem(5px);
	padding: rem(50px) 0;

	div {
		width: $inner / 2;
		height: $inner / 2;
		@include position;
		-webkit-mask: url('/images/content/maintenance-line.svg') no-repeat;
		-webkit-mask-size: 99.8% 100%;
		opacity: .7;

		&:after {
			content: '';
			@include position(absolute, $le: 0, $top: 0);
			z-index: 1;
			width: 100%;
			height: 100%;
			background: $main-color;
			mix-blend-mode: color;
		}

		img {
			width: 100%;
			filter: brightness(1.4);
		}
	}

	p {
		margin: rem(50px) 0;
	}

	span {
		color: darken($main-color, 10%);
		font-weight: 600;
		font-size: $font-size + rem(8px);
	}
}

/*이용약관*/
.policy {
	font-size: $font-size - rem(1px);
	color: material-color('grey', '800');
	padding: rem(60px) 0;

	.agree_box {
		@include position;
		z-index: 1;
		border: 1px solid material-color('grey', '400');
		width: 100%;
		height: $inner / 1.5;
		//padding: rem(50px);
		margin: 0 auto;
		// overflow-x: hidden;
		// overflow-y: scroll;
		scroll-behavior: smooth;
		//@include rounded;
		@include transition(all, .3s);

		&:before,
		&:after {
			content: '';
			@include position(absolute, $le: 0);
			z-index: 2;
			width: 100%;
			height: 5%;
		}

		&:before {
			top: 0;
			background: linear-gradient(180deg, #fff, transparent);
		}

		&:after {
			bottom: 0;
			background: linear-gradient(0deg, #fff, transparent);
		}

	}

	.fade {
		@include position(absolute);
		z-index: 2;


	}

	.agree_content {
		@include position;
		z-index: 1;
		width: 100%;
		height: 100%;
		padding: rem(50px);
		overflow-x: hidden;
		overflow-y: scroll;

		b {
			//color: mix($main-color, #000, 50%);
			color: desaturate($main-color, 10);
			font-size: $font-size + rem(1px);
			font-weight: 500;
			overflow: hidden;
		}

		&::-webkit-scrollbar {
			@include position;
			width: rem(15px);
			z-index: 2;
		}

		&::-webkit-scrollbar-thumb {
			background: mix($main-color, material-color('grey', '400'), 0%);
			background-clip: padding-box;
			border: rem(0px) solid transparent;
			//@include rounded($radius: 10rem);
		}

		&::-webkit-scrollbar-track {
			background: material-color('grey', '100');
			//@include rounded;
			//@include position;
			z-index: 1;
		}
	}
}

.company01 {
	@include position;
	width: 100%;
	font-size: $font-size + rem(1px);
	letter-spacing: -0.05em;
	color: #525252;
	margin: rem(20px) 0;
	font-family: 'Pretendard', 'Roboto', 'Noto Sans SC', sans-serif;
	p {
		word-break: keep-all;
	}

	section {
		width: 100%;
		@include position;
		@include flex;
		flex-direction: column;

		> p {
			font-size: rem(32px);
			letter-spacing: -0.05em;
			font-weight: 500;
			color: #3d3d3d;
			padding: rem(15px) 0 rem(45px) 0;
			width: 100%;
			b {
				color: #222;
				font-weight: 700;
				display: block;
			}
		}
		
		.img {
			@include position;
			z-index: -1;
			width: 100%;
			img {
				@include position;
				z-index: -1;
				opacity: 0;
				width: 100%;
			}
			background: url('/images/content/com_01-min.jpg') no-repeat center / 120%;
		}
		.txt {
			width: 100%;
			// margin-left: -80px;
			@include inline-flex(center, $st);
			flex-direction: column;
			>p {
				font-size: rem(24px);
				letter-spacing: -0.05em;
				font-weight: 500;
				color: #3d3d3d;
				padding: rem(45px);
				width: 100%;
				b {
					color: #222;
					font-weight: 700;
				}
			}
			.box {
				@include inline-flex($st);
				flex-direction: column;
				margin: 0 auto;
				margin-top: rem(-85px);
				padding: rem(40px);
				font-size: rem(26px);
				letter-spacing: -0.05em;
				font-weight: 300;
				color: #fff;
				background: #835711;
				width: calc(100% - #{rem(60px)});
				word-break: keep-all;
				// min-height: 260px;

				div {
					margin-bottom: rem(20px);
					width: 100%;
				}
				span {
					margin-right: rem(20px);
				}
			}
		}
		~p {
			line-height: 1.5;
			margin: rem(50px) 0;
		}
	}
}

.business {
	@include position;
	font-size: $parent-css;
	line-height: $parent-css;
	& > div {
		font-size: $font-size * 2;
		margin-bottom: $font-size;
		font-weight: 300;
		color: #000;
		span {
			@include position;
			&:before {
				@include presudo($le: 0, $bot: 0, $h: 40%);
				background: $main-color;
				opacity: 0.2;
				z-index: -1;
			}
		}
	}
	article {
		margin: $font-size * 2 0;
		width: 100%;
	}
	h1 {
		font-size: $font-size + rem(3px);
		font-weight: 600;
		color: #222;
	}
	section {}
	p {
		word-break: keep-all;
	}
	h2 {
		font-weight: 700;
		font-size: $font-size + rem(1px);
		margin: $font-size / 2 0;
	}
	ul {
		margin: $font-size / 2 $font-size;
		& > li {
			padding-left: $font-size;
			text-indent: $font-size / -1;
			word-break: keep-all;
		}
	}
	ol {
		padding: $font-size / 2 $font-size;
		li {
			color: material-color('grey', '600');
			word-break: keep-all;
		}
	}
	table {
		margin: $font-size 0;
		@include table-color($line:true);
		width: 40%;
		text-align: center;
		tbody td:first-of-type {
			border-left: 1px solid #ebebeb;
		}
		tbody th {
			font-weight: 400;
		}
	}
}

.business04 {
	.txt {
		@include inline-flex(center, $st);
		padding: rem(10px) rem(20px);
		background: material-color('grey', '100');
		flex-direction: column;
	}
}

.nav-left {
	.depth2 {
		ol {
			.salesman {
				display: none !important;
			}
		}
	}
}

#faq {
	.menu {
		@include flex(flex-start, flex-start);
		flex-wrap: wrap;

		li {
			flex: 0 25%;

			a {
				@include default-a;
				@include flex;
				@include position;
				z-index: 0;
				padding: $font-size / 2;
				font-size: $font-size;
				//background: material-color('grey', '200');
				background: #fff;
				border: 1px solid material-color('grey', '400');
				border-right: none;
				color: material-color('grey', '700');
				height: $input-height;
			}

			&:nth-of-type(4n) {
				a {
					border-right: 1px solid material-color('grey', '400');
				}
			}

			&.on {
				a {
					background: #fff;
					color: $main-color;
					border: 1px solid $main-color;
					z-index: 1;
					box-shadow: 0 0 0 1px $main-color;
					font-weight: 500;
				}
			}
		}
	}

	.list {
		margin-top: $font-size * 2;

		li {
			border-top: 1px solid material-color('grey', '400');
			border-bottom: 1px solid material-color('grey', '400');
			margin-bottom: -1px;
			@include position;
			z-index: 0;
			background: #fff;

			h3 {
				@include flex(space-between);
				@include position;
				cursor: pointer;
				font-size: $font-size;
				font-weight: 400;
				line-height: 1.5;

				padding: $font-size {
					left: $font-size * 1.8;
				}

				;

				&:before {
					content: 'Q';
					color: $main-color;
					font-weight: 700;
					@include position(absolute, $le: $font-size / 2);
					text-align: center;
					width: $font-size;
				}

				.icon-add {
					color: material-color('grey', '400');
				}

				.icon-remove {
					color: $main-color;
				}
			}

			&.active {
				border-color: material-color('grey', '600');
				z-index: 1;

				h3 {
					color: $main-color;
					font-weight: 500;
				}
			}
		}


		div {
			@include position;
			background: mix($main-color, #fff, 5);
			font-size: $font-size;

			padding: $font-size {
				left: $font-size * 2;
			}

			;
			border-top: 1px solid rgba(material-color('grey', '400'), 20%);

			&:before {
				content: 'A';
				color: rgba(#000, 50%);
				font-weight: 700;
				@include position(absolute, $le: $font-size / 1.8);
				text-align: center;
				width: $font-size;
			}

			&.hide {
				position: absolute;
				left: -1000%;
				top: 0;
				width: 1px;
				height: 1px;
				font-size: 0;
				line-height: 0;
				overflow: hidden;
			}

			&.faqContent img {
				max-width: 100%;
				height: auto;
			}
		}
	}

	.notFAQ {
		height: calc(#{$contain-height} - #{$input-height} * 4);
		@include flex;
		font-size: $font-size;
	}
}

/* 1:1문의 */

select {
	padding: 0px 0px 0px 4px;
	height: 35px;
	vertical-align: middle;
	border-color: #ccc;
	border-radius: 3px;
}