@charset "utf-8";

	/* 스타 스타일시트 */
		body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,p,blockquote{margin:0;padding:0;word-break:break-all;}
		html {overflow-y:auto;}
		html,body {height:auto; }
		body,input,select,textarea,button{font-family:'Malgun Gothic','Droid Sans','Apple-Gothic','Tahoma',dotum,gulim,sans-serif;}

		:root {touch-action: pan-x pan-y;} /* 모바일크롬 강제 확대설정시 iframe 영역 자동확대 방지 */

		input,textarea,button {-webkit-appearance: none; /* -webkit-border-radius: 0; */}
		input[type='radio'] {-webkit-appearance: radio; -webkit-border-radius: 100%; vertical-align: text-bottom;}
		input[type='checkbox'] {-webkit-appearance: checkbox; -webkit-border-radius: 2px;
			width: 18px !important;	height: 18px !important;
		}

		body{font-size:12px;color:#606060;height:auto;}

		form {margin: 0;padding: 0;}

		img,fieldset,iframe {border:0px none;}
		table {border-collapse: collapse;}
		/* div {overflow:hidden;} */
		ul,ol,li,dl,dt,dd {list-style:none;}


		pre {font-size:12px; width:100%; overflow:auto; -webkit-overflow-scrolling:touch;}

		.readonly {background:#eee;}

	/* 넓이 스타일 */

		.width100 {width:100%;}
		.width95 {width:95%;}
		.width90 {width:90%;}
	/* Flaot 속성 */
		.block {display:block !important;}
		.clear {clear:both;}
		.fleft {float:left !important;}
		.fright {float:right !important;}
		.cleft {clear:both; float:left !important;}
		.cright {clear:both; float:right !important;}
		.crfr {clear:right !important; float:right !important;}
		.clfl {clear:left !important; float:left !important;}
	/* Position 속성 */
		.poabs {position:absolute !important;}
		.porel {position:relative !important;}
	/* Display 속성 */
		.dis_block {display:block;}
		.dis_in_block {display:inline-block;}
		.dis_in {display:inline;}

	/* Align 속성 */
		.tright {text-align:right !important;}
		.tleft {text-align:left !important;}
		.tcenter {text-align:center !important;}
		.vmiddle {vertical-align:middle;}
		.vtop {vertical-align:top;}
		.vbottom {vertical-align:bottom;}
		.tweight {font-weight: 500 !important;}
		.mcenter {margin:0px auto;}

		.input_chk {vertical-align:-3px;}
		.notBor {border:0px none !important;}

	/* text 속성 */
		.imes {ime-mode:disabled !important;}
		.imes_kr {ime-mode:active;}
		.weight {font-weight:bold;}
		.mline {text-decoration:line-through !important;}
		.text_red {color:red;}
		.text_small {font-size:7pt; color:red;}
		.text_black {color:black;}
		.font_f1 {font-family:돋움,dotum;}
		.font_dotum8 {font-family:돋움,dotum;font-size:8pt;}
		.lheight160 {line-height:160%;}
		.lheight130 {line-height:130%;}
		.blue {color:blue; }

		.f8pt {font-size:8pt;}
		.color_ee7600 {color:#ee7600 !important;}
		.color_999999 {color:#999999 !important;}
		.color_ff5252 {color:#ff5252; }
		.color_cd6a1b {color:#cd6a1b;}

		.text_noline {text-overflow:ellipsis !important; white-space:nowrap !important; word-break:break-all !important; overflow:hidden !important;}
		.sline {text-decoration:line-through;}

		.va1px {vertical-align:-1px}
		.va2px {vertical-align:-2px}

		.font_size08em {font-size:0.8em;}
		.font_size08em {font-size:0.8em;}
		.font_size08em {font-size:0.8em;}

	/* Image 속성 */
		.imgbor01 {border:1px solid #eee;}
		.png24 {tmp:expression(setPng24(this));}
		.cp {cursor:pointer;}




	/* Input // Select */
		.select8pt {font-size:8pt;}

	/* */
		.red {color:red;}
		.red2 {color:#eb301b;}
		.blue {color:blue;}
		.blue2 {color:#3366ff;}
		.lightBlue {color:#3366cc;}
		.notBorTop {border-top:0px none !important;}
		.notBorRight {border-right:0px none !important;}
		.notBorBottom {border-bottom:0px none !important;}
		.notBorLeft {border-left:0px none !important;}


		.blog_paging {clear:both;width:100%; text-align:center;padding:10px 0px;}
		.blog_paging .pages {clear:both;float:center;border:1px solid #000;overflow:hidden;}
		.blog_paging .pagers {display:inline-block;border:1px solid #eee; width:24px; height:19px; padding-top:5px;font-weight:bold;color:#7baa0b;margin-left:3px;text-align:center;}
		.blog_paging .pagers2 {display:inline-block;border:1px solid #eee;  height:19px; padding:5px 4px 0px 4px;font-weight:bold;color:#7baa0b;margin-left:3px;text-align:center;}
		.blog_paging .pagers a , .blog_paging .pagers2 a {color:#666;text-decoration:none;}
		.blog_paging .pagers a:hover , .blog_paging .pagers2 a:hover{color:#7baa0b;text-decoration:none;}


		.bbsP2 .paging_area {clear:both;width:100%; text-align:center;padding:10px 0px;}
		.bbsP2 .pages {clear:both;float:center; overflow:hidden;}
		.bbsP2 .pagers {display:inline-block; width:19px; height:19px; padding-top:5px; color:#858585; margin-left:3px; text-align:center;}
		.bbsP2 .pagers2 {display:inline-block;  height:15px; padding:5px 4px 0px 4px;color:#858585; margin-left:3px; text-align:center;}
		.bbsP2 .pagers a  {color:#858585; text-decoration:none;}
		.bbsP2 .pagers2 a {color:#858585; text-decoration:none;}
		.bbsP2 .pagers a:hover  {color:#3063ab;text-decoration:none;}
		.bbsP2 .pagers2 a:hover {color:#3063ab;text-decoration:none;}


		.pageArea2 {clear:both;width:100%; text-align:center;padding:10px 0px;}
		.pageArea2 .pages {clear:both;float:center;border:1px solid #000;overflow:hidden;}
		.pageArea2 .pagers {display:inline-block;border:1px solid #eee; width:24px; height:19px; padding-top:5px;font-weight:bold;color:#0057d3;margin-left:3px;text-align:center;}
		.pageArea2 .pagers2 {display:inline-block;border:1px solid #eee;  height:19px; padding:5px 4px 0px 4px;font-weight:bold;color:#0057d3;margin-left:3px;text-align:center;}
		.pageArea2 .pagers a {color:#666;text-decoration:none;}
		.pageArea2 .pagers2 a {color:#666;text-decoration:none;}
		.pageArea2 .pagers a:hover {color:#3063ab;text-decoration:none;}
		.pageArea2 .pagers2 a:hover{color:#3063ab;text-decoration:none;}

/* 게시판용 페이져 */
		.paging_area {clear:both;width:100%; text-align:center;padding:10px 0px;}
		.pages {clear:both;float:center;border:1px solid #000;overflow:hidden;}
		.pagers {display:inline-block;border:1px solid #eee; font-size:13px; width:30px; height:30px;  line-height:30px; font-weight:bold;color:#0057d3;margin-left:3px;text-align:center; margin-top:15px;}
		.pagers2 {display:inline-block;border:1px solid #eee;  height:19px; padding:5px 4px 0px 4px;font-weight:bold;color:#0057d3;margin-left:3px;text-align:center;}
		.pagers a , .pagers2 a {display:block; color:#666;text-decoration:none;}
		.pagers a:hover , .pagers2 a:hover{color:#3063ab;text-decoration:none;}


		.paging_area_m {clear:both;width:100%; text-align:center;padding:10px 0px;}
		.paging_area_m .pages {clear:both;float:center;border:1px solid #000;overflow:hidden;}
		.paging_area_m .pagers {display:inline-block;border:1px solid #eee; width:30px; height:25px; padding-top:5px;font-weight:bold;color:#0057d3;margin-left:3px;text-align:center;}
		.paging_area_m .pagers2 {display:inline-block;border:1px solid #eee;  height:25px; padding:5px 4px 0px 4px;font-weight:bold;color:#0057d3;margin-left:3px;text-align:center;}
		.paging_area_m .pagers a , .paging_area_m .pagers2 a {color:#666;text-decoration:none;}
		.paging_area_m .pagers a:hover , .paging_area_m .pagers2 a:hover{color:#3063ab;text-decoration:none;}


/* 페이징 모바일(5)*/
		.pagingMob5 {clear:both;width:100%;text-align:center;padding:20px 0px;margin-bottom:5px; font-size: 14px;}
		.pagingMob5 .currentPage {border:1px solid #666666; color:#fff; width:32px; height:32px; line-height:30px; margin:1px;background-color:#666666;display:inline-block;}
		.pagingMob5 a {border:1px solid #cccccc; color:#777; width:32px; height:32px; line-height:30px; margin:1px;display:inline-block;}
		.pagingMob5 a:hover {border:1px solid #666666;color:#666666;}

		/* NEW LISTING3 2017-03-05 */
		.pagingMob5n {clear:both;width:100%;text-align:center;padding:20px 0px;margin-bottom:5px; font-size: 14px;}
		.pagingMob5n .currentPage {border:1px solid #666666; color:#fff; width:32px; height:32px; line-height:30px; margin:1px;background-color:#666666;display:inline-block;}
		.pagingMob5n a {border:1px solid #cccccc; color:#777; width:32px; height:32px; line-height:30px; margin:1px;display:inline-block;}
		.pagingMob5n a:hover {border:1px solid #666666;color:#666666;}
/* pagingMobNew */
		.pagingMobNewArea {clear:both;width:100%;text-align:center;background:#fff;}

		.page_number {display: inline-block;font-size: 0;position: relative;padding: 0 73px; margin: 30px 0;}
		.page_number i {width: 36px; height: 36px; border-radius: 36px; border: 1px solid #e9e9e9; background-size: 7px !important;position: absolute;cursor: pointer; top: 0;}
		.page_number i.left {background: url(/m/images/left.svg) no-repeat center;left: 0;}
		.page_number i.left.first {opacity:0.3;border: 1px solid #A6A6A6;}
		.page_number i.right {background: url(/m/images/right.svg) no-repeat center;right: 0;}
		.page_number i.right.last {opacity:0.3;border: 1px solid #A6A6A6;}
		.page_number span { font-size: 13px; margin: 0 10px;line-height: 36px; display: inline-block; font-weight: 500;}
		.page_number span em {font-style: normal; color: #e96f16;}



/* 버튼 속성 */
	/* Jeong, Chan Myeong | http://naradesign.net/ */

	/* Button Common */
	.button,
	.button *{ position:relative; margin:0; padding:0; display:-moz-inline-stack; display:inline-block; text-decoration:none !important; border:0; font-size:12px; font-family:돋움,dotum,굴림,굴림체,gulim,tahoma,sans-serif,arial,verdana; white-space:nowrap; background:url(/images_kr/button.gif) no-repeat; vertical-align:top; overflow:visible; color:#333;}
	.button { margin-right:4px;}
	.button *{ left:4px; cursor:pointer; _cursor:hand;}

	/* Button Size = medium | large | xLarge | small */
	.button.medium, .button.medium *{ height:24px; line-height:24px;}
	.button.large, .button.large *{ height:30px; line-height:30px;}
	.button.xLarge, .button.xLarge *{ height:36px; line-height:36px;}
	.button.small, .button.small *{ height:19px; line-height:19px;}
	.button.medium { background-position:left 0;}
	.button.large { background-position:left -30px;}
	.button.xLarge { background-position:left -65px;}
	.button.small { background-position:left -106px;}
	.button.medium *{ padding:0 10px 0 6px; font-size:12px; background-position:right top;}
	.button.large *{ padding:0 10px 0 6px; font-size:16px; background-position:right -30px;}
	.button.xLarge *{ padding:0 10px 0 6px; font-size:20px; background-position:right -65px;}
	.button.small *{ padding:0 6px 0 2px; font-size:11px; background-position:right -106px;}

	/* Button Hover */
	.button *:hover { color:red;}
	/*
	.button *:active { color:red;}
	.button *:focus { color:red;}
	*/
	/* Button Strong */
	.button.strong *{ font-weight:bold !important;}

	/* Button Icon Variation */
	.button.icon *{ padding-left:20px;}
	.button.small.icon *{ padding-left:16px;}
	.button.icon span{ width:20px; margin-right:-20px; padding:0 !important;}
	.button.medium .check{ background-position:4px -150px;}
	.button.large .check{ background-position:4px -146px;}
	.button.xLarge .check{ background-position:5px -144px;}
	.button.small .check{ background-position:3px -153px;}
	.button.medium .add{ background-position:-16px -150px;}
	.button.large .add{ background-position:-14px -146px;}
	.button.xLarge .add{ background-position:-14px -144px;}
	.button.small .add{ background-position:-18px -153px;}
	.button.medium .delete{ background-position:-34px -150px;}
	.button.large .delete{ background-position:-34px -146px;}
	.button.xLarge .delete{ background-position:-34px -144px;}
	.button.small .delete{ background-position:-37px -153px;}
	.button.medium .calendar{ background-position:-56px -150px;}
	.button.large .calendar{ background-position:-56px -146px;}
	.button.xLarge .calendar{ background-position:-56px -144px;}
	.button.small .calendar{ background-position:-59px -153px;}
	.button.medium .refresh{ background-position:-76px -150px;}
	.button.large .refresh{ background-position:-76px -146px;}
	.button.xLarge .refresh{ background-position:-76px -144px;}
	.button.small .refresh{ background-position:-79px -153px;}


/* ▣▣▣텍스트버튼 ▣▣▣ */
	.txtBtn {position:relative;display:inline-block;text-align:center;cursor:pointer;vertical-align:middle; }

	/* 우편번호 */
	.txtBtn.small		{background-color:#969696;border:1px solid #969696;color:#fff;font-size:12px; padding:2px 10px 0px 10px; height:26px;min-width:65px;}
	.txtBtn.small:hover {background-color:#7f7f7f;}
	.txtBtn.small2		{background-color:#7f7f7f;border:1px solid #969696;color:#fff;font-size:12px; padding:2px 10px 0px 10px; height:26px;min-width:65px;}
	.txtBtn.small2:hover{background-color:#6e6e6e;}
	.txtBtn.small3		{background-color:#fff;border:1px solid #969696;color:#868686;font-size:12px; padding:2px 10px 0px 10px; height:26px;}
	.txtBtn.small3:hover{color:green; }
	.txtBtn.s_modify	{background-color:#fff;border:1px solid #969696;color:#007b00;font-size:11px; padding:2px 5px 0px 5px; height:26px;font-weight:bold;}
	.txtBtn.search		{background-color:#257EC0;border:1px solid #969696;color:#fff;font-size:12px; padding:2px 10px 0px 10px; height:26px;min-width:65px;}

	.txtBtn.large		{background-color:#fff; font-size:16px; padding:12px 10px 10px 10px; min-width:100px;font-weight:bold;}
	.txtBtn.b_blue	    {border:4px solid #5675c5;color:#5675c5;}
	.txtBtn.b_blue:hover{border:4px solid #5665c5;color:#5665c5;}
	.txtBtn.b_red		{border:4px solid #d62f40;color:#d62f40;}
	.txtBtn.b_red:hover {border:4px solid #c91a2c;color:#c91a2c;}
	.txtBtn.b_gray	    {border:4px solid #969696;color:#969696;}
	.txtBtn.b_gray:hover{border:4px solid #8f8f8f;color:#8f8f8f;}

	.txtBtn.radius3{
		-webkit-border-radius:	3px;
		-moz-border-radius:		3px;
		border-radius:			3px;
	}
	.txtBtn.pd5{padding:2px 5px 0px 5px;}
	.txtBtn.pd7{padding:2px 7px 0px 7px;}

	.txtBtn.radius3{
		-webkit-border-radius:	3px;
		-moz-border-radius:		3px;
		border-radius:			3px;
	}
	.txtBtn.radius5{
		-webkit-border-radius:	5px;
		-moz-border-radius:		5px;
		border-radius:			5px;
	}

/* ▣▣▣컬러버튼 s▣▣▣ */
/* 기본 */
.txtBtnC {
	position:relative;
    display: inline-block;
	text-align:center;
	font-family: inherit;
	vertical-align: middle;		/* 다른 요소를 만날때 수직 가운데 정렬을 대비 */
	white-space: nowrap;		/* 버튼의 크기가 작을때 줄바꿈 되지 않는다 */
	cursor:pointer;
	text-decoration: none;		/* 글자의 밑줄 제거 */
	background: transparent;	/* 기본 배경색을 투명화 */
	border: none;				/* 테두리 속성을 초기화한다 */
	outline: 0;					/* 포커스시 생성되는 외곽선 제거 */
    box-sizing: content-box;
    -moz-box-sizing: content-box;
}
/* 컬러버튼 크기 */
.txtBtnC.large{
	padding:12px 20px 10px 20px;

    font-size: 16px;
	min-Width:80px;
	font-weight: 500;
}
.txtBtnC.medium{
	padding:8px 15px 6px 15px;

    font-size: 16px;
	min-Width:80px;
	font-weight: 500;
}

.txtBtnC.medium2{
	padding:0px 15px;

    font-size: 13px;
	min-Width:80px;
	height:30px;
	font-weight: 400;
}

.txtBtnC.small{				/* cart 삭제버튼 */
	padding:4px 0px 2px 0px;
	font-size: 11px;
	width:65px;
}

/* 컬러버튼 테두리각 + 그림자 */
.txtBtnC.radius3{
	-webkit-border-radius:	3px;
	-moz-border-radius:		3px;
	border-radius:			3px;
}
.txtBtnC.radius5{
	-webkit-border-radius:	5px;
	-moz-border-radius:		5px;
	border-radius:			5px;
}

.txtBtnC.radius10{
	-webkit-border-radius:	10px;
	-moz-border-radius:		10px;
	border-radius:			10px;

	box-shadow:			0 2px 6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
    -mozbox-shadow:		0 2px 6px rgba(0, 0, 0, 0.4);
}

/* 그림자 - 창닫기 */
.txtBtnC.shadow1{
	box-shadow:			 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow:  1px 2px rgba(0, 0, 0, 0.1);
    -mozbox-shadow:		 1px 2px rgba(0, 0, 0, 0.1);
}

/* 컬러버튼 색깔 - 블루 */
 .txtBtnC.blue {
    color: #f1f1f1;
    border: 0px solid #ebebeb;
    border-bottom-color: #0069ce;
	background: #0079ce;		/* 기본색 ie8   00a1e7 < 0079ce < 0069ce */
}
.txtBtnC.blue:hover {
/*    background: linear-gradient(to bottom, #0079ce 10%, #3da1e7 100%); */
	background: #0069ce;		/* 기본색 over ie8 */
}


/* 컬러버튼 색깔 - 레드 */
 .txtBtnC.red {
    color: #eee;
    border: 0px solid #ebebeb;
    border-bottom-color: #c6c6c6;
	background: #b91a2c;		/* 기본색 ie8   d62f40 < b91a2c < c90a2c */
}
.txtBtnC.red:hover {
	background: #c90a2c;		/* 기본색 over ie8 */
}
/* 컬러버튼 색깔 - 레드2 */
 .txtBtnC.red2 {
    color: #eee;
    border: 0px solid #ebebeb;
    border-bottom-color: #c6c6c6;
	background: #c33115;		/* 기본색 ie8   e84323 < c33115 < c32115 */

}
.txtBtnC.red2:hover {
	background: #c32115;		/* 기본색 over ie8 */
}


/* 컬러버튼 색깔 - 그린 */
 .txtBtnC.green {
    color: #f1f1f1;
    border: 1px solid #1bb80d;
    border-bottom-color: #1bb80d;
	background: #2da421;		/* 기본색 ie8   76c143 < 2da421 < 2d9421  */
}
.txtBtnC.green:hover {
	background: #2d9421;		/* 기본색 over ie8 */
}

/* 컬러버튼 색깔 - 회색 */
 .txtBtnC.gray
{
    color: #444444;
    border: 0px solid #e1e1e1;
    border-bottom-color: #d1d1d1;
	background: #e8e8e8;
}
.txtBtnC.gray:hover {
	background: #e0e0e0;
}

/* 컬러버튼 색깔 - 회색 */
 .txtBtnC.cart
{
	width:40px;font-weight:bold;
    color: #3366ff;
    border: 1px solid #d1d1d1;
    border-bottom-color: #d1d1d1;
	background: #f1f1f1;
	background: -moz-linear-gradient(#fafafa 0%, #e8e8e8 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #e8e8e8));
	background: -webkit-linear-gradient(#fafafa 0%, #e8e8e8 100%);
	background: linear-gradient(#fafafa 0%, #e8e8e8 100%);
	-webkit-border-radius:	3px;
	-moz-border-radius:		3px;
	border-radius:			3px;
}
.txtBtnC.cart:hover{
    color: #3311ff;
	background: #e0e0e0;
	background: -moz-linear-gradient(#e8e8e8 0%, #e8e8e8 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e8e8e8), color-stop(100%, #e8e8e8));
	background: -webkit-linear-gradient(#e8e8e8 0%, #e8e8e8 100%);
	background: linear-gradient(#e8e8e8 0%, #e8e8e8 100%);
}

	/* 회색테두리, txt그림자 */
 .txtBtnC.border1 {border:1px solid #d1d1d1;}
 .txtBtnC.tshadow1 {text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);}	/* gray */
 .txtBtnC.tshadow2 {text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);}
 .txtBtnC.fRed {color:#c33232;}									/* cart 수량변경 */
 .txtBtnC.fGray {color:#727272;}

 .txtBtnC.bgf5{background-color:#f5f5f5;}

/* ▣▣▣컬러버튼e▣▣▣ */



	#mBtn .btnList {display: block;}
	#mBtn a {display:block; margin:4px 4px; border:1px solid red; border-radius:4px;font-size:15px;font-weight:bold;line-height:30px;height:30px; text-align:center; background-color:#fff;}
	#mBtn a.red {background-color:#cb3849; border:1px solid #cb0808; color:#fff;}
	#mBtn a.gray2 {background-color:#c0c0c0; border:1px solid #9a9a9a; color:#000;}
	#mBtn a.gray {background-color:#ededed; border:1px solid #bababa; color:#727272;}
	#mBtn a.green {background-color:#2da421; border:1px solid #1ba80d; color:#fff;}



 select .input_text {height:25px; line-height:25px;font-size:14px; padding:0px; vertical-align:middle; border:1px solid #ddd;}


 /* popUP btn*/
 .popClose {border-radius:4px; font-size:15px; line-height:32px; height:36px; border:1px solid #ccc; width:40%; margin-top:15px;}
 .popInput {border-radius:4px 0px 0px 4px; font-size:15px; line-height:32px; border:1px solid #ccc; width:40%;padding-left:10px;outline:none;}
 .popSearchBtn {border-radius:0px 4px 4px 0px; font-size:15px; line-height:32px; height:36px; border:1px solid #ccc; width:20%; border-left:0px none;outline:none;}


 .mBtn {position: relative;display: block; width:45%; margin:0px auto; padding: 8px ;font-size: 15px;line-height: 30px;color: #fff;background: #000;border: none;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px; text-align:center;cursor: pointer;}
 .jBtn1 {background-color:#ad0d0d; margin-top:15px;}
 .jBtn2 {background-color:#777; margin-top:15px;}
 .jBtn3 {background-color:#4581e5; margin-top:15px;}
 .input_btn {height:30px; line-height:30px;font-size:13px; padding:0px; background-color:#eee; border:1px solid #ddd;vertical-align:middle;}



/* 날짜검색 */
#div_date {margin-top:15px;}
#div_date th {background-color:#eee; border:1px solid #ccc; }
#div_date td {border:1px solid #ccc; padding:4px 4px;}
#div_date td .input_text_date {border:1px solid #ccc; line-height:22px; height:22px; text-align:center; background-color:#eee; width:95%;}

#div_date .date_submit { background:linear-gradient(#fff 0%,#ddd 35%,#fff 100%);
	border:1px solid #999; color:#fff; -webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;
	padding:15px 8px; text-align:center; color:#333; display:block; cursor:pointer; font-weight:bold;
	width:100%;
}

#div_date .input_text {border: 1px solid #ccc; line-height: 26px;	height: 26px; text-align: center; background-color: #fff;}
#div_date select {border: 1px solid #ccc; line-height: 26px; height: 26px; text-align: center; background-color: #fff;}
#div_date .readonly {background-color: #eee;}


	.titles {clear:both;font-size:12pt;padding-bottom:3px; padding-top:20px;font-weight:600;color:#333;}
	.titles:before {font-family: "Font Awesome 5 Free"; content: "\f146"; font-size:18px;padding-right:3px;}


.a_submit  {font-size:13px; display: inline-block; padding: 0px 15px; vertical-align: middle; cursor: pointer; line-height:27px; height:29px; max-width: 80px; text-align: center;}
.a_submit2 {font-size:13px; display: inline-block;padding: 0px 9px;vertical-align: middle;cursor: pointer;line-height:27px; max-width: 80px; text-align: center;}
.design1 {background-color: #337ab7;border:1px solid #2e6da4;border-radius: 3px;color:#fff !important;font-weight:300;}
.design2 {background-color: #f9f9f9; border:1px solid #cccccc; border-radius: 3px; color:#666 !important;font-weight:300;}
.design3 {background-color: #898989; border:1px solid #606060; border-radius: 3px; color:#fff !important;font-weight:300;}
.design4 {background-color: #c40d0d; border:1px solid #880000; border-radius: 3px; color:#fff !important;font-weight:300;}
.design5 {background-color: #33b793; border:1px solid #1a9473; border-radius: 3px; color:#fff !important;font-weight:300;}
.design6 {background-color: #333333; border:1px solid #ffffff; border-radius: 3px; color:#fff !important;font-weight:300;}
.design7 {background-color: #fff; border:1px solid #c40d0d; border-radius: 3px; color:#c40d0d !important;font-weight:300;}

/* 단위 : 원, pv, cv */
.cur {font-size: 13px; width: 25px; display: inline-block; text-align: left; padding-left: 4px;}
.cur1 {font-size: 14px; width: 25px; display: inline-block; text-align: left; padding-left: 4px;}
.cur2 {font-size: 13px; width: 25px; display: inline-block; text-align: left; padding-left: 4px;}

/* table col 설정 */
.col-mw50 {min-width: 50px;}
.col-mw65 {min-width: 65px;}
.col-mw70 {min-width: 70px;}
.col-mw80 {min-width: 80px;}
