@charset "UTF-8";
.nonDisplay { display: none; }

/*#mypage {margin-top: 20px;}*/
#contain { padding-top: 0; }

#content_M { padding: 5rem 10rem !important; }

#contain_wrap .content .maps_title { display: none; }
#contain_wrap form { padding: 0; }

#mypage { display: flex; justify-content: center; align-items: center; width: 100%; padding: 0; }
#mypage .wrap { width: 100%; }
#mypage h6 { text-align: left; padding: 2.5rem 0; font-size: 3rem; border-bottom: 1px solid #9e9e9e; }
#mypage .detail_btn { display: inline-flex; justify-content: center; align-items: center; height: 7rem; line-height: 1.5; padding: 0.5rem 1rem; cursor: pointer; z-index: 2; color: #4c4c4c; font-size: 2.3rem; font-weight: 500; border: 1px solid #656565; background: transparent; -moz-border-radius: 0.5rem; -webkit-border-radius: 0.5rem; border-radius: 0.5rem; vertical-align: top; }
#mypage .detail_btn:hover { background: #1C287B; border-color: #1C287B; color: #fff; box-shadow: none; }
#mypage .detail_btn.noline { border: none; background: #757575; color: #fff; }
#mypage .detail_btn.noline:hover { background: #455a64; }
#mypage .detail_btn.width100 { margin-top: 2.5rem; }
#mypage .detail_btn.qr { width: 100%; }
#mypage .detail_btn.red { background: #e91e63; }
#mypage .detail_btn.red:hover { background: #c2185b; }
#mypage .detail_btn.green { background: #4caf50; }
#mypage .detail_btn.green:hover { background: #388e3c; }
#mypage .detail_btn.blue { background: #1C287B; }
#mypage .detail_btn.blue:hover { background: #131a51; }
#mypage .detail_btn.purple { background: #fff; }
#mypage .detail_btn.purple:hover { background: #e6e6e6; }

#mypage label.checkbox { cursor: pointer; color: inherit; font-size: 2.5rem; font-weight: 500; position: relative; display: inline-flex; justify-content: center; align-items: center; height: 7rem; vertical-align: middle; }
#mypage label.checkbox i { color: #bdbdbd; font-size: 2.2rem; margin-right: 1.25rem; }
#mypage label.checkbox span { display: flex; justify-content: center; align-items: center; position: relative; width: 100%; height: 100%; padding: 0.5rem 1.5rem; background: #f5f5f5; border: 1px solid #e0e0e0; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; }
#mypage label.checkbox input { position: absolute; visibility: hidden; z-index: -1; }
#mypage label.checkbox input:checked ~ span { color: #fff; background: #5c6bc0; border-color: #4150a8; }
#mypage label.checkbox input:checked ~ span i { color: inherit; }
#mypage article { padding: 3rem 0; }
#mypage article input[type='checkbox'] { width: 2.5rem !important; height: 2.5rem !important; margin: 0; }
#mypage article:first-of-type { padding-top: 0; }
#mypage article > div { border-bottom: 1px solid #eeeeee; display: flex; justify-content: center; align-items: flex-start; flex-direction: column; padding: 0 1.25rem; }
#mypage article > div:first-child { border-top: 1px solid #9e9e9e; }
#mypage article > div.dwrap { border: initial; padding: initial; }
#mypage article > div.dwrap > div { display: flex; justify-content: space-between; align-items: center; width: 100%; border-bottom: 1px solid #eeeeee; padding: 0 1.25rem; }
#mypage article > div.dwrap > div .con { flex: 1; }
#mypage article > div h5 { font-weight: 500; color: #616161; text-align: left; padding-top: 2.5rem; word-break: keep-all; width: 100%; font-size: 2.5rem; }
#mypage article > div .con { text-align: left; font-weight: 500; font-size: 2.5rem; min-height: 7rem; padding: 2.5rem 0; color: #222; width: 100%; }
#mypage article > div .con .summary { font-size: 2rem; font-weight: 400; color: #9e9e9e; margin-top: 1.25rem; text-align: left; width: 100%; }
#mypage article > div .con .summary.red { color: #f44336; }
#mypage article > div .con .summary.blue { color: #2196f3; }
#mypage article > div .con .input_select, #mypage article > div .con .input_text { border: 1px solid #bdbdbd; padding: 0 1.25rem; width: 100%; height: 7rem; font-size: 2.5rem; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; background: #fff; }
#mypage article > div .con .input_select { cursor: pointer; }
#mypage article > div .con .input_text:read-only { background: #eeeeee; outline: none; }
#mypage article > div .con .button { outline: none; cursor: pointer; text-align: center; text-decoration: none; font-family: inherit; padding: 0.5rem 1rem; display: inline-flex; justify-content: center; align-items: center; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; color: #fff; font-weight: 400; border: solid 1px #c55206; background: #f76707; display: inline-flex; justify-content: center; align-items: center; margin: 0; min-width: 5rem; width: calc(25% - 1.5rem); height: 7rem; font-size: 2.5rem; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; word-break: keep-all; white-space: initial; padding: 0 1rem; vertical-align: initial; }
#mypage article > div .con .button:hover { color: #fff; text-decoration: none; background: #f9761f; }
#mypage article > div .con .button:active { color: #fffefe; background: #de5d06; }
#mypage article > div .con .inputs { display: inline-flex; justify-content: center; align-items: center; width: calc(75% - 1.5rem); }
#mypage article > div .con .inputs span { margin: 1.6666666667rem; }
#mypage article > div .con .inputs input { width: 50%; }
#mypage article > div .con .inputs ~ .detail_btn { width: 25%; }
#mypage article > div .con .selects { display: inline-flex; width: 100%; flex: 1; }
#mypage article > div .con .selects span { margin: 1.6666666667rem; }
#mypage article > div .con .selects select { width: 50%; margin-left: 1.25rem; }
#mypage article > div .con .selects select:first-child { margin-left: 0; flex: auto; width: 100%; }
#mypage article > div.drow { flex-direction: initial; justify-content: flex-start; align-items: center; }
#mypage article > div.drow h5 { width: 30%; padding: 0; padding-right: 2.5rem; }
#mypage article > div.drow .con { display: inline-flex; justify-content: flex-start; align-items: center; }
#mypage article .id .detail_btn { margin-left: 2.5rem; }
#mypage article .password { display: flex; justify-content: flex-start; align-items: center; padding: 0 1.25rem; }
#mypage article .password .con { flex: 1; display: flex; justify-content: center; align-items: center; }
#mypage article .password .con label { width: 50%; margin-left: 1rem; }
#mypage article #bodyPass { flex-direction: column; padding: 0 2.5rem; background: #fafafa; }
#mypage article #bodyPass > div { width: 100%; }
#mypage article #bodyPass > div:first-of-type .con { border-bottom: 1px solid #eeeeee; }
#mypage article .number .con { display: flex; flex-wrap: wrap; justify-content: space-between; }
#mypage article .name .con { font-size: 0; }
#mypage article .name .con .input_text { width: calc(50% - 1.5rem); }
#mypage article .name .con .input_text:first-child { margin-right: 2rem; }
#mypage article .address .con { font-size: 0; display: flex; justify-content: flex-start; align-items: center; flex-wrap: wrap; }
#mypage article .address .con .input_text:first-of-type { width: calc(70% - 2rem); }
#mypage article .address .con .input_text:last-of-type { margin-top: 1.25rem; }
#mypage article .address .con .button { margin-left: 1rem; width: calc(30% + 1rem); }
#mypage article .address .con input.button { margin-left: 0; }
#mypage article #cpno .inputs { width: calc(75% - 2.5rem); }
#mypage article #cpno .inputs span { margin: 1rem; font-size: 2.5rem; }
#mypage article #cpno .con { font-size: 0; }
#mypage article #cpno .con .button { width: 25%; margin-left: 2.5rem; }
@media (max-width: 576px) { #mypage article #cpno h5 { width: auto; }
  #mypage article #cpno .con .inputs { width: 100%; }
  #mypage article #cpno .con .button { width: 100%; margin: 0; margin-top: 1.6666666667rem; } }
#mypage article .radio .con { display: inline-flex; justify-content: flex-start; align-items: center; }
#mypage article .radio.birth .con { align-items: center; flex-wrap: wrap; }
#mypage article .radio.birth .con p { margin-right: 1.25rem; flex: 1; }
#mypage article .radio.birth .con .labels { display: flex; justify-content: center; align-items: center; width: 100%; }
#mypage article .radio.birth .con label { width: 50%; margin: 0; }
#mypage article .radio.birth .con label:first-of-type { margin-right: 1rem; }
#mypage article .pin .con { display: inline-flex; justify-content: space-between; align-items: center; }
#mypage article .pin .con input { flex: 1; }
#mypage article .pin .con span { margin: 0 1.25rem; }
#mypage article #googleAuth { width: 100%; display: inline-flex; flex-wrap: wrap; justify-content: space-between; align-items: flex-start; }
#mypage article #googleAuth .qr { margin-bottom: 2.5rem; }
#mypage article #googleAuth .inputs { margin-bottom: 2.5rem; }
#mypage article #googleAuth .inputs input { flex: 1; margin-left: 2.5rem; }
#mypage article #googleAuth .inputs:only-child { margin-bottom: 0; }
#mypage article #googleAuth .ok { display: inline-flex; justify-content: flex-start; align-items: center; width: 100%; }
#mypage article #googleAuth .ok p { margin-right: 2.5rem; }
#mypage article .wallet .detail_btn.blue { width: 100%; }
#mypage article .wallet .con div span { font-size: 2.5rem; }
#mypage article .wallet .con div .detail_btn { margin-top: 2.5rem; width: 100%; }
#mypage article .mobile .con .input_text:first-of-type { width: 70%; }
#mypage article .mobile .con .input_text:last-of-type { margin-top: 1.25rem; }
#mypage article .mobile .con .button { width: calc(30% - 1rem); float: right; }
#mypage article .mobile .con #authStatus { text-align: center; font-size: 2.5rem; font-weight: 700; line-height: 2; margin: 1rem 0; background: #ffebee; }
#mypage article .tel .con { flex: 1; }
#mypage article .email .con { display: inline-flex; justify-content: space-between; align-items: center; }
#mypage article .email .con span { margin: 0 1.25rem; }
#mypage article .email .con input { width: 33%; flex: auto; }
#mypage article .email .con .selects { margin-left: 1.25rem; width: 33%; flex: auto; }
#mypage article .birth .selects { margin-bottom: 2.5rem; }
#mypage article h4 { font-weight: 400; color: #424242; font-size: 2.7rem; margin-bottom: 2.5rem; }
#mypage article .bank .dwrap { width: 100%; flex-direction: column; }
#mypage article .bank .con { flex: 1; border-top: 1px solid #eeeeee; }
#mypage article .bank .con:nth-of-type(1) { border: none; }
#mypage article .bank .con .button { margin-top: 2.5rem; width: 100%; }
#mypage article .bank .bankText { display: flex; justify-content: flex-start; align-items: center; }
#mypage article .bank .bankText span { margin-right: 2.5rem; }
#mypage article .bank .bankText .button { margin-left: 2.5rem; }
#mypage article .bank #bankReg { display: flex; justify-content: flex-start; align-items: center; flex-direction: column; }
#mypage article .bank #bankReg .regInfo { display: flex; justify-content: flex-start; align-items: center; width: 100%; }
#mypage article .bank #bankReg .regInfo input, #mypage article .bank #bankReg .regInfo select { margin-right: 1.25rem; width: calc(50% - 2.5rem); }
#mypage article .bank #bankReg .regInfo #bankInfo { font-size: 2.5rem; margin-top: 2.5rem; }
#mypage article .bank #bankReg span.regInfo { font-size: 2.5rem; margin-top: 2.5rem; }
#mypage article .bank ~ #bankReg .con .inputs { width: 100%; flex-direction: column; }
#mypage article .bank ~ #bankReg .con .inputs input, #mypage article .bank ~ #bankReg .con .inputs select { margin-bottom: 1.25rem; width: 100%; }
#mypage article .bank ~ #bankReg .con .button { width: 100%; margin-bottom: 1.25rem; }
#mypage article .voter .con { display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap; flex: 1; }
#mypage article .voter .con p { margin-bottom: 1rem; }
#mypage .agreeArea { flex-direction: column; padding: 2.5rem 1.25rem; margin-top: 2.5rem; }
#mypage .agreeArea .title { display: flex; justify-content: space-between; align-items: center; width: 100%; }
#mypage .agreeBox { position: relative; z-index: 1; border: 1px solid #bdbdbd; width: 100%; height: 25.6rem; margin: 2rem auto; scroll-behavior: smooth; -moz-transition: all, 0.3s; -webkit-transition: all, 0.3s; transition: all, 0.3s; text-align: left; }
#mypage .agreeBox:before, #mypage .agreeBox:after { position: absolute; left: 0; z-index: 2; width: 39.7rem; height: 5%; }
#mypage .agreeBox:before { top: 0; background: linear-gradient(180deg, #fff, transparent); }
#mypage .agreeBox:after { bottom: 0; background: linear-gradient(0deg, #fff, transparent); }
#mypage .agreeBox .agree_content { position: relative; z-index: 1; width: 100%; height: 100%; padding: 3rem; overflow-x: hidden; overflow-y: scroll; font-size: 2rem; color: #424242; }
#mypage .agreeBox .agree_content b { font-size: 2.6rem; font-weight: 500; overflow: hidden; }
#mypage .agreeBox .agree_content::-webkit-scrollbar { position: relative; width: 1.5rem; z-index: 2; }
#mypage .agreeBox .agree_content::-webkit-scrollbar-thumb { background: #bdbdbd; background-clip: padding-box; border: 0rem solid transparent; }
#mypage .agreeBox .agree_content::-webkit-scrollbar-track { background: #f5f5f5; z-index: 1; }
#mypage .btnZone { display: flex; justify-content: space-between; align-items: center; width: 100%; }
#mypage .btnZone a, #mypage .btnZone input { display: inline-flex; justify-content: center; align-items: center; width: calc(50% - 2rem); height: 8rem; margin: 1rem auto; background: transparent; font-size: 3rem; cursor: pointer; font-family: inherit; border: none; -moz-border-radius: 1rem; -webkit-border-radius: 1rem; border-radius: 1rem; }
#mypage .btnZone input { background: #1C287B; color: #fff; }
#mypage .btnZone a { background: #fff; color: #fff; }
#mypage .btnZone a * { background: none; font-family: inherit; font-size: inherit; color: inherit; left: initial; height: initial; }
#mypage .btnZone a:hover { color: inherit; }
#mypage .btnZone .cancel { background: #e0e0e0; color: #222; }
#mypage .btnZone .cancel:hover { background: lightgray; }
#mypage .btnZone .promise { background: #1C287B; color: #fff; }
#mypage .btnZone .promise:hover { background: #142283; }
#mypage .reset_wrap { width: 100%; margin: 0 auto; margin-top: 2rem; padding: 2.5rem; text-align: center; background: #f5f5f5; -moz-border-radius: 0.5rem; -webkit-border-radius: 0.5rem; border-radius: 0.5rem; }
#mypage .reset_wrap > p { padding: 1rem 0 2rem 0; }
#mypage .reset_wrap .btns { display: flex; justify-content: center; align-items: center; }
#mypage .reset_wrap .btns input { box-sizing: border-box; margin: 1rem 2.5rem; min-width: 16rem; height: 7rem; }

.modal * { word-wrap: break-word; word-break: keep-all; }
.modal .close .icon-cancel { position: absolute; top: 0; right: 0; color: #222; font-size: 3.5rem; padding: 1rem; cursor: pointer; }
.modal h6 { text-align: left; padding: 2.5rem 0; font-size: 5rem; color: #222; }
.modal .detail_btn { display: inline-flex; justify-content: center; align-items: center; height: 7rem; line-height: 1.5; padding: 0.5rem 1rem; cursor: pointer; z-index: 2; vertical-align: middle; color: #4c4c4c; font-size: 2.3rem; font-weight: 500; border: 1px solid #656565; background: transparent; -moz-border-radius: 0.5rem; -webkit-border-radius: 0.5rem; border-radius: 0.5rem; }
.modal .detail_btn:hover { background: #1C287B; border-color: #1C287B; color: #fff; box-shadow: none; }
.modal .detail_btn.noline { border: none; background: #757575; color: #fff; }
.modal .detail_btn.noline:hover { background: #455a64; }
.modal .detail_btn.width100 { margin-top: 2.5rem; }
.modal .detail_btn.qr { width: 100%; }
.modal .detail_btn.red { background: #e91e63; }
.modal .detail_btn.red:hover { background: #c2185b; }
.modal .detail_btn.green { background: #4caf50; }
.modal .detail_btn.green:hover { background: #388e3c; }
.modal .detail_btn.blue { background: #1C287B; }
.modal .detail_btn.blue:hover { background: #131a51; }
.modal .detail_btn.purple { background: #fff; }
.modal .detail_btn.purple:hover { background: #e6e6e6; }
.modal article { padding: 3rem 0; }
.modal article > div { display: flex; justify-content: space-between; align-items: center; border-bottom: 1px solid #eeeeee; }
.modal article > div:first-child { border-top: 1px solid #9e9e9e; }
.modal article > div h5 { font-weight: 500; color: #616161; text-align: right; font-size: 2.5rem; flex: 0.2; padding-right: 5rem; word-break: keep-all; }
.modal article > div .con { flex: 0.8; text-align: left; font-weight: 500; font-size: 2.8rem; min-height: 7rem; padding: 2.5rem 0; }
.modal article > div .con .summary { font-size: 2.4rem; font-weight: 400; color: #9e9e9e; margin-top: 2.5rem; text-align: left; width: 100%; }
.modal article > div .con .summary.red { color: #f44336; }
.modal article > div .con .summary.blue { color: #2196f3; }
.modal article > div .con .input_text { border: 1px solid #bdbdbd; padding: 2.5rem; width: 100%; height: 7rem; font-size: 2.5rem; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; }
.modal article > div .con .input_text:read-only { background: #eeeeee; outline: none; }
.modal article > div .con .button { outline: none; cursor: pointer; text-align: center; text-decoration: none; font-family: inherit; padding: 0.5rem 1rem; display: inline-flex; justify-content: center; align-items: center; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; color: #fff; font-weight: 400; border: solid 1px #c55206; background: #f76707; }
.modal article > div .con .button:hover { color: #fff; text-decoration: none; background: #f9761f; }
.modal article > div .con .button:active { color: #fffefe; background: #de5d06; }
.modal article > div .con .inputs { display: inline-flex; align-items: center; width: calc(75% - 1.5rem); }
.modal article > div .con .inputs span { margin: 1.6666666667rem; }
.modal article > div .con .inputs ~ .detail_btn { width: 25%; }
.modal article .id .detail_btn { margin-left: 2.5rem; }
.modal .btnZone { display: flex; flex-direction: column; justify-content: center; padding-top: 5rem; padding-bottom: 5rem; width: 100%; }
.modal .btnZone a, .modal .btnZone input { display: inline-flex; justify-content: center; align-items: center; width: 17.0666666667rem; height: 7rem; margin: 1.25rem auto; background: transparent; font-size: 3rem; cursor: pointer; font-family: inherit; border: none; -moz-border-radius: 0.5rem; -webkit-border-radius: 0.5rem; border-radius: 0.5rem; }
.modal .btnZone input { background: #1C287B; color: #fff; }
.modal .btnZone a { background: #fff; color: #fff; }
.modal .btnZone a * { background: none; font-family: inherit; font-size: inherit; color: inherit; left: initial; height: initial; }
.modal .btnZone a:hover { color: inherit; }
.modal .btnZone .cancel { background: #e0e0e0; color: #222; }
.modal .btnZone .cancel:hover { background: lightgray; }
.modal .btnZone .promise { background: #5c6bc0; color: #fff; }
.modal .btnZone .promise:hover { background: #818cce; }

#mypage .btn_area { padding: 30px 0px; }
#mypage .c_s_title { font-size: 20px; font-weight: 600; padding: 5px 0px; color: #333333; }
#mypage .c_s_title2 { font-size: 15px; font-weight: 500; padding: 0px; color: #262626; text-align: center; padding-bottom: 50px; }
#mypage.member_modify .nodata { padding: 40px 10px; }
#mypage .cardinfo th { border-bottom: 1px solid #e0e0e0; padding: 12px 8px; background: #e9e9e9; text-align: center; }
#mypage .cardinfo td { border-bottom: 1px solid #e0e0e0; padding: 12px 8px; }
#mypage .cardinfo .input_text { border: 1px solid #ddd; vertical-align: middle; line-height: 24px; height: 24px; padding-left: 4px; }

/* 약관 */
table { font-size: 10pt; }

@media (min-width: 420px) { #mypage article .voter .con .button { width: calc(30% - 1.25rem); } }
@media (max-width: 420px) { #mypage article .voter .con .button { width: 100%; } }
@media (max-width: 360px) { #mypage article .radio.birth .con p { width: 100%; margin: 0; margin-bottom: 1.25rem; flex: auto; } }
@media (max-width: 360px) { #mypage article .agreeArea .title { flex-direction: column; align-items: flex-start; }
  #mypage article .agreeArea .title h3 { margin-bottom: 1.5rem; }
  #mypage article .agreeArea .title label { width: 100%; }
  #mypage article .agreeArea .title label span { position: initial; }
  #mypage article .agreeArea .title label span:before { width: 100%; height: 100%; top: 0; left: 0; }
  #mypage article .mobile .con .input_text { width: 100% !important; margin: 0; margin-bottom: 1rem; }
  #mypage article .mobile .con .button { width: 100%; }
  #mypage article .mobile .con #authStatus { width: 100%; float: left; }
  #mypage article .password .con { flex-wrap: wrap; }
  #mypage article .password .con .input_text { width: 100% !important; margin: 0; margin-bottom: 1rem; }
  #mypage article .password .con label { margin-left: 0; } }
@media (max-width: 482px) { #mypage article .password .con label { width: 100%; } }
