@charset "UTF-8";
html, body { font-family: "Pretendard", "Roboto", "Noto Sans KR", sans-serif; font-feature-settings: 'tnum'; /* 고정폭 숫자 */ }

#header { width: 100%; max-width: 100%; height: auto; flex-direction: initial; flex-wrap: wrap; text-align: initial; margin-bottom: 0; }
#header > article { display: none; }

#language:before { width: calc(100% - 2px); height: calc(100% - 2px); border: 1px solid #e0e0e0; background: #f5f5f5; }

#contain_wrap { width: 100%; max-width: 100%; position: relative; }
#contain_wrap #sub-header { display: none !important; }

#mypage { margin: 0; }

/*카피라이터 영역 */
footer { background: transparent; position: absolute; bottom: 0; left: 0; width: 100%; font-size: inherit; height: 14rem; }
footer .layout_inner { width: 100%; height: 100%; text-align: center; display: flex; justify-content: center; align-items: center; padding: 0 2.5rem; }
footer .copyright { color: #90a4ae; font-size: 1.25rem; font-weight: 300; width: 100%; }
footer .copyright a { color: inherit; text-decoration: none; }

/* ALL STYLE */
#all { width: 100%; height: auto; overflow: hidden; font-weight: 400; font-size: 1.5rem; line-height: 1.5; }

.layout_wrap { clear: both; width: 100%; }

.width100 { width: 100%; }

/*헤더 콘텐츠 영역 */
#page { min-height: 100vh; }

.content { box-sizing: border-box; position: relative; overflow: hidden; min-height: calc(100vh - 10rem); padding: 6rem 3rem; padding-bottom: 14rem; background: #eceff1; }
.content * { box-sizing: border-box; }
.content .contain { width: 100%; padding: 3rem; margin: 0 auto; background: #fff; overflow: hidden; max-width: 640px; }
.content .contain .maps_title { display: none; }

.pay_inDivWrap { width: 100%; }

#members { background: #fff; padding: 3.5rem; }

#forum { background: #fff; padding: 3.5rem; overflow: hidden; }

#sub-header { box-sizing: border-box; position: relative; z-index: 10; width: 100%; height: 10rem; align-items: center; text-align: center; background: #fff; padding: 0 3rem; box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25); color: #222; font-size: 3.4rem; font-weight: 400; }
#sub-header .layout_inner { width: 100%; max-width: 640px; height: 100%; margin: 0 auto; display: flex; justify-content: space-between; align-items: center; flex-direction: row; }
#sub-header .maps_title { font-weight: 500; color: #222; margin: 0; }
#sub-header:after { display: none; z-index: 1; width: 1.5rem; height: 1px; background: #fff; }
#sub-header .header-top-btn a { display: inline-flex; justify-content: center; align-items: center; font-size: 1.4rem; line-height: 1.5; font-weight: 400; color: #fff; border-radius: 0.3rem; min-width: 11rem; height: 3.4rem; }
#sub-header .header-top-btn .home { background: #1c587b; }
#sub-header .header-top-btn .logout { background: #b0bec5; }
#sub-header .navi-right, #sub-header .navi-right2 { display: inline-flex; justify-content: center; align-items: center; }
#sub-header .navi-right a, #sub-header .navi-right2 a { cursor: pointer; text-decoration: none; width: 100%; height: 100%; height: 100%; width: 6rem; height: 6rem; margin: 3.5rem 3rem; margin-right: 0; font-size: 4rem; }
#sub-header .navi-right i, #sub-header .navi-right2 i { width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; color: #333; }
#sub-header .navi-right i::before, #sub-header .navi-right2 i::before { margin: 0; line-height: 1; }
#sub-header .navi-right .icon-home, #sub-header .navi-right2 .icon-home { color: #1C287B; background: rgba(28, 40, 123, 0.05); -moz-border-radius: 100%; -webkit-border-radius: 100%; border-radius: 100%; }

.sub-title { color: #333f78; font-size: 3rem; line-height: 2; font-weight: 800; margin: 0 auto; padding-bottom: 3rem; max-width: 640px; }

/*기타*/
.orderList .innerTable th { background: #dff8ff; color: #484848; font-weight: 600; border-color: #b2c6cc; }

.type_board { width: 100%; }
.type_board th, .type_board td { height: 8rem; }
.type_board thead { border-top: 1px solid #333f78; border-bottom: 1px solid #bdc1d3; }
.type_board thead th { color: #333f78; font-size: 1.5rem; font-weight: 500; background: #dcdee8; }

p.sub_title { position: relative; font-size: 3rem; padding: 2.5rem 0; padding-top: 5rem; color: #333; font-weight: 600; }
p.sub_title:before { content: "\2724"; font-size: inherit; padding-right: 3px; }

/*wallet 페이지*/
.wallet .all-asset { width: 100%; display: flex; flex-direction: row; justify-content: space-between; align-items: center; padding: 1rem; background: #f5f5f5; color: #263238; }
.wallet .all-asset * { padding: 1rem 1.5rem; }
.wallet .all-asset h4 { font-size: 2rem; font-weight: 500; }
.wallet .all-asset .price { font-size: 2.2rem; font-weight: 600; text-align: right; }
.wallet .all-asset .unit { font-size: 1.5rem; padding-right: 0; }
.wallet article { width: 100%; }
.wallet article .list { flex-direction: row; justify-content: space-between; align-items: center; width: 100%; background: #ccc; padding: 1.5rem; }
.wallet article .list .logo { width: 6.2rem; height: 6.2rem; background: #eee; display: inline-flex; flex-direction: column; align-items: center; float: left; }
.wallet article .list .con { display: inline-flex; flex-direction: column; align-items: flex-start; justify-content: space-between; }
.wallet article .list .con div { display: flex; flex-direction: row; align-items: center; padding: 0 1.5rem; }
.wallet article .list .btn { display: inline-flex; flex-direction: row; align-items: center; justify-content: space-between; }
.wallet article .list .btn button { margin: 0; padding: 0; border: none; outline: none; font-style: normal; text-decoration: none; background: none; }

/*카이온 대시보드*/
.dashboard { font-family: inherit; font-size: 0; background: transparent !important; padding: 0 !important; }
.dashboard > div { font-size: 2.4rem; }
.dashboard .box, .dashboard .boxs li, .dashboard .disem { display: inline-flex; justify-content: center; align-items: center; flex-direction: column; font-size: 2.9rem; vertical-align: top; padding: 3.75rem; }
.dashboard .box, .dashboard .boxs li, .dashboard .disem { background: #fff; border: 1px solid #cfd8dc; }
.dashboard .box .box_tit { width: 100%; text-align: left; color: #333; font-size: inherit; margin-bottom: 2.5rem; font-weight: 600; }
.dashboard table { width: 100%; table-layout: fixed; }
.dashboard th, .dashboard td { font-size: 2.5rem; word-break: keep-all; border: none; }
.dashboard th a, .dashboard td a { cursor: pointer; text-decoration: none; width: 100%; height: 100%; }
.dashboard thead td { background: #faf7ff; color: #595959; font-weight: 500; border-top: 2px solid #7f5dbf; border-bottom: 1px solid #c3bad8; }
.dashboard tbody tr { border-bottom: 1px solid #eceff1; }
.dashboard tbody tr:first-child { border-top: 1px solid #78909c; }
.dashboard span { position: relative; top: 0; right: 0; font-size: 11px; color: #595959; font-weight: 600; }
.dashboard .notice { width: 100%; text-align: left; }
.dashboard .notice th, .dashboard .notice td { padding: 0; }
.dashboard .notice a { padding: 2.5rem; font-size: 2.5rem; line-height: 1.5; }
.dashboard .notice a .subject { font-size: 3.25rem; font-weight: 600; color: #222; line-height: inherit; }
.dashboard .notice a .info { margin-top: 1.25rem; font-size: inherit; line-height: inherit; display: flex; justify-content: flex-start; align-items: center; color: #90a4ae; font-weight: 500; }
.dashboard .notice a .info i { margin: 0 1.6666666667rem; width: 1px; height: 1.6666666667rem; background: #b0bec5; }
.dashboard .notice a .info span { color: inherit; }
.dashboard .boxs ul { display: flex; justify-content: center; align-items: center; flex-wrap: wrap; width: calc(100% + 2.5rem); margin: 2.5rem -1.25rem; max-width: 640px; }
.dashboard .boxs li { align-items: space-around; width: calc(46vw - 2.5rem); height: calc(46vw - 2.5rem); max-width: 296px; max-height: 296px; margin: 1.25rem; }
.dashboard .boxs li .img { display: flex; justify-content: center; align-items: center; width: 40px; height: 40px; -moz-border-radius: 100%; -webkit-border-radius: 100%; border-radius: 100%; }
.dashboard .boxs li .txt { display: flex; justify-content: center; align-items: center; margin-top: 2.5rem; }
.dashboard .boxs li .txt b { color: #323232; font-size: 4.5rem; letter-spacing: -1px; font-weight: 400; }
.dashboard .boxs li .txt span { color: #737373; font-size: 2.5rem; font-weight: 500; margin-left: 0.625rem; margin-top: 4px; }
.dashboard .boxs li p { margin-top: 1.25rem; color: #4a4a4a; font-size: 3rem; font-weight: 500; }
.dashboard .boxs li:nth-of-type(1) .img { background: #e6f4ff; }
.dashboard .boxs li:nth-of-type(2) .img { background: #fef0e9; }
.dashboard .boxs li:nth-of-type(3) .img { background: #e6f7e3; }
.dashboard .boxs li:nth-of-type(4) .img { background: #faf1fb; }
.dashboard .disem { justify-content: initial; width: 100%; height: 60rem; margin: 0 auto; margin-top: 4rem; }
.dashboard .disem h5 { color: #1C287B; font-size: 2.4rem; font-weight: 700; width: 100%; padding: 3rem 4rem; }
.dashboard .disem .chart { width: 45rem; height: 45rem; }
.dashboard .voter { margin-top: 3rem; }
.dashboard .voter h5 { color: #1C287B; font-size: 2.4rem; font-weight: 700; width: 100%; padding: 3rem 0; }
.dashboard .voter .link { width: 100%; height: 8rem; background: #fff; display: flex; justify-content: space-between; align-items: center; box-shadow: 0 2px 0 0 #cfd8dc; }
.dashboard .voter .link p { color: #444; font-size: 2rem; font-weight: 500; text-align: left; padding-left: 3rem; }
.dashboard .voter .link button { width: 16rem; height: 100%; margin: 0; padding: 0; border: none; outline: none; font-style: normal; text-decoration: none; background: none; background: #FFB70F; color: #fff; font-size: 2.6rem; font-weight: 800; cursor: pointer; }

.search_form { width: 100%; font-size: 2.5rem; display: flex; justify-content: flex-start; align-items: center; flex-wrap: wrap; padding-bottom: 2.5rem; border-bottom: 1px solid #eeeeee; }
.search_form.etc .inputs { width: 100%; }
.search_form.etc .etc .search_btn { margin-right: 0; }
.search_form form { width: 100%; padding-top: 0; }
.search_form h6 { font-size: 2.5rem; line-height: 1.2; color: #222; margin-bottom: 1rem; word-break: keep-all; width: 100%; }
.search_form input { margin: 0; padding: 0 1rem; height: 7rem; font-size: 2.75rem; }
.search_form input[type="text"] { width: 100%; }
.search_form select { height: 7rem; border-color: #bdbdbd; cursor: pointer; font-size: 2.4rem; -moz-border-radius: 0.5rem; -webkit-border-radius: 0.5rem; border-radius: 0.5rem; outline: initial; width: auto; margin-bottom: 1.25rem; }
.search_form select:focus { outline: initial; }
.search_form .con { flex: 1; font-size: 0; }
.search_form #cate1, .search_form #cate2 { width: calc(50% - 1.25rem); }
.search_form .input_select { width: calc(25% - 1.25rem); background: #fff; }
.search_form .selects ~ .inputs { width: auto; flex: 1; }
.search_form .inputs { display: flex; justify-content: space-between; align-items: center; width: 100%; margin: 1.25rem 0; background: #eeeeee; -moz-border-radius: 0.5rem; -webkit-border-radius: 0.5rem; border-radius: 0.5rem; }
.search_form .inputs input[type="text"] { width: 100%; border: none; cursor: pointer; background: transparent; text-align: center; outline: none; }
.search_form .inputs button { width: calc((100% / 5) - 0.5rem); height: 7rem; line-height: 1.5; padding: 0; font-size: 2.4rem; color: #555; cursor: pointer; font-family: inherit; font-weight: 500; outline: none; -moz-border-radius: 0.5rem; -webkit-border-radius: 0.5rem; border-radius: 0.5rem; }
.search_form .inputs ~ .buttons { display: inline-flex; justify-content: space-between; align-items: center; width: 100%; }
.search_form .inputs ~ .buttons button { font-size: 2.4rem; width: calc((100% / 5) - 0.5rem); height: 6.5rem; line-height: 1.5; outline: none; cursor: pointer; font-family: inherit; border: 2px solid #e0e0e0; background: #e0e0e0; color: #616161; word-break: keep-all; -moz-border-radius: 0.5rem; -webkit-border-radius: 0.5rem; border-radius: 0.5rem; }
.search_form .inputs ~ .buttons button:focus { border-color: #f73f07; background: #f73f07; color: #fff; }
.search_form .inputs ~ .buttons.btn6 button { width: calc((100% / 6) - 0.5rem); }
.search_form .inputs ~ .buttons + .search_btn { margin-top: 2.5rem; }
.search_form .inputs + .search_btn { margin-top: 0; }
.search_form .search_btn { margin: 0; padding: 0; border: none; outline: none; font-style: normal; text-decoration: none; background: none; min-width: 7rem; width: 100%; color: #fff; background: #5c6bc0; cursor: pointer; padding: 0 2.5rem; -moz-border-radius: 0.5rem; -webkit-border-radius: 0.5rem; border-radius: 0.5rem; line-height: 1.5; }
.search_form .search_reset { margin: 0; padding: 0; border: none; outline: none; font-style: normal; text-decoration: none; background: none; display: inline-flex; justify-content: center; align-items: center; min-width: 7rem; height: 7rem; color: #fff; color: #616161; background: rgba(117, 117, 117, 0.3); cursor: pointer; padding: 0 2.5rem; font-size: 3.5rem; -moz-border-radius: 0.5rem; -webkit-border-radius: 0.5rem; border-radius: 0.5rem; line-height: 1.5; }
.search_form .search_reset:active:before { animation: rotate .5s; }
.search_form .search_filter { margin: 0; padding: 0; border: none; outline: none; font-style: normal; text-decoration: none; background: none; display: inline-flex; justify-content: center; align-items: center; min-width: 7rem; height: 7rem; color: #455a64; background: rgba(84, 110, 122, 0.3); cursor: pointer; padding: 0 2.5rem; font-size: 3.5rem; -moz-border-radius: 0.5rem; -webkit-border-radius: 0.5rem; border-radius: 0.5rem; line-height: 1.5; }
.search_form .search { display: flex; justify-content: space-between; align-items: center; width: 100%; }
.search_form .search input { margin-right: 1rem; }
.search_form .search .search_btn { flex: 1; }
.search_form .search .search_reset { flex: 0.1; margin-right: 1rem; }
.search_form .search .search_filter { flex: 0.1; }
.search_form .labels { display: inline-flex; justify-content: flex-start; align-items: center; width: 100%; }
.search_form .labels label { cursor: pointer; color: inherit; font-size: 2.4rem; font-weight: 500; position: relative; display: inline-flex; justify-content: center; align-items: center; width: 100%; height: 6rem; vertical-align: middle; margin-right: 1rem; }
.search_form .labels label:last-child { margin-right: 0; }
.search_form .labels label i { color: #bdbdbd; font-size: 2.2rem; margin-right: 1.25rem; }
.search_form .labels label span { display: flex; justify-content: center; align-items: center; position: relative; width: 100%; height: 100%; padding: 0.5rem 1rem; background: #eeeeee; border: 1px solid #eeeeee; -moz-border-radius: 0.5rem; -webkit-border-radius: 0.5rem; border-radius: 0.5rem; }
.search_form .labels label input { position: absolute; visibility: hidden; z-index: -1; height: 0; }
.search_form .labels label input:checked ~ span { color: #fff; background: #f76707; border-color: #f76707; }
.search_form .labels label input:checked ~ span i { color: inherit; }
.search_form article { width: 100%; display: flex; justify-content: space-between; align-items: center; flex-direction: column; }
.search_form article:last-child { margin-top: 2rem; }
.search_form article .select { display: inline-flex; width: auto; margin-bottom: 1.25rem; flex: 1; }
.search_form article .select select { width: 100%; }
.search_form article .selects { display: inline-flex; width: 100%; flex: 1; }
.search_form article .selects select:not(:only-child) { width: 50%; }
.search_form article .inputs ~ .buttons { flex: 1; }
.search_form article .etc { width: 50%; display: inline-flex; justify-content: space-between; flex: 1; }
.search_form article .etc input { margin: 0; margin-left: 1.25rem; }
.search_form article input.input_text { width: 11rem; border: 1px solid #bdbdbd; font-size: 2.4rem; -moz-border-radius: 0.5rem; -webkit-border-radius: 0.5rem; border-radius: 0.5rem; margin-left: 0; flex: 1; }
.search_form article .leaveCheck { position: relative; display: flex; justify-content: center; align-items: center; z-index: 1; width: auto; height: 4.6666666667rem; cursor: pointer; padding: 0 1.6666666667rem; margin-left: 1.25rem; color: #fff; font-size: 2.3rem; font-weight: 400; line-height: 1.5; word-break: keep-all; }
.search_form article .leaveCheck i { flex: 0.8; }
.search_form article .leaveCheck span { position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: -1; background: #bdbdbd; -moz-border-radius: 0.5rem; -webkit-border-radius: 0.5rem; border-radius: 0.5rem; }
.search_form article .leaveCheck input { visibility: hidden; position: absolute; }
.search_form article .leaveCheck input:checked ~ span { background: #00bfa5; }
.search_form .condition .con .etc .input_select, .search_form .condition .con .etc .input_text { width: calc(50% - 1.25rem); margin-left: 1.25rem; }
.search_form .condition .con .search_btn, .search_form .condition .con .search_reset { flex: 1; }
.search_form.vertical article.left { justify-content: flex-start; }
.search_form.vertical article.left .selects { flex: initial; margin: 0 1.25rem; }
.search_form.vertical article.left .selects select { width: 21.3333333333rem; margin: 0; }
.search_form.vertical article.left .search_btn { margin: 0; flex: 1; }
.search_form.vertical article.width100 { flex-direction: column; justify-content: space-between; }
.search_form.vertical article.width100 h6 { text-align: left; width: 100%; margin-right: 0; }
.search_form.vertical article.width100 .selects { width: 100%; margin-right: 0; margin-top: 1.25rem; }
.search_form.vertical article.width100 .selects select { margin-left: 0; width: 100%; height: 7rem; }
.search_form.vertical article.width100 .etc { width: 100%; margin-top: 1.25rem; }
.search_form.vertical article.width100 .leaveCheck { height: 7rem; }
.search_form.vertical article.width100 .search_btn { margin-left: 0; flex: 1; }
.search_form.vertical article.width100 .search_reset { width: auto; }
.search_form article.table { margin-top: 2.5rem; width: 100%; }
.search_form article.table:not(:last-of-type) { margin-bottom: 0.75rem; }
.search_form article.table > div { display: flex; justify-content: flex-start; align-items: center; flex-wrap: wrap; flex-direction: column; width: 100%; padding-bottom: 1.25rem; }
.search_form article.table > div h6 { margin: 1.5rem 0; width: 100%; }
.search_form article.table > div .input_text, .search_form article.table > div .input_select { width: 100%; height: 7rem; font-size: inherit; background: #fff; }
.search_form article.table > div .input_text:only-child, .search_form article.table > div .input_select:only-child { margin-bottom: 0; }
.search_form article.table > div .input_text { border-color: #eee; background: #eee; outline: none; }
.search_form article.table > div .input_text:-moz-read-only, .search_form article.table > div .input_text:read-only { background: #e0e0e0; border-color: #e0e0e0; }
.search_form article.table > div.inputs { flex-direction: initial; flex-wrap: initial; padding-bottom: 0; }
.search_form article.table > div.selectsWrap { flex-direction: initial; flex-wrap: initial; padding-bottom: 0; justify-content: space-between; }
.search_form article.table > div.selectsWrap .selects { width: calc(50% - 0.5rem); flex-direction: column; flex: initial; }
.search_form article.table#filter > div { padding-bottom: 0; }
.search_form article.table .standard { flex-direction: initial; }
.search_form article.table .standard .input_text { border-top-right-radius: 0; border-bottom-right-radius: 0; width: calc(100% - 10rem); margin-right: 0; }
.search_form article.table .standard .button { outline: none; cursor: pointer; text-align: center; text-decoration: none; font-family: inherit; padding: 0.5rem 1rem; display: inline-flex; justify-content: center; align-items: center; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; color: #fff; font-weight: 400; border: solid 1px dimgray; background: #828282; border-top-right-radius: 0.5rem; border-bottom-right-radius: 0.5rem; border-color: #828282; color: #fff; width: 10rem; height: 7rem; display: inline-flex; justify-content: center; align-items: center; margin-right: 0; }
.search_form article.table .standard .button:hover { color: #fff; text-decoration: none; background: #8f8f8f; }
.search_form article.table .standard .button:active { color: white; background: #757575; }
.search_form article.table .searchMem { flex-direction: initial; }
.search_form article.table .searchCate { width: 100%; }
.search_form article.table .rank .input_select { margin-bottom: 1.5rem; }
.search_form article.table .type { margin: 0 1.5rem; }
.search_form article.table .type h6 { min-width: auto; }
.search_form article.table .search { flex-direction: initial; flex-wrap: initial; width: 100%; height: auto; padding: 0 !important; font-size: 1.5rem; }
.search_form article.table .search .search_btn { width: 70%; margin-right: 1rem; }
.search_form article.table .search input { height: 7rem; }
.search_form .input_text:-moz-read-only, .search_form .input_text:read-only { background: #e0e0e0; }

.detail_btn { display: inline-flex; justify-content: center; align-items: center; height: 5rem; line-height: 1.5; padding: 0.5rem 1rem; cursor: pointer; z-index: 2; color: #4c4c4c; font-size: 2.3rem; font-weight: 500; border: 1px solid #656565; background: transparent; text-decoration: none; -moz-border-radius: 0.5rem; -webkit-border-radius: 0.5rem; border-radius: 0.5rem; }
.detail_btn:hover { background: #1C287B; border-color: #1C287B; color: #fff; box-shadow: none; }
.detail_btn.noline { border: none; background: #757575; color: #fff; }
.detail_btn.noline:hover { background: #303f9f; }
.detail_btn.width100 { margin-top: 2.5rem; }
.detail_btn.qr { width: 100%; }
.detail_btn.red { background: #e91e63; }
.detail_btn.red:hover { background: #c2185b; }
.detail_btn.green { background: #4caf50; }
.detail_btn.green:hover { background: #388e3c; }
.detail_btn.blue { background: #2196f3; }
.detail_btn.blue:hover { background: #1976d2; }
.detail_btn.purple { background: #9c27b0; }
.detail_btn.purple:hover { background: #7b1fa2; }
.detail_btn.gray { background: #757575; }
.detail_btn.gray:hover { background: #424242; }
.detail_btn:not(.noline) { background: transparent; }
.detail_btn:not(.noline):hover { background: transparent; }
.detail_btn:not(.noline).red { border: 1px solid #e91e63; color: #e91e63; }
.detail_btn:not(.noline).red:hover { border: 1px solid #c2185b; color: #c2185b; }
.detail_btn:not(.noline).gray { border: 1px solid #616161; color: #616161; }
.detail_btn:not(.noline).gray:hover { border: 1px solid #455a64; color: #fff; background: #455a64; }

.pagingMob5, .pagingNew { font-size: 0; font-family: inherit; padding: 2.5rem 0; overflow: hidden; text-align: center; }
.pagingMob5 a, .pagingNew a { cursor: pointer; text-decoration: none; width: 100%; height: 100%; text-decoration: none; color: inherit; }
.pagingMob5 span, .pagingNew span { margin: 0; padding: 0; border: none; outline: none; font-style: normal; text-decoration: none; background: none; display: inline-flex; justify-content: center; align-items: center; width: 5rem !important; height: 5rem !important; border: 1px solid transparent; border-radius: 100%; color: #555; font-size: 2.3rem; font-weight: 500; text-align: center; cursor: pointer; }
.pagingMob5 .currentPage, .pagingNew .currentPage { border-color: #1C287B; background: #1C287B; color: #fff; font-weight: 600; padding: 0 !important; }
.pagingMob5 .pagers2, .pagingNew .pagers2 { margin: 0; padding: 0; border: none; outline: none; font-style: normal; text-decoration: none; background: none; display: inline-flex; justify-content: center; align-items: center; width: 6rem; height: 3rem; font-size: 1.3rem; border: 1px solid transparent; color: #1C287B; }
.pagingMob5 .pagers a, .pagingMob5 .pagers2 a, .pagingNew .pagers a, .pagingNew .pagers2 a { cursor: pointer; text-decoration: none; width: 100%; height: 100%; color: #555; text-decoration: none; }
.pagingMob5 .pagers a:hover, .pagingMob5 .pagers2 a:hover, .pagingNew .pagers a:hover, .pagingNew .pagers2 a:hover { color: #282f60; text-decoration: none; }

#member { margin: 0; }
#member .board { width: 100%; }
#member .board table { border: none; }
#member .board tr { border: none; }
#member .board th, #member .board td { border: none; padding: 0.5rem 1rem; }
#member .board thead th { background: whitesmoke; color: #6e6e6e; font-weight: 600; border: 1px solid gainsboro; }
#member .board tbody tr { border-bottom: 1px solid #ebebeb; }
#member .board tbody th { border: 1px solid #dedede; background: #f8f8f8; color: #6e6e6e; }
#member .board tbody td { border: 1px solid #ebebeb; }
#member .board thead th { border-left: none; border-right: none; }
#member .board tbody th { border-left: none; border-right: none; }
#member .board tbody td { border-left: none; border-right: none; }
#member .board th, #member .board td { font-size: 2.5rem; font-weight: 400; text-align: center; height: 8rem !important; color: #333; padding: 0.5rem; border: none; line-height: 1.2; }
#member form { padding: 0; }

#faq .menu { display: flex; justify-content: flex-start; align-items: flex-start; flex-wrap: wrap; }
#faq .menu li { flex: 0 25%; }
#faq .menu li a { cursor: pointer; text-decoration: none; width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; position: relative; z-index: 0; padding: 1.25rem; font-size: 2.5rem; background: #fff; border: 1px solid #bdbdbd; margin: -1px; color: #616161; height: 8rem; }
#faq .menu li.on a { background: #fff; color: #1C287B; border-color: #1C287B; z-index: 1; box-shadow: 0 0 0 1px #1C287B; font-weight: 500; }
#faq .list { margin-top: 5rem; }
#faq .list li { border-top: 1px solid #bdbdbd; border-bottom: 1px solid #bdbdbd; margin-bottom: -1px; position: relative; z-index: 0; background: #fff; }
#faq .list li h3 { display: flex; justify-content: space-between; align-items: center; position: relative; cursor: pointer; font-size: 2.5rem; font-weight: 400; line-height: 1.5; padding: 2.5rem; padding-left: 4.5rem; }
#faq .list li h3:before { content: 'Q'; color: #1C287B; font-weight: 700; position: absolute; left: 1.25rem; text-align: center; width: 2.5rem; }
#faq .list li h3 .icon-add { color: #bdbdbd; }
#faq .list li h3 .icon-remove { color: #1C287B; }
#faq .list li.active { border-color: #757575; z-index: 1; }
#faq .list li.active h3 { color: #1C287B; font-weight: 500; }
#faq .list div { position: relative; background: #f4f4f8; font-size: 2.5rem; padding: 2.5rem; padding-left: 5rem; border-top: 1px solid rgba(189, 189, 189, 0.2); }
#faq .list div:before { content: 'A'; color: rgba(0, 0, 0, 0.5); font-weight: 700; position: absolute; left: 1.3888888889rem; text-align: center; width: 2.5rem; }
#faq .list div.hide { position: absolute; left: -1000%; top: 0; width: 1px; height: 1px; font-size: 0; line-height: 0; overflow: hidden; }
#faq .list div.faqContent img { max-width: 100%; height: auto; }
#faq .notFAQ { height: calc(var(--contain-height) - 8rem * 4); display: flex; justify-content: center; align-items: center; font-size: 2.5rem; }

/* 1:1문의 */
select { padding: 0px 0px 0px 4px; height: 35px; vertical-align: middle; border-color: #ccc; border-radius: 3px; }

/* 리스트 S */
#counseling .notList { display: flex; justify-content: center; align-items: center; height: calc(var(--contain-height) - 8rem * 4); font-size: 2.5rem; font-weight: 500; background: #fafafa; border: 1px solid #eeeeee; color: #212121; }
#counseling.cs_list .write { margin-bottom: 5rem; }
#counseling.cs_list .write a { cursor: pointer; text-decoration: none; width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; font-size: 2.5rem; background: #1C287B; height: 8rem; color: #fff; }
#counseling.cs_list .write a i { margin-right: 1.25rem; }
#counseling.cs_list li { margin-top: -1px; }
#counseling.cs_list li a { cursor: pointer; text-decoration: none; width: 100%; height: 100%; padding: 2.5rem; border-top: 1px solid #bdbdbd; border-bottom: 1px solid #bdbdbd; }
#counseling.cs_list li h6 { position: relative; display: flex; justify-content: flex-start; align-items: flex-start; flex-direction: column; font-size: 2.5rem; font-weight: 500; }
#counseling.cs_list li h6 p { color: #9e9e9e; font-size: 2rem; display: flex; justify-content: flex-start; align-items: center; }
#counseling.cs_list li h6 p i { width: 2px; height: 2px; background: #e0e0e0; margin: 0 1.25rem; }
#counseling.cs_list li h6 span { display: -webkit-box; overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; -webkit-line-clamp: 1; margin: 1.25rem 0; }
#counseling.cs_list li div { display: flex; justify-content: flex-start; align-items: center; color: #9e9e9e; margin-top: 1.25rem; }
#counseling.cs_list li div .answer { padding: 0 1rem; border: 1px solid; border-radius: 10rem; font-size: 1rem; font-weight: 600; margin-right: 2.5rem; }
#counseling.cs_list li div .answer.done { color: #2196f3; border-color: #2196f3; }
#counseling.cs_list li div .answer.done + p span { display: inline-flex; justify-content: center; align-items: center; }
#counseling.cs_list li div .answer.not { color: #f44336; border-color: #f44336; }
#counseling.cs_list li div .answer.not + p span { display: none; }
#counseling.cs_list li div p { color: #9e9e9e; font-size: 2rem; display: inline-flex; justify-content: center; align-items: center; }
#counseling.cs_list li div p i { width: 2px; height: 2px; background: #e0e0e0; margin: 0 1.25rem; }
#counseling.cs_view div h6 { position: relative; display: flex; justify-content: flex-start; align-items: flex-start; flex-direction: column; font-size: 3rem; font-weight: 500; color: #212121; padding: 2.5rem; border-top: 1px solid #bdbdbd; border-bottom: 1px solid #bdbdbd; }
#counseling.cs_view div h6 p { color: #9e9e9e; font-size: 2rem; display: flex; justify-content: flex-start; align-items: center; }
#counseling.cs_view div h6 i { width: 2px; height: 2px; background: #e0e0e0; margin: 0 1.25rem; }
#counseling.cs_view div h6 span { margin-top: 1.25rem; }
#counseling.cs_view div .content { padding: 2.5rem; min-height: auto; }
#counseling.cs_view div .file { display: flex; justify-content: flex-start; align-items: flex-start; flex-direction: column; font-size: 2.3rem; margin-bottom: 0.625rem; }
#counseling.cs_view div .file a { cursor: pointer; text-decoration: none; width: 100%; height: 100%; display: flex; justify-content: flex-start; align-items: flex-start; width: 100%; padding: 1.25rem 2.5rem; color: #757575; background: #f5f5f5; }
#counseling.cs_view div .file h6 { color: inherit; font-size: inherit; border: none; padding: 0; line-height: 1.5; flex-direction: row; align-items: center; white-space: nowrap; }
#counseling.cs_view div .file p { color: #424242; font-weight: 600; display: -webkit-box; overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; -webkit-line-clamp: 1; }
#counseling.cs_view div .file span { color: #f44336; font-size: 2.2rem; margin-left: 1.25rem; white-space: nowrap; }
#counseling.cs_write .counsel_info { border-top: 1px dotted #ddd; border-bottom: 1px dotted #ddd; background-color: #eee; padding: 15px 30px; font-size: 14px; line-height: 160%; }
#counseling.cs_write .counseling { float: left; width: 100%; width: 100%; margin-top: 35px; padding-bottom: 45px; }
#counseling.cs_write .counseling th { font-weight: normal; font-size: 15px; text-align: left; text-indent: 8px; color: #333; vertical-align: top; padding-top: 7px; }
#counseling.cs_write .counseling td { padding: 4px 9px 4px 0px; }
#counseling.cs_write .counseling td div { font-size: 14px; }
#counseling.cs_write .counseling td div a { color: #333; text-decoration: underline; }
#counseling.cs_write .counseling td div a:hover { color: #111; }
#counseling.cs_write .counseling .input_text { border: 1px solid #ccc; line-height: 42px; height: 44px; border-radius: 3px; vertical-align: middle; padding: 0px 15px; font-size: 14px; }
#counseling.cs_write .counseling .disabled { background-color: #eee; }
#counseling.cs_write .counseling .input_area { border: 1px solid #ccc; border-radius: 3px; padding: 15px; font-size: 14px; }
#counseling.cs_write .counseling .input_check { margin: 0px; margin-top: 2px; padding: 0px; height: 15px; width: 15px; vertical-align: middle; cursor: pointer; }
#counseling.cs_write .counseling label { cursor: pointer; vertical-align: -1px; margin: 0px; font-size: 14px; }
#counseling.cs_write .counseling ::placeholder { color: #aaa; opacity: 1; }
#counseling.cs_write .counseling :-ms-input-placeholder, #counseling.cs_write .counseling ::-ms-input-placeholder { color: red; }
#counseling.cs_write .counseling .a_submit { display: inline-block; padding: 0px 15px; vertical-align: middle; cursor: pointer; text-align: center; font-size: 14px; }
#counseling.cs_write .counseling .design1 { background-color: #337ab7; border: 1px solid #2e6da4; border-radius: 3px; color: #fff !important; font-weight: normal; line-height: 48px; width: 240px; height: 50px; }
#counseling.cs_write .counseling .design2 { background-color: #f9f9f9; border: 1px solid #cccccc; border-radius: 3px; color: #666 !important; font-weight: normal; line-height: 48px; width: 240px; height: 50px; }
#counseling.cs_write .btnArea { width: 100%; text-align: center; margin-top: 22px; padding-top: 28px; padding-bottom: 45px; border-top: 1px dashed #d7d7d7; }
#counseling.cs_write .btnArea .a_submit { display: inline-block; padding: 0px 15px; vertical-align: middle; cursor: pointer; text-align: center; font-size: 14px; }
#counseling.cs_write .btnArea .design1 { background-color: #337ab7; border: 1px solid #2e6da4; border-radius: 3px; color: #fff !important; font-weight: normal; line-height: 48px; width: 150px; height: 50px; }
#counseling.cs_write .btnArea .design2 { background-color: #f9f9f9; border: 1px solid #cccccc; border-radius: 3px; color: #666 !important; font-weight: normal; line-height: 48px; width: 150px; height: 50px; }

/* 리스트 E */
#counsel .counsel_info { border-top: 1px dotted #ddd; border-bottom: 1px dotted #ddd; background-color: #eee; padding: 15px 30px; font-size: 14px; line-height: 160%; }

.txtBtn.small2 { height: 6rem; line-height: 1.5; }

.txtBtnC.medium { width: 100%; margin: 1rem 0; }

.DownPurchase .detail_btn { width: 100%; }
.DownPurchase .detail_btn:hover { background: #757575; }
.DownPurchase .detail_btn.active { background: #303f9f; }

/* schedule 스타일 */
.payment_blocker { position: fixed; top: 0; bottom: 0; left: 0; right: 0; width: 100%; height: 100%; overflow: auto; z-index: 901; padding: 2rem; box-sizing: border-box; background: rgba(0, 0, 0, 0.75); text-align: center; display: none; }
.payment_blocker:before { content: ''; display: inline-block; height: 100%; vertical-align: middle; margin-right: -0.05em; }

.payment_detail { position: fixed; top: 50%; left: 50%; z-index: 902; transform: translate(-50%, -50%); width: calc(100vw - 6rem); max-width: 640px; background: #fff; padding: 1.5rem; display: none; min-height: 50%; -moz-border-radius: 0.5rem; -webkit-border-radius: 0.5rem; border-radius: 0.5rem; font-size: 2.5rem; }
.payment_detail .close .icon-cancel { position: absolute; top: 0; right: 0; color: #222; font-size: 3.5rem; padding: 1rem; cursor: pointer; }
.payment_detail h5 { text-align: center; font-size: 5rem; color: #222; padding: 5rem 0; }
.payment_detail .pay_inDiv { overflow: hidden; height: auto; }
.payment_detail .loading { display: none; position: absolute; top: 0; left: 0; z-index: 100; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.7); }
.payment_detail .loading img { margin: 0 auto; position: absolute; top: 0; left: 50%; transform: translateX(-50%); }
.payment_detail .loading p { margin: 0 auto; margin-top: 25vh; font-size: 3.75rem; line-height: 1.5; font-weight: 500; color: #fff; word-break: keep-all; padding: 0 2.5rem; }
.payment_detail #payment_detail_body .payment_con { display: flex; justify-content: center; align-items: center; width: 100%; height: 30vh; text-align: center; }
.payment_detail #payment_detail_body .payment_con p { display: inline-flex; justify-content: center; align-items: center; width: calc(90% - 5rem); height: 20vh; font-size: 3.75rem; color: #222; background: #f5f5f5; margin: 0 auto; padding: 2.5rem; }

.pay_inDivWrap { display: flex; flex-direction: column; justify-content: center; align-items: center; min-height: calc(60vh - 30rem); }
.pay_inDivWrap .nodata { border: none; text-align: center; }
.pay_inDivWrap .nodata p { display: inline-flex; justify-content: center; align-items: center; width: 90%; height: 30vh; font-size: 3rem; color: #222; border: 5px solid #f5f5f5; }

/* 소비자등록 */
.common.voter table { width: 100%; }
.common.voter td { font-size: 2.5rem; }
.common.voter td .input_text { height: 6rem; padding: 0 1.25rem; background: #fff; font-size: 2rem; border: 1px solid #ccc; border-radius: 3px; }
.common.voter td .input_text:read-only { background: #eeeeee; outline: none; }
.common.voter td .button { outline: none; cursor: pointer; text-align: center; text-decoration: none; font-family: inherit; padding: 0.5rem 1rem; display: inline-flex; justify-content: center; align-items: center; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; color: #fff; font-weight: 400; border: solid 1px #484848; background: #616161; margin: 0 2rem; text-align: center; color: #fff; cursor: pointer; font-family: inherit; height: 6rem; }
.common.voter td .button:hover { color: #fff; text-decoration: none; background: #6e6e6e; }
.common.voter td .button:active { color: #e1e1e1; background: #545454; }
.common.voter td .inputs { width: 100%; display: flex; justify-content: flex-start; align-items: center; }
.common.voter td .inputs .input_text:first-of-type { width: 10rem; flex: 1; }
.common.voter td .inputs .input_text:last-of-type { margin-right: 0; width: 100%; }
.common.voter td .inputs .button { margin-right: 0; }
.common.voter .table2 { margin-bottom: 2rem; }
.common.voter .bottomLine td { background: #eeeeee; padding: 2rem; }
.common.voter .innerTable td { background: #fff; padding: 1rem; font-size: 2.3rem; }
.common.voter .innerTable td.inPrice { text-align: right; }
.common.voter .innerTable td.total2 { text-align: right; }
.common.voter .innerTable tr.total td { background: #fafafa; border-bottom: 1px solid #333; height: 8rem; }
.common.voter .innerTable tr.total td:first-of-type { border-left: 1px solid #333; }
.common.voter .innerTable tr.total td:last-of-type { border-right: 1px solid #333; }
.common.voter .innerTable2 .inputs { flex-wrap: wrap; }
.common.voter .innerTable2 .inputs .input_text { margin: 0; }
.common.voter .innerTable2 .inputs .input_text:last-of-type { margin-top: 2rem; width: 100%; }
.common.voter .buttons { display: flex; justify-content: center; align-items: center; flex-direction: column; margin-bottom: 1.25rem; }
.common.voter .buttons .button { outline: none; cursor: pointer; text-align: center; text-decoration: none; font-family: inherit; padding: 0.5rem 1rem; display: inline-flex; justify-content: center; align-items: center; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; color: #fff; font-weight: 400; border: solid 1px #080808; background: #212121; display: inline-flex; justify-content: center; align-items: center; height: 4rem; margin: 0.5rem 0; padding: 0 2.5rem; font-weight: 500; color: #fff; }
.common.voter .buttons .button:hover { color: #fff; text-decoration: none; background: #2e2e2e; }
.common.voter .buttons .button:active { color: #a1a1a1; background: #141414; }
.common.voter .buttons .button.red { background: #e91e63; }
.common.voter .buttons .button.red:hover { background: #c2185b; }
.common.voter .buttons .button.blue { background: #2196f3; border-color: #0c7cd5; }
.common.voter .buttons .button.blue:hover, .common.voter .buttons .button.blue:active { background: #1976d2; border-color: #145ca4; color: #fff; }
.common.voter .buttons .button:not(.noline) { background: transparent; }
.common.voter .buttons .button:not(.noline):hover { background: transparent; }
.common.voter .buttons .button:not(.noline).red { border: 1px solid #f44336; color: #f44336; }
.common.voter .buttons .button:not(.noline).red:hover { border: 1px solid #d50000; background: #ff1744; color: #fff; }
.common.voter .sellComplete th { padding: 2rem; border-color: #1C287B; color: #1C287B; background: #fff; font-size: 2.6rem; font-weight: 600; }
.common td.pName { text-align: left; padding: 0.5rem 1rem; }
.common td.pName p { margin: 0.5rem 0; text-align: left; }
.common td.pName .name { color: #222; font-weight: 700; }
.common td.pName .name span { position: relative; z-index: 0; }
.common .voterWrite { width: 100%; border: 1px solid #bdbdbd; padding: 1rem 1.5rem; margin-bottom: 5rem; }
.common .voterWrite th, .common .voterWrite td { border: none; background: none; }
.common .voterWrite .input_text { width: 100%; font-size: 2.3rem; }
.common .voterWrite select { background: #fff !important; cursor: pointer; }
.common .voterWrite option { padding: 10px 0; }
.common .voterWrite tr { border-bottom: 1px solid #eeeeee; }
.common .voterWrite th { color: #222; }
.common .voterWrite .btnZone { padding: 0.5rem 0; text-align: center; }
.common .voterWrite .btnZone input { outline: none; cursor: pointer; text-align: center; text-decoration: none; font-family: inherit; padding: 0.5rem 1rem; display: inline-flex; justify-content: center; align-items: center; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; color: #fff; font-weight: 400; border: solid 1px #131a51; background: #1C287B; min-width: 15rem; width: 100%; font-size: 2.6rem; height: 7rem; letter-spacing: 0.05em; margin: 0 auto; }
.common .voterWrite .btnZone input:hover { color: #fff; text-decoration: none; background: #212f90; }
.common .voterWrite .btnZone input:active { color: #aab3ec; background: #172166; }
.common .voterWrite.list { padding: 1.5rem; border: none; border-bottom: 1px solid #222; margin: 0; }
.common .voterWrite.list:last-of-type { border-bottom: none; }
.common .voterWrite.list .buttons { display: flex; justify-content: space-between; align-items: center; flex-direction: initial; margin: 1rem 0; }
.common .voterWrite.list .buttons .button { width: calc(50% - 0.5rem); margin: 0; font-size: 2.6rem; height: 7rem; }
.common .voterList { border: 1px solid #bdbdbd; }
.common .voterList .input_text { font-size: 2.3rem; }
.common.sell .voterWrite { margin-bottom: 2rem; }
.common.sell .voterWrite table { margin-bottom: 0; }
.common.sell .voterWrite table tr:last-of-type { border: none; }
.common.sell .btnZone.voterWrite { padding: 2rem 0; border: none; }
.common.sell .btnZone.voterWrite input { outline: none; cursor: pointer; text-align: center; text-decoration: none; font-family: inherit; padding: 0.5rem 1rem; display: inline-flex; justify-content: center; align-items: center; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; color: #fff; font-weight: 400; border: solid 1px #131a51; background: #1C287B; width: 100%; font-size: 2.6rem; height: 6.5rem; letter-spacing: 0.05em; }
.common.sell .btnZone.voterWrite input:hover { color: #fff; text-decoration: none; background: #212f90; }
.common.sell .btnZone.voterWrite input:active { color: #aab3ec; background: #172166; }
.common label { position: relative; display: flex; justify-content: center; align-items: center; border: none; width: 3.5rem; height: 3.5rem; cursor: pointer; padding: 0; margin: 0 auto; }
.common label input[type="checkbox"] { position: absolute; visibility: hidden; z-index: -1; color: #9e9e9e; width: 0; height: 0; margin: 0; }
.common label input[type="checkbox"] ~ i { color: rgba(0, 0, 0, 0.3); border: 1px solid rgba(0, 0, 0, 0.3); width: 100%; height: 100%; font-size: 1.8rem; display: flex; justify-content: center; align-items: center; }
.common label input[type="checkbox"] ~ i:before { margin: 0; line-height: 1; width: auto; }
.common label input[type="checkbox"]:checked ~ i { background: #1C287B; border-color: #1C287B; color: #fff; }
.common td.tcenter.ea { font-size: 0; }
.common .ea_wrap { width: 100%; height: 5rem; display: flex; justify-content: center; align-items: center; }
.common .ea_wrap a { display: inline-flex; justify-content: center; align-items: center; width: 5rem; height: 5rem; cursor: pointer; font-size: 2.5rem; color: inherit; background: #fafafa; border: 1px solid #ccc; }
.common .input_text_ea { border-width: 1px 0px; border-color: #ccc; border-style: solid; line-height: 1.5; width: 5rem; height: 5rem; font-size: 2.5rem; }
.common .titles { padding: 0; margin-bottom: 2.5rem; }
.common .table2.all { margin-top: 2.5rem; border: 1px solid #ccc; background: #f5f5f5; }
.common .table2.all tr, .common .table2.all th, .common .table2.all td { border: none; background: none; }
.common .table2.all th { padding: 2rem; }
.common.orderList .titles { margin-top: 5rem; }
.common .consumer { position: relative; }
.common .consumer > .detail_btn { outline: none; cursor: pointer; text-align: center; text-decoration: none; font-family: inherit; padding: 0.5rem 1rem; display: inline-flex; justify-content: center; align-items: center; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; color: #fff; font-weight: 400; border: solid 1px #d39e00; background: #ffc107; width: 100%; display: inline-flex; justify-content: center; align-items: center; }
.common .consumer > .detail_btn:hover { color: #fff; text-decoration: none; background: #ffc721; }
.common .consumer > .detail_btn:active { color: white; background: #edb100; }
.common .consumer > .detail_btn:hover { background: #ffc107; }
.common .consumer > .detail_btn.active { background: #757575; border-color: #757575; }
.common .consumer_info { padding: 1rem 0; }
.common .consumer_info:after { content: ""; position: absolute; bottom: -1px; left: 0; width: 100%; height: 1px; background: #222; z-index: 1; }

.bot_line_c_333 .detail_btn { width: 100%; }

.total_sales_wrap { display: flex; justify-content: flex-start; align-items: center; flex-direction: column; margin: 2.5rem 0; }
.total_sales_wrap div { display: inline-flex; justify-content: space-between; align-items: center; width: 100%; height: 6.6666666667rem; padding: 2rem; margin: 0.625rem 0; -moz-border-radius: 0.5rem; -webkit-border-radius: 0.5rem; border-radius: 0.5rem; color: #333645; font-weight: 600; font-size: 2.5rem; flex: 1; }
.total_sales_wrap div p { font-weight: 500; margin-left: 2.5rem; flex: 0.8; }
.total_sales_wrap div i { width: 3px; height: 3px; background: #333645; margin: 0 2.5rem; mix-blend-mode: color-burn; }
.total_sales_wrap div span { flex: 1; }
.total_sales_wrap .sales { background: rgba(28, 40, 123, 0.1); }
.total_sales_wrap .period { background: rgba(92, 107, 192, 0.1); }

.pays .detail_btn { width: 100%; }
.pays .detail_btn.noline { font-size: 2.3rem; }
.pays th.plus { background: #e3f2fd; }
.pays th.minus { background: #ffebee; }
.pays .plus { color: #1976d2; }
.pays .minus { color: #d32f2f; }

.orderList #loading_bg { height: 80vh; background: rgba(255, 255, 255, 0.8); display: flex; justify-content: center; align-items: center; }
.orderList #loading_bg img { margin-bottom: auto; margin-top: 50%; }

.pay_inDivWrap { display: flex; justify-content: center; align-items: center; flex-direction: column; min-height: calc(60vh - 30rem); }
.pay_inDivWrap .nodata { border: none; text-align: center; }
.pay_inDivWrap .nodata p { display: inline-flex; justify-content: center; align-items: center; width: 90%; height: 30vh; font-size: 3rem; color: #222; border: 5px solid #f5f5f5; }
.pay_inDivWrap table th, .pay_inDivWrap table td { padding: 0.5rem !important; }
