#left i.line { display: none; }

.nav-left { width: 100%; height: 8.4rem; position: relative; z-index: 9; display: flex; justify-content: center; align-items: center; font-size: 2.5rem; line-height: 1.5; color: #fff; box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2); text-align: center; }
.nav-left ul { width: 100%; margin: 0 auto; position: relative; display: flex; justify-content: center; align-items: center; flex-direction: row; background: #303f9f; }
.nav-left ul > li { width: 50%; }
.nav-left ul > li > a { display: flex; justify-content: center; align-items: center; padding: 2.5rem; padding-right: 6.25rem; color: #fff; }
.nav-left ul > li.home { min-width: initial; }
.nav-left ul > li.depth1 { border-right: 1px solid rgba(255, 255, 255, 0.1); }
.nav-left ul > li.depth1 p + i:not(.right) { display: none; }
.nav-left li { position: relative; white-space: nowrap; }
.nav-left i.right { font-size: 2rem; position: absolute; top: 50%; right: 2.5rem; transform: translateY(-50%); -moz-transition: all, 0.15s; -webkit-transition: all, 0.15s; transition: all, 0.15s; }
.nav-left a.depth { position: relative; }
.nav-left ol { position: absolute; min-width: 100%; max-width: 100vh; overflow: hidden; background: #3a49a4; -moz-transition: all, 0.5s; -webkit-transition: all, 0.5s; transition: all, 0.5s; }
.nav-left ol li { margin: 0; width: 100%; }
.nav-left ol a { cursor: pointer; text-decoration: none; width: 100%; height: 100%; display: block; padding: 1.6rem; padding-left: 2.5rem; padding-right: 4rem; z-index: 10; overflow: hidden; font-size: 2.4rem; color: #fff; text-align: left; -moz-transition: all, 0.3s; -webkit-transition: all, 0.3s; transition: all, 0.3s; }
.nav-left ol .depth a { color: #fff; font-weight: 700; background: #2e3c97; }
.nav-left .depth1.view > a, .nav-left .depth2.view > a { background: rgba(255, 255, 255, 0.05); -moz-transition: all, 0.5s; -webkit-transition: all, 0.5s; transition: all, 0.5s; }
.nav-left .depth1.view i.right, .nav-left .depth2.view i.right { transform: translateY(-50%) rotate(180deg); }
.nav-left .depth1.view ol, .nav-left .depth2.view ol { z-index: 9; }
.nav-left .depth2:hover i.right, .nav-left .depth2.view i.right { opacity: 1; }
.nav-left .depth2.view > a { background: rgba(48, 63, 159, 0.05); }
.nav-left ol { max-height: 0; }
.nav-left .depth1.view ol, .nav-left .depth2.view ol { max-height: 100vh; padding-bottom: 2rem; }
