@charset "UTF-8";
body { font-size: 2.5rem; line-height: 1.5; }

body, input, select, textarea { font-family: "Pretendard", "Roboto", "Noto Sans KR", sans-serif; font-feature-settings: 'tnum'; /* 고정폭 숫자 */ }

/* 전체 공통 */
/* font-size: 62.5%; 62.5% = 10px */
/* 1rem = 10px, 1.6rem = 16px */
html { font-size: 6px; line-height: 1.5; }

* { box-sizing: border-box; }

/* 상단 공통 */
#header { position: relative; z-index: 100; display: flex; flex-direction: column; justify-content: center; flex-direction: column; text-align: center; font-weight: 400; height: 13rem; max-width: 640px; margin: 0 auto; margin-bottom: -13rem; }
#header::after { /* content: ''; */ position: absolute; bottom: 0; left: 0; z-index: 1; width: 100%; height: 1px; background: rgba(0, 0, 0, 0.1); }

.header article { width: 100%; height: 13rem; display: flex; justify-content: space-between; align-items: center; }
.header article.header-top { justify-content: flex-end; margin-top: 0.5rem; display: none; }
.header .navi-left, .header .navi-right { width: 6rem; height: 6rem; margin: 3.5rem; font-size: 4rem; }
.header .navi-left a, .header .navi-right a { cursor: pointer; text-decoration: none; width: 100%; height: 100%; height: 100%; }
.header .navi-left i, .header .navi-right i { width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; color: #fff; }
.header .navi-left i::before, .header .navi-right i::before { margin: 0; line-height: 1; }
.header #logo a { cursor: pointer; text-decoration: none; width: 100%; height: 100%; }
.header #logo img { width: 16.1rem; }

/*shop 상세 페이지*/
#header.shop { height: 10rem; }
#header.shop::after { content: ''; position: absolute; bottom: 0; left: 50%; transform: translateX(-50%); z-index: 1; width: 100%; height: 1px; background: rgba(0, 0, 0, 0.1); }
#header.shop article { height: 100%; }
#header.shop article > div { margin: 0 3rem; }
#header.shop .navi-back, #header.join.shop .navi-close { width: 6rem; height: 6rem; font-size: 6rem; }
#header.shop .navi-back a, #header.join.shop .navi-close a { cursor: pointer; text-decoration: none; width: 100%; height: 100%; height: 100%; }
#header.shop .navi-back i, #header.join.shop .navi-close i { width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; color: #333; }
#header.shop .navi-back i::before, #header.join.shop .navi-close i::before { margin: 0; line-height: 1; }
#header.shop h1 { color: #111; font-weight: 500; font-size: 3.75rem; line-height: 1.5; }

/*join 상세 페이지*/
#header.join { height: 10rem; }
#header.join::after { content: ''; position: absolute; bottom: 0; left: 50%; transform: translateX(-50%); z-index: 1; width: 100%; height: 1px; background: rgba(0, 0, 0, 0.1); }
#header.join article { height: 100%; }
#header.join article > div { margin: 0 3rem; }
#header.join .navi-back, #header.join .navi-close { width: 6rem; height: 6rem; font-size: 5rem; }
#header.join .navi-back a, #header.join .navi-close a { cursor: pointer; text-decoration: none; width: 100%; height: 100%; height: 100%; }
#header.join .navi-back i, #header.join .navi-close i { width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; color: #333; }
#header.join .navi-back i::before, #header.join .navi-close i::before { margin: 0; line-height: 1; }
#header.join .navi-close { font-size: 2.5rem; }
#header.join h1 { color: #111; font-weight: 500; font-size: 3.75rem; line-height: 1.5; }

* { font-family: 'Pretendard', 'Noto Sans KR', sans-serif; }

#header { margin-bottom: 0; }
#header::after { content: ''; }
#header .navi-left i, #header .navi-right i { color: #424242; }
#header #language { display: none; }

.header .top_menu { border-top: none; }
.header .top_menu li.main { position: relative; }
.header .top_menu li.main:before, .header .top_menu li.main:after { content: ''; position: absolute; bottom: 0px; left: 50%; width: calc(100% - 2.5rem); height: 3px; background: #da2027; transform: translateX(-50%); opacity: 0; }
.header .top_menu li.main:before { top: 0px; display: none; }
.header .top_menu li.main.select:before, .header .top_menu li.main.select:after { opacity: 1; }
.header .top_menu li.main.select span { color: #000; font-weight: 700; }

/* ALL STYLE */
.width100 { width: 100%; }

/*콘텐츠 영역 */
:root { --contain-height: calc((var(--vh, 1vh) * 100) - (13rem + 35rem)); }

#contain_wrap { position: relative; max-width: 640px; min-height: var(--contain-height); height: auto; margin: 0 auto; }

.content { position: relative; width: 100%; padding: 6rem 3rem; min-height: calc(var(--contain-height) - 7rem); }

/*서브타이틀*/
#sub-header { position: relative; width: 100%; height: 24rem; display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center; }
#sub-header .sub-header-img { width: 100%; height: 100%; position: absolute; top: 50%; left: 50%; z-index: 0; transform: translate(-50%, -50%); }
#sub-header .sub-header-txt { position: relative; z-index: 1; display: flex; flex-direction: column; justify-content: space-between; align-items: center; color: #fff; font-size: 3.6rem; font-weight: 400; }
#sub-header .sub-header-txt .maps_title { margin-top: 1.5rem; }
#sub-header .sub-header-txt:after { content: ''; z-index: 1; width: 3.6rem; height: 1px; background: #fff; margin-top: 1.5rem; }

.notData { padding: 30px 0px; text-align: center; }

.inLiImg li img { display: block; }

/*SHOP_CATEGORY*/
.shop_category { width: 100%; height: 6.2rem; margin: 3rem 0; font-size: 0; }
.shop_category .selects { width: calc(100% - 7rem); display: inline-table; table-layout: fixed; }
.shop_category .selects td { padding: 0; }
.shop_category select { margin: 0; padding: 0; border: none; outline: none; font-style: normal; text-decoration: none; background: none; background: transparent; height: 6rem; padding: 0 1rem; font-size: 2.5rem; border: 1px solid #555; width: calc(100% + 1px); margin-right: -1px; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; }
.shop_category .search-btn { position: relative; cursor: pointer; display: inline-flex; justify-content: center; align-items: center; width: 6rem; height: 6rem; float: right; font-size: 3.5rem; background: #da2027; color: #fff; }
.shop_category .search-btn input { position: absolute; visibility: hidden; width: 100%; height: 100%; margin: 0; padding: 0; border: none; outline: none; font-style: normal; text-decoration: none; background: none; }

/*GOODS*/
#index { padding: 0 3rem; }

.goods_wrap { font-size: 0; width: calc(100% + 20px); margin: 0 -10px; text-align: left; }

.goods { position: relative; width: 50%; display: inline-block; font-size: 2.5rem; vertical-align: top; margin-bottom: 5%; }
.goods a { cursor: pointer; text-decoration: none; width: 100%; height: 100%; display: block; height: auto; padding: 2rem; }
.goods .sale { position: absolute; top: 3rem; left: 3rem; z-index: 1; font-size: 3rem; width: 7.8rem; height: 7.8rem; background: #1bb6b0; color: #fff; display: flex; justify-content: center; align-items: center; font-weight: 200; border-radius: 100%; }
.goods .img { width: 100%; height: 0; padding-bottom: 100%; overflow: hidden; position: relative; background: #fafafa; }
.goods .img img { width: 100%; height: 100%; object-fit: cover; margin-top: 50%; margin-left: 50%; transform: translate(-50%, -50%); position: absolute; }
.goods .txt { letter-spacing: -0.025em; line-height: 1.2; text-align: left; margin-top: 2rem; }
.goods .txt .name { font-size: 2.6rem; color: #454545; font-weight: 500; display: -webkit-box; overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; -webkit-line-clamp: 2; }
.goods .txt .comment { margin-top: 0.5rem; font-size: 2.4rem; color: #868686; display: -webkit-box; overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; -webkit-line-clamp: 2; }
.goods .txt .price { margin-top: 2.5rem; font-size: 2.5rem; }
.goods .txt .price .line { color: #888888; text-decoration: line-through; }
.goods .txt .price div { font-size: inherit; line-height: 1; font-weight: 400; letter-spacing: -0.05em; margin-top: 0.5rem; }
.goods .txt .price div span { font-size: 2.8rem; font-weight: 600; margin-right: 0.5rem; }
.goods .txt .price .pv { margin-top: 1.3rem; color: #da2027; font-size: inherit; font-weight: 600; }
.goods .txt .price .bv { margin-top: 0.5rem; color: green; font-size: inherit; font-weight: 600; }

.pagingNew3 { font-size: 0; padding-top: 5rem; text-align: center; }
.pagingNew3 span { margin: 0; padding: 0; border: none; outline: none; font-style: normal; text-decoration: none; background: none; display: inline-flex; justify-content: center; align-items: center; position: relative; width: 4.8rem; height: 4.8rem; border: 1px solid transparent; border-radius: 100%; color: #da2027; font-size: 2.7rem; font-weight: 500; }
.pagingNew3 span a { margin: 0; padding: 0; border: none; outline: none; font-style: normal; text-decoration: none; background: none; cursor: pointer; text-decoration: none; width: 100%; height: 100%; height: 100%; font-weight: 300; color: #6a6a6a; display: flex; justify-content: center; align-items: center; }
.pagingNew3 span a:hover { color: #da2027; text-decoration: none; border: none; }
.pagingNew3 span.currentPage { color: #da2027; font-weight: 700; }
.pagingNew3 span.currentPage:after { content: ""; position: absolute; bottom: 0.625rem; left: 50%; width: 100%; height: 100%; width: 2.1rem; height: 1px; background: #da2027; -moz-transform: translateX(-50%); -webkit-transform: translateX(-50%); transform: translateX(-50%); }
.pagingNew3 span.arrow { border: 1px solid #e0e0e0; border-radius: 100%; margin: 0 0.25rem; }
.pagingNew3 span.arrow i { font-size: 2.7rem; color: #e0e0e0; }
.pagingNew3 span.arrow.left i { -moz-transform: translateX(-5%); -webkit-transform: translateX(-5%); transform: translateX(-5%); }
.pagingNew3 span.arrow.right i { -moz-transform: translateX(5%); -webkit-transform: translateX(5%); transform: translateX(5%); }
.pagingNew3 span.arrow.margin.left { margin-right: 2.5rem; }
.pagingNew3 span.arrow.margin.right { margin-left: 2.5rem; }
.pagingNew3 span.arrow:hover { border-color: #bdbdbd; }
.pagingNew3 span.arrow:hover i { color: #9e9e9e; }

.shopPage { position: relative; font-size: 2.8rem; padding-bottom: 8rem; }
.shopPage * { word-wrap: break-word; word-break: keep-all; }

/*detailView*/
.detailView .goodsImg { width: 100%; }
.detailView .goodsTitle { width: 100%; padding: 3rem; text-align: left; }
.detailView .goodsTitle h2 { color: #212121; font-size: 4rem; line-height: 1.2; font-weight: 500; }
.detailView .goodsTitle p { color: #424242; margin-top: 1rem; }
.detailView .goodsTxt { position: relative; width: 100%; padding: 0 3rem; text-align: left; color: #424242; }
.detailView .goodsTxt .flags { position: absolute; display: none; }
.detailView .goodsTxt .sale { display: inline; color: #fb8c00; }
.detailView .goodsTxt .price { display: block; padding: 3rem 1rem; border: 1px solid #e0e0e0; border-left: none; border-right: none; font-size: 0; }
.detailView .goodsTxt .price li { width: 100%; display: flex; align-items: baseline; font-size: 2.5rem; }
.detailView .goodsTxt .price h6 { color: #212121; font-size: 2.5rem; font-weight: 400; flex: 1; }
.detailView .goodsTxt .price span { font-size: 2.3rem; }
.detailView .goodsTxt .price span strong { display: inline; font-size: initial; letter-spacing: -1px; }
.detailView .goodsTxt .price-default * { color: #9e9e9e !important; font-weight: 400 !important; font-size: 2.5rem; }
.detailView .goodsTxt .price-customer * { color: #111 !important; font-weight: 500; font-size: 3.5rem; }
.detailView .goodsTxt .price-customer span strong { font-size: 3.5rem; font-weight: 600; }
.detailView .goodsTxt .price-cs * { color: #2196f3 !important; font-weight: 400 !important; font-size: 2.5rem; }
.detailView .goodsTxt .price-bv * { color: green !important; font-weight: 400 !important; font-size: 2.5rem; }
.detailView .goodsTxt .fee { display: block; padding: 3rem 0; font-size: 0; }
.detailView .goodsTxt .fee li { width: 100%; display: flex; align-items: baseline; font-size: 2.5rem; }
.detailView .goodsTxt .fee h6 { color: #212121; font-size: 2.5rem; font-weight: 400; flex: 1; }
.detailView .goodsTxt .fee span { font-size: 2.3rem; }
.detailView .goodsTxt .fee span strong { display: inline; font-size: initial; letter-spacing: -1px; }
.detailView .goodsTxt .fee-delivery { padding: 3rem; flex-wrap: wrap; background: #f9f9f9; }
.detailView .goodsTxt .fee-delivery * { color: #616161; font-weight: 400; font-size: 2.5rem; }
.detailView .goodsTxt .fee-delivery span { display: block; text-align: right; }
.detailView .goodsTxt .fee-delivery span strong { color: #222; }
.detailView .goodsTxt .fee-ea { padding: 3rem; padding-right: 0; }
.detailView .goodsTxt .fee-ea * { color: #111; font-weight: 500; font-size: 3rem; }
.detailView .goodsTxt .fee-ea h6 { font-size: 3rem; }
.detailView .goodsTxt .fee-ea span { display: inline-flex; align-items: center; }
.detailView .goodsTxt .fee-ea span a { cursor: pointer; text-decoration: none; color: #424242; width: 5rem; height: 5rem; -moz-border-radius: 100%; -webkit-border-radius: 100%; border-radius: 100%; border: 1px solid #eeeeee; }
.detailView .goodsTxt .fee-ea span a i { font-size: 0; width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; }
.detailView .goodsTxt .fee-ea span a i:before { margin: 0; width: 100%; line-height: 1; font-size: 2.5rem; }
.detailView .goodsTxt .fee-ea span input { margin: 0; padding: 0; border: none; outline: none; font-style: normal; text-decoration: none; background: none; width: 10rem; height: 5rem; text-align: center; background: #eeeeee; -moz-border-radius: 0.3rem; -webkit-border-radius: 0.3rem; border-radius: 0.3rem; margin: 0 1rem; }
.detailView .goodsTxt .fee-total { padding: 3rem; z-index: 9; background: #fff; padding-right: 0; align-items: center !important; border-top: 1px solid #9e9e9e; border-bottom: 1px solid #9e9e9e; }
.detailView .goodsTxt .fee-total * { color: #ec407a !important; font-weight: 500; }
.detailView .goodsTxt .fee-total h6 { font-size: 3rem; font-weight: 600; }
.detailView .goodsTxt .fee-total span { display: flex; align-items: baseline; justify-content: flex-end; font-size: 3rem; }
.detailView .goodsTxt .fee-total span strong { font-size: 3.5rem; font-weight: 600; }
.detailView .goodsTxt .fee-total span i { text-decoration: none; font-style: normal; width: 5rem; margin-left: 0.5rem; }
.detailView .goodsBuy { position: fixed; bottom: 0; left: 0; z-index: 9; background: #fff; width: 100%; display: flex; justify-content: center; align-items: center; }
.detailView .goodsBuy a { display: inline-flex; justify-content: center; align-items: center; cursor: pointer; text-decoration: none; font-size: 2.5rem; flex: 1; line-height: 1; padding: 3rem; }
.detailView .goodsBuy a.buys { background: #da2027; color: #fff; }
.detailView .goodsBuy a.cart { background: #bdbdbd; }
.detailView .goodsBuy a.sout { background: #616161; color: #fff; cursor: default; }
.detailView #tabArea { display: flex; align-items: center; background: #fff; box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1); position: sticky; top: 0; left: 0; z-index: 8; }
.detailView #tabArea a { display: inline-flex; justify-content: center; align-items: center; cursor: pointer; text-decoration: none; font-size: 2.5rem; flex: 1; line-height: 1; padding: 3rem; }
.detailView #tabArea a span { position: relative; display: inline-block; }
.detailView #tabArea a.on { font-weight: 500; }
.detailView #tabArea a.on span:before { content: ''; position: absolute; bottom: -3.1rem; left: 50%; width: 100%; height: 3px; background: #212121; transform: translateX(-50%); }
.detailView .detail_info { display: none; padding: 3rem; font-size: 2.2rem; line-height: 1.5; }
.detailView #detail_info1 { display: block; }

.order-list li { padding: 3rem; min-height: 26rem; display: flex; align-items: flex-start; border: 1px solid #e0e0e0; border-left: none; border-right: none; margin-top: -1px; }
.order-list li > div { display: inline-flex; }
.order-list li .goodsImg { width: 20rem; height: 20rem; overflow: hidden; margin-right: 3rem; }
.order-list li .goodsImg img { width: 100%; object-fit: cover; }
.order-list li .goodsTxt { min-height: 20rem; flex-direction: column; align-items: flex-start; flex: 1; }
.order-list li .goodsTxt .goodsTitle h2 { color: #212121; font-size: 3rem; line-height: 1.2; font-weight: 500; }
.order-list li .goodsTxt .goodsInfo { color: #757575; font-size: 2.5rem; }
.order-list li .goodsTxt .price-total { margin: auto 0; color: #222; font-weight: 700; }
.order-list li .goodsTxt .delivery { color: #616161; font-weight: 700; font-size: 2.3rem; margin-top: auto; /* single 단독배송 / afree 무료배송상품 / free 무료배송 / prepay 선결제 / same-seller 동일판매자 */ }
.order-list li .goodsTxt .delivery span { float: left; padding: 0.5rem 1rem; -moz-border-radius: 0.5rem; -webkit-border-radius: 0.5rem; border-radius: 0.5rem; }
.order-list li .goodsTxt .delivery .single { color: #1976d2; background: #e3f2fd; }
.order-list li .goodsTxt .delivery .afree { color: #00796b; background: #e0f2f1; }
.order-list li .goodsTxt .delivery .free { color: #455a64; background: #eceff1; }
.order-list li .goodsTxt .delivery .prepay { color: #f57c00; background: #fff3e0; }
.order-list li .goodsTxt .delivery .same-seller { color: #303f9f; background: #e8eaf6; }

.cart-list li { position: relative; flex-wrap: wrap; }
.cart-list li .goodsTitle { margin-bottom: 1.5rem; display: flex; justify-content: space-between; align-items: center; width: 100%; }
.cart-list li .goodsTitle label { position: relative; width: 5rem; height: 5rem; cursor: pointer; }
.cart-list li .goodsTitle label input[type="checkbox"] { visibility: hidden; }
.cart-list li .goodsTitle label span { display: block; position: absolute; top: 0; left: 0; margin: 0; padding: 0; border: none; outline: none; font-style: normal; text-decoration: none; background: none; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; width: 100%; height: 100%; background: #eeeeee; border: 1px solid #e0e0e0; color: #fff; }
.cart-list li .goodsTitle label span i { width: 100%; height: 100%; display: block; }
.cart-list li .goodsTitle label span i:before { margin: 0; width: auto; line-height: 1; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }
.cart-list li .goodsTitle label input:checked + span { background: #da2027; border-color: #da2027; color: #fff; }
.cart-list li .goodsTitle .title { margin-left: 2rem; flex: 1; }
.cart-list li .goodsTitle .title h2 { color: #212121; font-size: 3.3rem; line-height: 1.2; font-weight: 600; }
.cart-list li .goodsTitle .cartDel { position: relative; width: 5rem; height: 5rem; }
.cart-list li .goodsTitle .cartDel i { width: 100%; height: 100%; display: block; font-size: 2.5rem; }
.cart-list li .goodsTitle .cartDel i:before { margin: 0; width: auto; line-height: 1; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }
.cart-list h6 { font-size: 2.5rem; font-weight: 400; flex: 0.5; line-height: 1.2; margin: 0.5rem 0; }
.cart-list span { flex: 1.5; justify-content: flex-start; }
.cart-list .goodsImg { margin-top: 0.5rem; }
.cart-list .goodsTxt { flex: 1.2; }
.cart-list .goodsTxt > div { display: flex; align-items: flex-start; width: 100%; margin: 0.5rem 0; }
.cart-list .goodsTxt .goodsInfo { margin: 0; }
.cart-list .goodsTxt .goodsInfo div { flex: 1.5; }
.cart-list .goodsTxt .ea { margin-top: 1rem; display: flex; align-items: center; flex: 1; }
.cart-list .goodsTxt .ea span { display: inline-flex; align-items: center; }
.cart-list .goodsTxt .ea span a { cursor: pointer; text-decoration: none; color: #424242; width: 5rem; height: 5rem; -moz-border-radius: 100%; -webkit-border-radius: 100%; border-radius: 100%; border: 1px solid #eeeeee; }
.cart-list .goodsTxt .ea span a i { font-size: 0; width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; }
.cart-list .goodsTxt .ea span a i:before { margin: 0; width: 100%; line-height: 1; font-size: 2.5rem; }
.cart-list .goodsTxt .ea span input { margin: 0; padding: 0; border: none; outline: none; font-style: normal; text-decoration: none; background: none; height: 5rem; text-align: center; -moz-border-radius: 0.3rem; -webkit-border-radius: 0.3rem; border-radius: 0.3rem; }
.cart-list .goodsTxt .ea span input.cartEA { width: 10rem; background: transparent; }
.cart-list .goodsTxt .ea span input.cartEaChg { margin: 0; margin-right: 1rem; padding: 0 1rem; background: transparent; border: 1px solid #da2027; color: #da2027; }
.cart-list .goodsTxt .price-total { padding: 1rem 0; }
.cart-list .goodsTxt .price-total p { flex: 1.5; }
.cart-list .goodsTxt .price-total span { flex: initial; }
.cart-list .goodsTxt .price-total span strong { font-weight: 600; }
.cart-list .goodsTxt .price-total span i { text-decoration: none; font-style: normal; width: 5rem; margin-left: 0.5rem; }
.cart-list .goodsTxt .delivery h6 { margin: 1rem 0; }
.cart-list .goodsTxt .delivery > div { flex: 1.5; justify-content: flex-start; }
.cart-list .goodsTxt .delivery > div span { margin: 0.5rem 1rem; margin-left: 0; }

#order { padding: 2.5rem; width: 100%; overflow: hidden; /* background: #f5f5f5; */ }
#order .list_wrap { width: 100%; overflow: hidden; }
#order #cartChk label { display: flex; justify-content: flex-start; align-items: center; font-weight: 600; color: #222; }
#order #cartChk label input { margin-right: 1rem; }
#order .checkall { font-size: 2.7rem; line-height: 1.5; vertical-align: text-bottom; font-weight: 500; }
#order .cart_title { display: flex; justify-content: flex-start; align-items: center; border: 1px solid #dadada; border-bottom: none; height: 45px; line-height: 1.5; font-size: 2.9rem; padding-left: 8px; background: #f5f5f5; color: #333; font-weight: 400; margin-top: 10px; }
#order .cart_title.b_radius_top { border-radius: 8px 8px 0px 0px; }
#order .goodsInfo_wrap { border: 1px solid #dadada; border-top: none; background: #fff; }
#order .goodsInfo_wrap.b_radius_bottom { border-radius: 0px 0px 8px 8px; border-bottom: 1px solid #dadada; margin-bottom: 15px; }
#order .goodsInfo_wrap.b_radius_bottom_0 { border-radius: 0px 0px 0px 0px; border-bottom: none; padding-bottom: 5px; margin-bottom: -1px; }
#order .goodsInfo { position: relative; width: 100%; margin-top: 0px; }
#order .goodsInfo.mb { margin-bottom: -4px; }
#order .goodsInfo .goodsNameArea { border-bottom: none; width: calc(100% - 5rem); padding: 1.25rem; padding-right: 0; }
#order .goodsInfo .goodsNameArea label { display: inline-flex; justify-content: center; align-items: center; }
#order .goodsInfo .goodsNameArea label input[type="checkbox"] { margin-right: 1rem; }
#order .goodsInfo .goodsNameArea .goodsName { font-size: 2.7rem; color: #444; line-height: 2; margin-right: 45px; }
#order .goodsInfo .goodsNameArea .goodDelBtnWrap { position: absolute; text-indent: 0px; padding: 0px; top: 1.25rem; right: 1.25rem; display: inline-block; text-align: center; width: 5rem; height: 5rem; background: #eeeeee; transform: translateY(-5%); }
#order .goodsInfo .goodsNameArea .goodDelBtnWrap .goodDelBtn { display: flex; justify-content: center; align-items: center; margin: 0px; border-color: #ccc; width: 100%; height: 100%; color: #444444; text-decoration: none; }
#order .goodsInfo .goodsArea { border-bottom: none; margin: 1.25rem; margin-top: 0; }
#order .goodsInfo .goodsArea.order { border-bottom: none; padding: 8px; margin: 0; }
#order .goodsInfo .goodsArea .goodsBox { display: flex; }
#order .goodsInfo .goodsArea .ImgArea { width: 90px; height: 90px; padding: 0px; border: 1px solid #cdcdcd; border-radius: 4px; text-align: center; }
#order .goodsInfo .goodsArea .goodsInfoArea { margin-left: 10px; }
#order .goodsInfo .goodsArea .goodsInfoArea .goodsName { font-size: 15px; color: #444; padding-bottom: 6px; }
#order .goodsInfo .goodsArea .goodsInfoArea .ellipsis2 { width: 100%; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; }
#order .goodsInfo .goodsArea .goodsInfoArea .optionTxtArea { width: 100%; color: #999; margin-top: 7px; }
#order .goodsInfo .goodsArea .goodsInfoArea .goodsNote, #order .goodsInfo .goodsArea .goodsInfoArea .selltypeName, #order .goodsInfo .goodsArea .goodsInfoArea .ea { font-size: 13px; font-weight: 400; }
#order .goodsInfo .goodsArea .goodsInfoArea .price { font-size: 14px; color: #222222; }
#order .goodsInfo .goodsArea .goodsInfoArea .pUnit { font-size: 11px; color: #222222; }
#order .goodsInfo .goodsArea .goodsInfoArea .pv { font-size: 12px; color: #f2002e; }
#order .goodsInfo .goodsArea .goodsInfoArea .pvUnit { font-size: 10px; color: #f2002e; }
#order .goodsInfo .goodsArea .goodsInfoArea .cv { font-size: 12px; color: green; }
#order .goodsInfo .goodsArea .goodsInfoArea .cvUnit { font-size: 10px; color: green; }
#order .goodsInfo .goodsArea .goodsInfoArea .bv { font-size: 12px; color: green; }
#order .goodsInfo .goodsArea .goodsInfoArea .bvUnit { font-size: 10px; color: green; }
#order .goodsInfo .eachPriceInfo .title { font-size: 13px; color: #545454; text-align: left; font-weight: normal; }
#order .eachPriceInfo { margin-top: 6px; padding: 4px 9px; background: #fdf4f4; }
#order .eachPriceInfo.total { background: #fdf4f4; border-top: 1px solid #dadada; border-radius: 0px 0px 8px 8px; padding-bottom: 5px; margin-top: 0px; }
#order .eachPriceInfo.total .icon-angle-up, #order .eachPriceInfo.total .icon-angle-down { display: inline-flex; justify-content: center; align-items: center; width: 20px; height: 20px; -moz-border-radius: 100%; -webkit-border-radius: 100%; border-radius: 100%; background: rgba(0, 0, 0, 0.1); cursor: pointer; margin-left: 1rem; }
#order .eachPriceInfo.total .icon-angle-up:before, #order .eachPriceInfo.total .icon-angle-down:before { margin: 0; width: 100%; line-height: 0; }
#order .eachPriceInfo.hide { background: #ffffff; border: 0px solid #c3c3c3; border-radius: 0px 0px 8px 8px; padding-bottom: 5px; margin-top: 0px; }
#order .eachPriceInfo .title { font-size: 14px; color: #545454; text-align: left; font-weight: normal; }
#order .eachPriceInfo tbody { border: none; }
#order .eachPriceInfo td { border: none !important; padding: 2px 3px; font-size: 15px; color: #222222; }
#order .eachPriceInfo td.title.top { font-size: 14px; font-weight: 700; color: #444; }
#order .eachPriceInfo td.title.sub { text-indent: 0px; }
#order .eachPriceInfo td.top_price { font-size: 16px; font-weight: 700; }
#order .eachPriceInfo td .pUnit { font-size: 14px; }
#order .eachPriceInfo td .pv { font-size: 14px; color: #f2002e; }
#order .eachPriceInfo td .bv { font-size: 14px; color: green; }
#order .eachPriceInfo td .pvUnit { font-size: 11px; color: #f2002e; }
#order .eachPriceInfo td .bvUnit { font-size: 11px; color: green; }
#order .eaArea { margin-top: 8px; }
#order .eaArea .ea_bg { display: inline-block; border: 1px solid #ccc; line-height: 26px; vertical-align: top; width: 28px; height: 26px; text-align: center; background-color: #fafafa; }
#order .eaArea .ea_bg a { display: block; text-decoration: none; border: none; margin: 0; height: 24px; line-height: 24px; }
#order .eaArea .input_text_ea { border-width: 1px 0px 1px 0px; border-color: #ccc; border-style: solid; line-height: 26px; height: 26px; font-size: 13px; vertical-align: top; width: 33px; }
#order .txt_DeliveryFee { padding: 0px; border-top: 1px solid #f1f1f1; background: #fff; margin-top: 6px; color: #969696; }
#order .txt_DeliveryFee .inner { font-size: 13px; background: #f1f1f1; padding: 8px 12px; margin: 0px 0px; }
#order .cartEaInput { width: 30px; border: 1px solid #ccc; border-radius: 2px; line-height: 22px; height: 22px; }
#order .cartEaChg { width: 45px; border: 1px solid #6492c1; border-radius: 2px; line-height: 26px; height: 26px; background-color: #dbedff; font-weight: bold; color: #1a64b1; }
#order .noData { text-align: center; line-height: 80px; background: #ffffff; }
#order .cart_order { display: flex; justify-content: space-between; background-color: #fff; }
#order a.buys { display: block; border-radius: 4px; font-size: 15px; font-weight: 400; line-height: 40px; height: 40px; text-align: center; background-color: #fff; text-decoration: none; background: #bc1f31; color: #fff; width: 49%; }
#order a.goshop { display: block; border-radius: 4px; font-size: 15px; font-weight: 400; line-height: 40px; height: 40px; text-align: center; background-color: #cfcfcf; text-decoration: none; background: #cfcfcf; color: #555555; width: 49%; }
#order .DaumPostcodeWrap { display: none; position: relative; border: 3px solid; width: 98%; height: 300px; margin: 5px 0; }
#order .DaumPostcodeWrap .close { position: absolute; right: 2px; top: 2px; z-index: 1; background: #fff; }
#order #orderSame, #order .deliveryInfoArea { margin-top: 10px; margin-left: 10px; color: #d75623; font-size: 14px; }
#order .order_infos { font-size: 15px; font-weight: 500; border: 3px solid #ebebeb; color: #3a3a3a; text-align: left; padding: 8px 0 8px 8px; margin: 10px 0; }
#order .order_infos .ordNo { color: #3a3a3a; font-weight: 400; }
#order .cart_select { width: 100%; clear: both; float: left; margin-top: 60px; margin-bottom: 30px; text-align: center; }
#order .cart_select img { margin-left: 9px; }

body { font-size: 2.5rem; line-height: 1.5; }

/*카피라이터 영역 */
.footer { width: 100%; background: #2c2c2c; font-size: 2.2rem; font-weight: 500; color: #757575; max-width: 640px; margin: 0 auto; }
.footer::after { content: ''; display: block; clear: both; }
.footer .layout_inner { position: relative; width: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center; padding: 4rem; }
.footer article { display: inline-flex; padding: 0 3rem; }
.footer-left { flex-direction: column; width: calc(100% - (16.5rem * 2)); }
.footer-menu { display: flex; justify-content: space-evenly; align-items: center; width: 100%; }
.footer-menu li a { position: relative; cursor: pointer; text-decoration: none; width: 100%; height: 100%; color: #6a6a6a; letter-spacing: -0.044rem; }
.footer-menu li.foo-menu-line { margin: 0; margin-top: 1px; width: 1px; height: 2.1rem; background: #fff; opacity: 0.1; }
.footer-menu .policy2 a { color: #8f7474; }
.footer-menu .policy2 a::after { position: absolute; bottom: -15%; left: 0; width: 100%; height: 2px; background: #686868; }
.footer-info { width: 100%; text-align: center; font-size: 2.2rem; letter-spacing: -0.042rem; margin-top: 3rem; }
.footer-info p { padding: 0.4rem 0; display: flex; justify-content: center; align-items: center; word-wrap: break-word; word-break: keep-all; }
.footer-info span { margin: 0 1.5%; }
.footer .copyright { font-size: 1.8rem; color: #5e5e5e; margin-top: 1.5rem; }
.footer .copyright a { cursor: text; color: #5e5e5e; text-decoration: none; }
.footer .footer-icon { position: relative; margin-top: 2rem; }
.footer .footer-icon ul { display: flex; justify-content: center; align-items: center; }
.footer .footer-icon li { width: 6rem; height: 6rem; margin: 1rem; font-size: 6rem; background: #e0e0e0; -moz-border-radius: 100%; -webkit-border-radius: 100%; border-radius: 100%; color: #6a6a6a; }
.footer .footer-icon li a { width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; cursor: pointer; color: inherit; font-size: inherit; }
.footer .footer-icon li:hover { color: #fff; }
.footer .footer-icon li:hover.naver { background: #03c75a; }
.footer .footer-icon li:hover.youtube { background: #ff0000; }
.footer .footer-icon li:hover.facebook { background: #3b5998; }
.footer .footer-icon li:hover.insta { background: #c32aa3; }
.footer .footer-icon li:hover.kakao { background: #fee500; }
.footer .banners { display: flex; justify-content: flex-end; width: calc(16.5rem * 2); margin-top: 6rem; }
.footer .banners a { margin-left: 0.5rem; }
.footer .banners .kossa { display: none; }
.footer button { position: fixed; bottom: 3rem; right: 1.5rem; z-index: 10; margin: 0; padding: 0; border: none; outline: none; font-style: normal; text-decoration: none; background: none; cursor: pointer; text-decoration: none; width: 100%; height: 100%; width: 7rem; height: 7rem; background: url("/m/images/shop_top.svg") no-repeat center/100%; }

footer { margin-top: 5rem; }
