@charset "UTF-8";
/*서브타이틀*/
#contain_wrap { max-width: 640px; margin: 0 auto; }

#sub-header { position: relative; width: 100%; height: 25rem; display: flex; justify-content: center; align-items: center; flex-direction: column; text-align: center; }
#sub-header .sub-header-img { width: 100%; height: 100%; position: absolute; top: 50%; left: 50%; z-index: 0; -moz-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
#sub-header .sub-header-img img { width: 100%; height: 100%; object-fit: cover; }
#sub-header .sub-header-txt { position: relative; z-index: 1; display: flex; justify-content: space-between; align-items: center; flex-direction: column; color: #fff; font-size: 5rem; font-weight: 400; }
#sub-header .sub-header-txt:after { content: ''; z-index: 1; width: 5rem; height: 1px; background: #fff; margin-top: 1.5rem; }

.content { padding: 3rem; box-sizing: border-box; position: relative; }
.content * { box-sizing: border-box; }
.content .contain { width: 100%; padding: 0 3rem; margin: 0 auto; background: #fff; overflow: hidden; max-width: 64rem; }

th { color: #555; }

.table th { background: #e3e3e3; padding: 1.25rem 0; font-size: 2.5rem; line-height: 1.5; font-weight: 600; text-align: center; }
.table td { padding: 1.25rem 0.625rem; text-align: center; font-size: 2.5rem; }

.table2 th { background: #e3e3e3; padding: 1.25rem 0; font-size: 14px; line-height: 1.5; font-weight: 600; text-align: center; }
.table2 td { padding: 1.25rem 0.625rem; text-align: center; }

.pay_totals { margin: 0; margin-bottom: 2.5rem; background: #fff; width: 100%; padding: 1.25rem; }
.pay_totals.payment_list { padding: 0; border: none; background: initial; }

.inTable1 td { font-weight: 600; padding: 0; padding-right: 1.25rem; font-size: 2.5rem; word-break: break-all; background: #fff; }
.inTable1 td.th { background: #efefef; }

.pay_totals_td td { padding: 1.25rem 0; width: auto; }
.pay_totals_td .th { text-align: center; }
.pay_totals_td table { margin-bottom: 2.5rem; background: #fff; }
.pay_totals_td table th.title { background: #e3e3e3; padding: 1.25rem 0; font-size: 15px; line-height: 1.5; font-weight: 600; text-align: center; }

.htbody { background: #f5f5f5; }

.pays td a.btn { background: linear-gradient(#fff 0%, #ececec 35%, #fff 100%); border: 1px solid #999; color: #fff; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; padding: 5px 8px; text-align: center; color: #333; display: block; cursor: pointer; font-weight: bold; font-size: 13px; }
.pays .htbody td { background-color: #ffffff; font-size: 13px; word-break: keep-all; word-wrap: break-word; }
.pays .htbody td.bg_y { background-color: #fffffa; padding: 0px 0px 0px 0px; }
.pays .htbody td.th14 { background-color: #eee; font-weight: bold; text-align: center; font-size: 14px; }
.pays .htbody td.th12 { background-color: #eee; font-weight: bold; text-align: center; font-size: 12px; }
.pays .htbody th { font-weight: bold; text-align: center; background-color: #efefef; }
.pays .htbody .f12 { font-size: 12px; }
.pays .htbody .f13 { font-size: 13px; }
.pays .htbody .f14 { font-size: 14px; }
.pays th.title { border-top: 0px none; font-size: 12px; }

/*신 상세내역 버튼*/
a:hover { color: #1C287B; }

/* 페이징 모바일(5)*/
.pagingNew3 { font-size: 0; padding-top: 5rem; text-align: center; }
.pagingNew3 span { margin: 0; padding: 0; border: none; outline: none; font-style: normal; text-decoration: none; background: none; display: inline-flex; justify-content: center; align-items: center; position: relative; width: 4.8rem; height: 4.8rem; border: 1px solid transparent; border-radius: 100%; color: #1C287B; font-size: 2.7rem; font-weight: 500; }
.pagingNew3 span a { margin: 0; padding: 0; border: none; outline: none; font-style: normal; text-decoration: none; background: none; cursor: pointer; text-decoration: none; width: 100%; height: 100%; height: 100%; font-weight: 300; color: #6a6a6a; display: flex; justify-content: center; align-items: center; }
.pagingNew3 span a:hover { color: #1C287B; text-decoration: none; border: none; }
.pagingNew3 span.currentPage { color: #1C287B; font-weight: 700; }
.pagingNew3 span.currentPage:after { content: ""; position: absolute; bottom: 0.625rem; left: 50%; width: 100%; height: 100%; width: 2.1rem; height: 1px; background: #1C287B; -moz-transform: translateX(-50%); -webkit-transform: translateX(-50%); transform: translateX(-50%); }
.pagingNew3 span.arrow { border: 1px solid #e0e0e0; border-radius: 100%; margin: 0 0.25rem; }
.pagingNew3 span.arrow i { font-size: 2.7rem; color: #e0e0e0; }
.pagingNew3 span.arrow.left i { -moz-transform: translateX(-5%); -webkit-transform: translateX(-5%); transform: translateX(-5%); }
.pagingNew3 span.arrow.right i { -moz-transform: translateX(5%); -webkit-transform: translateX(5%); transform: translateX(5%); }
.pagingNew3 span.arrow.margin.left { margin-right: 2.5rem; }
.pagingNew3 span.arrow.margin.right { margin-left: 2.5rem; }
.pagingNew3 span.arrow:hover { border-color: #bdbdbd; }
.pagingNew3 span.arrow:hover i { color: #9e9e9e; }

#index { width: 100%; }
#index::after { content: ''; display: block; clear: both; }
#index .title { text-align: center; font-size: 3.6rem; font-weight: 300; color: #000; letter-spacing: -0.02em; }
#index .title b { font-weight: 700; }
#index .nodata { display: flex; justify-content: center; align-items: center; text-align: center; font-size: 2.8rem; font-weight: 600; width: 100%; height: 0; margin: 0 auto; padding: 50% 3rem; background: #f8f9fa; }

#index .main-visual { width: 100%; margin: 0 auto; position: relative; color: #fff; }
#index .main-visual::after { content: ''; display: block; clear: both; }
#index .main-visual img { width: 100%; height: 100%; object-fit: cover; }
#index .swiper-inner { position: absolute; bottom: 0; left: 50%; width: calc(100% - 6rem); height: 0; transform: translateX(-50%); z-index: 1; }
#index .swiper-pagination-bullets { bottom: 5rem; right: auto; left: 50%; transform: translateX(-50%); z-index: 2; height: 1.4rem; line-height: 0; }
#index .swiper-pagination-bullet { width: 1.4rem; height: 1.4rem; margin: 0 0.8rem; background: #fff; box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5); opacity: 0.6; }
#index .swiper-pagination-bullet-active { opacity: 1; }

/*GOODS*/
.index-best { margin-bottom: 6rem; }
.index-best .title { margin-top: 13.7rem; }
.index-best .layout_inner { text-align: center; }
.index-best .wrap { font-size: 0; width: 100%; margin: 2rem 0; text-align: left; display: inline-block; padding: 0 2rem; }
.index-best .wrap div { font-size: 2.5rem; }
.index-best .wrap .nodata { text-align: center; font-size: 2.8rem; font-weight: 600; width: 100%; padding: 3rem 0; }
.index-best .goods { position: relative; width: 50%; display: inline-block; font-size: 2.5rem; vertical-align: top; min-height: 49rem; }
.index-best .goods:nth-of-type(2n) { margin-right: 0; }
.index-best .goods a { cursor: pointer; text-decoration: none; width: 100%; height: 100%; padding: 1rem; display: block; color: #797979; }
.index-best .goods .sale { position: absolute; top: 3rem; left: 3rem; z-index: 1; font-size: 3rem; width: 7.2rem; height: 7.2rem; background: #dac95a; color: #fff; display: flex; justify-content: center; align-items: center; font-weight: 200; border-radius: 100%; }
.index-best .goods .img { width: 100%; height: 0; padding-bottom: 100%; overflow: hidden; position: relative; background: #fafafa; }
.index-best .goods .img img { width: 100%; height: 100%; object-fit: cover; margin-top: 50%; margin-left: 50%; transform: translate(-50%, -50%); -moz-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; position: absolute; }
.index-best .goods:hover .img:before { opacity: 1; }
.index-best .goods:hover .img:after { opacity: 1; }
.index-best .goods:hover .img img { transform: translate(-50%, -50%) scale(1.05); }
.index-best .goods .txt { letter-spacing: 0; line-height: 1.2; text-align: left; padding-top: 2rem; display: flex; justify-content: flex-start; align-items: flex-start; flex-direction: column; min-height: 20rem; }
.index-best .goods .txt .name { font-size: 2.4rem; color: #111; display: -webkit-box; overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; -webkit-line-clamp: 1; letter-spacing: -0.01em; font-weight: 600; }
.index-best .goods .txt .comment { font-size: 2rem; color: #737373; margin-top: 0.7rem; letter-spacing: 0.01em; display: -webkit-box; overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; -webkit-line-clamp: 2; }
.index-best .goods .txt .price { margin-top: auto; padding-top: 1.5rem; border-top: 1px solid #e5e5e5; width: 100%; letter-spacing: -0.01em; line-height: 1.2; text-align: left; display: flex; justify-content: flex-start; align-items: baseline; flex-wrap: wrap; font-size: 2.4rem; }
.index-best .goods .txt .price .line { color: #bcbcbc; text-decoration: line-through; font-size: 2.1rem; font-weight: 400; margin-right: 1rem; }
.index-best .goods .txt .price .line span { color: inherit; font-size: inherit; font-weight: inherit; }
.index-best .goods .txt .price div { font-weight: 500; line-height: 1; letter-spacing: -0.05em; color: #515151; font-size: 2.3rem; }
.index-best .goods .txt .price div span { font-size: 2.6rem; color: #323232; }
.index-best .goods .txt .price .pv { width: 100%; margin-top: 0.5rem; color: #301c7b; font-size: inherit; }

.index-list { background: #fcfcfd; border: 1px solid #efefef; padding: 7rem; width: calc(100% - 6rem); margin: 0 auto; }
.index-list .swiper-slide { position: relative; display: flex; justify-content: center; align-items: center; flex-direction: column; }
.index-list .img { width: 100%; height: 0; padding-bottom: 100%; display: inline-flex; justify-content: center; align-items: center; overflow: hidden; position: relative; }
.index-list .img img { position: absolute; top: 50%; left: 50%; -moz-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); width: 100%; height: 100%; object-fit: cover; }
.index-list .txt { width: 100%; min-height: 39rem; display: inline-flex; justify-content: flex-start; align-items: flex-start; flex-direction: column; font-size: 2.4rem; line-height: 1.2; text-align: left; }
.index-list .txt span { color: #57708E; font-weight: 800; margin-top: 5rem; margin-bottom: 1.3rem; font-size: 1.7rem; }
.index-list .txt div { color: #111; font-size: 3.2rem; font-weight: 700; width: 100%; letter-spacing: -0.005em; display: -webkit-box; overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; -webkit-line-clamp: 1; }
.index-list .txt i { width: 100%; height: 1px; background: #d8d8d8; margin: 3rem 0; }
.index-list .txt p { color: #848484; margin-bottom: 1rem; letter-spacing: -0.05em; line-height: 1.4; display: -webkit-box; overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; -webkit-line-clamp: 3; }
.index-list .txt .btn { width: 22rem; height: 6rem; font-size: 2.1rem; display: inline-flex; justify-content: center; align-items: center; color: #6b6b6b; border: 1px solid #747474; cursor: pointer; font-weight: 700; margin-top: auto; margin-right: auto; }
.index-list .txt .btn:hover { color: #fff; background: #1C287B; border-color: #1C287B; }
.index-list .swiper-inner { width: 100% !important; }
.index-list .swiper-button { position: absolute; display: flex; justify-content: center; align-items: center; width: 6rem; height: 6rem; border: 1px solid #ddd; font-size: 1.5rem; color: #000; padding: 0; background: rgba(252, 252, 253, 0.8); margin-top: -6rem; top: initial; -moz-border-radius: 100%; -webkit-border-radius: 100%; border-radius: 100%; }
.index-list .swiper-button.prev { right: 7rem; padding: 0; }
.index-list .swiper-button.next { right: 0; padding: 0; }

.index-bn { width: 100%; height: 36rem; text-align: center; position: relative; margin: 8rem auto; display: inline-block; }
.index-bn .bg { width: 100%; height: 100%; background: url("/images/index/index-bn-bg.jpg") no-repeat center right/130%; position: absolute; z-index: -1; }
.index-bn .layout_inner { overflow: hidden; height: 100%; }
.index-bn .dn-logo { background: url("/images/share/dn8_logo.svg") no-repeat center/cover; width: 13rem; height: 5.3rem; margin: 0 auto; margin-top: 10.5rem; }
.index-bn .dn-logo img { opacity: 0; }
.index-bn i { width: 6rem; height: 1px; background: #fff; display: inline-block; margin: 5rem auto 2.3rem auto; }
.index-bn p { color: #fff; font-weight: 200; font-size: 3.2rem; letter-spacing: 0.4em; text-indent: 0.4em; }
.index-bn p b { font-weight: 500; }

@media (min-width: 430px) { .index-bn .bg { background: url("/images/index/index-bn-bg.jpg") no-repeat center right/cover; } }
.index-skills { margin: 3rem auto; }
.index-skills ul { width: 100%; display: flex; justify-content: center; align-items: center; flex-direction: column; margin: 0 auto; margin-top: 3.8rem; padding: 0 3rem; }
.index-skills li { margin-bottom: 6rem; width: 100%; }
.index-skills li .img { width: 100%; overflow: hidden; }
.index-skills li .img img { opacity: 0; width: 100%; }
.index-skills li .txt { text-align: left; margin-top: 1.8rem; }
.index-skills li .txt div { color: #111; font-size: 2.8rem; font-weight: 700; letter-spacing: -0.015em; }
.index-skills li .txt p { color: #535252; font-size: 2.3rem; font-weight: 300; word-break: keep-all; letter-spacing: -0.05em; line-height: 1.4; margin-top: 0.5rem; }
.index-skills li:first-of-type .img { background: url("/images/index/index-btn01.jpg") no-repeat center/cover; }
.index-skills li:nth-of-type(2) .img { background: url("/images/index/index-btn02.jpg") no-repeat center/cover; }

.index-video { position: relative; padding-bottom: 10rem; margin: 0 3rem; }
.index-video .title { margin-bottom: 4rem; }
.index-video .swiper-slide { width: 50%; position: relative; }
.index-video .swiper-slide a { cursor: pointer; text-decoration: none; width: 100%; height: 100%; display: block; padding: 1.5rem; }
.index-video .swiper-slide .img { width: 100%; height: 0; padding-bottom: 70%; position: relative; overflow: hidden; }
.index-video .swiper-slide .img:before { content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 9; box-sizing: border-box; background: #000; opacity: 0; -moz-transition: all 0.1s; -webkit-transition: all 0.1s; transition: all 0.1s; }
.index-video .swiper-slide .img .icon-play { content: ""; position: absolute; top: 50%; left: 50%; width: 100%; height: 100%; -moz-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); z-index: 10; box-sizing: border-box; color: #fff; font-size: 10rem; display: flex; justify-content: center; align-items: center; filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5)); opacity: 0; }
.index-video .swiper-slide .img img { position: absolute; top: 50%; left: 50%; -moz-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); width: 100%; height: 100%; object-fit: cover; }
.index-video .swiper-slide .txt { font-size: 2.3rem; font-weight: 500; color: #212121; display: -webkit-box; overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; -webkit-line-clamp: 1; margin: 1rem 0; letter-spacing: -0.05em; }
.index-video .swiper-slide a:hover .img:before { opacity: .5; }
.index-video .swiper-slide a:hover .img .icon-play { opacity: .9; }
.index-video .swiper-slide a:hover .txt { text-decoration: underline; }
.index-video .swiper-button { width: 5rem; height: 5rem; margin-top: calc(calc(850px / -2) - (5rem / 2)); font-size: 4rem; }
.index-video .swiper-button.prev { left: calc(5rem * -1.2); padding-right: 5px; }
.index-video .swiper-button.next { right: calc(5rem * -1.2); padding-left: 5px; }
.index-video .more { margin: 3rem auto; text-align: center; width: 100%; }
.index-video .more a { cursor: pointer; text-decoration: none; width: 100%; height: 100%; display: inline-flex; justify-content: center; align-items: center; width: auto; height: 7rem; border: 1px solid #dee2e6; padding: 0 5rem; padding-right: 2.5rem; }
.index-video .more a i { margin-left: 2.5rem; }
.index-video .more a:hover { color: #fff; background: #1C287B; border-color: #1C287B; }

/*오시는 길*/
.location { width: 100%; position: relative; display: flex; justify-content: space-between; align-items: center; flex-direction: column-reverse; font-size: 2.5rem; padding: 3rem 0; }
.location .wrap_map { height: 100% !important; }
.location .wrap_controllers { display: none; }
.location .map_border { display: none !important; }
.location .wrap_btn_zoom { display: none !important; }
.location .root_daum_roughmap { padding: 0 !important; border-radius: 0 !important; border: none !important; width: 100%; height: 40rem; }
.location-info { display: flex; flex-direction: column; width: 100%; color: #222; font-weight: 400; padding-bottom: 6rem; }
.location-info h5 { display: flex; align-items: center; width: 100%; word-break: keep-all; font-size: 3.3rem; line-height: 1.2; font-weight: 500; margin-top: 6rem; }
.location-info h5 i { font-size: 4.3rem; color: #1C287B; margin-right: 2.15rem; }
.location-info h5 .icon-location:before { margin: 0; }
.location-info .info { display: flex; flex-direction: column; margin: 5rem 0; }
.location-info .info li { display: flex; align-items: center; justify-content: center; width: 100%; word-break: keep-all; padding: 1rem 0; border-bottom: 1px solid rgba(78, 84, 126, 0.4); }
.location-info .info li:first-child { border-top: 1px solid rgba(78, 84, 126, 0.4); }
.location-info .info li h6 { font-size: 2.9rem; font-weight: 500; width: 40%; padding: 1% 0; }
.location-info .info li span { display: block; width: 100%; padding: 2% 0; }
.location-info a { display: inline-flex; justify-content: space-between; align-items: center; width: 100%; padding: 2.5rem 3rem; background: #1C287B; color: #fff !important; -moz-border-radius: 1rem; -webkit-border-radius: 1rem; border-radius: 1rem; -moz-transition: all, 0.3s; -webkit-transition: all, 0.3s; transition: all, 0.3s; text-decoration: none !important; }
.location-info a span { color: #fff; display: inline-flex; justify-content: center; align-items: center; position: relative; font-size: 2.9rem; line-height: 0; width: 25%; height: 100%; margin-left: 15%; margin-right: 10%; text-align: right; vertical-align: middle; text-decoration: none; opacity: .5; -moz-transition: all, 0.3s; -webkit-transition: all, 0.3s; transition: all, 0.3s; }
.location-info a span::before { content: ''; position: relative; width: 100%; height: 2px; background: #fff; -moz-border-radius: 5rem; -webkit-border-radius: 5rem; border-radius: 5rem; margin-right: -0.5rem; -moz-transition: all, 0.3s; -webkit-transition: all, 0.3s; transition: all, 0.3s; }
.location-info a span i { display: flex; align-items: center; height: 100%; }
.location-info a span i::before { margin: 0; width: auto; line-height: 0; }
.location-info a:hover { background: #33246f; box-shadow: 0.25rem 1rem 2rem rgba(51, 36, 111, 0.3); }
.location-info a:hover span { width: 35%; opacity: 1; margin-right: 0; }

/*준비중 페이지*/
.ready { position: relative; display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100%; text-align: center; font-size: 3rem; padding: 5rem 0; }
.ready div { width: 32rem; height: 32rem; position: relative; -webkit-mask: url("/images/content/maintenance-line.svg") no-repeat; -webkit-mask-size: 99.8% 100%; opacity: .7; }
.ready div:after { content: ''; position: absolute; top: 0; left: 0; z-index: 1; width: 100%; height: 100%; background: #1C287B; mix-blend-mode: color; }
.ready div img { width: 100%; filter: brightness(1.4); }
.ready p { margin: 5rem 0; }
.ready span { color: #131a51; font-weight: 600; font-size: 3.3rem; }

/*이용약관*/
.policy { font-size: 2.4rem; color: #424242; padding: 6rem 0; }
.policy .agree_box { position: relative; z-index: 1; border: 1px solid #bdbdbd; width: 100%; height: 42.6666666667rem; margin: 0 auto; scroll-behavior: smooth; -moz-transition: all, 0.3s; -webkit-transition: all, 0.3s; transition: all, 0.3s; }
.policy .agree_box:before, .policy .agree_box:after { content: ''; position: absolute; left: 0; z-index: 2; width: 100%; height: 5%; }
.policy .agree_box:before { top: 0; background: linear-gradient(180deg, #fff, transparent); }
.policy .agree_box:after { bottom: 0; background: linear-gradient(0deg, #fff, transparent); }
.policy .fade { position: absolute; z-index: 2; }
.policy .agree_content { position: relative; z-index: 1; width: 100%; height: 100%; padding: 5rem; overflow-x: hidden; overflow-y: scroll; }
.policy .agree_content b { color: #242e73; font-size: 2.6rem; font-weight: 500; overflow: hidden; }
.policy .agree_content::-webkit-scrollbar { position: relative; width: 1.5rem; z-index: 2; }
.policy .agree_content::-webkit-scrollbar-thumb { background: #bdbdbd; background-clip: padding-box; border: 0rem solid transparent; }
.policy .agree_content::-webkit-scrollbar-track { background: #f5f5f5; z-index: 1; }

.company01 { position: relative; width: 100%; font-size: 2.6rem; letter-spacing: -0.05em; color: #525252; margin: 2rem 0; font-family: 'Pretendard', 'Roboto', 'Noto Sans SC', sans-serif; }
.company01 p { word-break: keep-all; }
.company01 section { width: 100%; position: relative; display: flex; justify-content: center; align-items: center; flex-direction: column; }
.company01 section > p { font-size: 3.2rem; letter-spacing: -0.05em; font-weight: 500; color: #3d3d3d; padding: 1.5rem 0 4.5rem 0; width: 100%; }
.company01 section > p b { color: #222; font-weight: 700; display: block; }
.company01 section .img { position: relative; z-index: -1; width: 100%; background: url("/images/content/com_01-min.jpg") no-repeat center/120%; }
.company01 section .img img { position: relative; z-index: -1; opacity: 0; width: 100%; }
.company01 section .txt { width: 100%; display: inline-flex; justify-content: center; align-items: flex-start; flex-direction: column; }
.company01 section .txt > p { font-size: 2.4rem; letter-spacing: -0.05em; font-weight: 500; color: #3d3d3d; padding: 4.5rem; width: 100%; }
.company01 section .txt > p b { color: #222; font-weight: 700; }
.company01 section .txt .box { display: inline-flex; justify-content: flex-start; align-items: center; flex-direction: column; margin: 0 auto; margin-top: -8.5rem; padding: 4rem; font-size: 2.6rem; letter-spacing: -0.05em; font-weight: 300; color: #fff; background: #835711; width: calc(100% - 6rem); word-break: keep-all; }
.company01 section .txt .box div { margin-bottom: 2rem; width: 100%; }
.company01 section .txt .box span { margin-right: 2rem; }
.company01 section ~ p { line-height: 1.5; margin: 5rem 0; }

.business { position: relative; font-size: inherit; line-height: inherit; }
.business > div { font-size: 5rem; margin-bottom: 2.5rem; font-weight: 300; color: #000; }
.business > div span { position: relative; }
.business > div span:before { content: ""; position: absolute; bottom: 0; left: 0; width: 100%; height: 40%; background: #1C287B; opacity: 0.2; z-index: -1; }
.business article { margin: 5rem 0; width: 100%; }
.business h1 { font-size: 2.8rem; font-weight: 600; color: #222; }
.business p { word-break: keep-all; }
.business h2 { font-weight: 700; font-size: 2.6rem; margin: 1.25rem 0; }
.business ul { margin: 1.25rem 2.5rem; }
.business ul > li { padding-left: 2.5rem; text-indent: -2.5rem; word-break: keep-all; }
.business ol { padding: 1.25rem 2.5rem; }
.business ol li { color: #757575; word-break: keep-all; }
.business table { margin: 2.5rem 0; width: 100%; width: 40%; text-align: center; }
.business table table { border: none; }
.business table tr { border: none; }
.business table th, .business table td { border: none; padding: 0.5rem 1rem; }
.business table thead th { background: whitesmoke; color: #6e6e6e; font-weight: 600; border: 1px solid gainsboro; }
.business table tbody tr { border-bottom: 1px solid #ebebeb; }
.business table tbody th { border: 1px solid #dedede; background: #f8f8f8; color: #6e6e6e; }
.business table tbody td { border: 1px solid #ebebeb; }
.business table thead th:first-of-type { border-left: none; }
.business table thead th:last-of-type { border-right: none; }
.business table tbody th:first-of-type { border-left: none; }
.business table tbody th:last-of-type { border-right: none; }
.business table tbody th + td { border-left: 1px solid #dedede !important; }
.business table tbody td:first-of-type { border-left: none; }
.business table tbody td:last-of-type { border-right: none; }
.business table tbody td:first-of-type { border-left: 1px solid #ebebeb; }
.business table tbody th { font-weight: 400; }

.business04 .txt { display: inline-flex; justify-content: center; align-items: flex-start; padding: 1rem 2rem; background: #f5f5f5; flex-direction: column; }

.nav-left .depth2 ol .salesman { display: none !important; }

#faq .menu { display: flex; justify-content: flex-start; align-items: flex-start; flex-wrap: wrap; }
#faq .menu li { flex: 0 25%; }
#faq .menu li a { cursor: pointer; text-decoration: none; width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; position: relative; z-index: 0; padding: 1.25rem; font-size: 2.5rem; background: #fff; border: 1px solid #bdbdbd; border-right: none; color: #616161; height: 8rem; }
#faq .menu li:nth-of-type(4n) a { border-right: 1px solid #bdbdbd; }
#faq .menu li.on a { background: #fff; color: #1C287B; border: 1px solid #1C287B; z-index: 1; box-shadow: 0 0 0 1px #1C287B; font-weight: 500; }
#faq .list { margin-top: 5rem; }
#faq .list li { border-top: 1px solid #bdbdbd; border-bottom: 1px solid #bdbdbd; margin-bottom: -1px; position: relative; z-index: 0; background: #fff; }
#faq .list li h3 { display: flex; justify-content: space-between; align-items: center; position: relative; cursor: pointer; font-size: 2.5rem; font-weight: 400; line-height: 1.5; padding: 2.5rem; padding-left: 4.5rem; }
#faq .list li h3:before { content: 'Q'; color: #1C287B; font-weight: 700; position: absolute; left: 1.25rem; text-align: center; width: 2.5rem; }
#faq .list li h3 .icon-add { color: #bdbdbd; }
#faq .list li h3 .icon-remove { color: #1C287B; }
#faq .list li.active { border-color: #757575; z-index: 1; }
#faq .list li.active h3 { color: #1C287B; font-weight: 500; }
#faq .list div { position: relative; background: #f4f4f8; font-size: 2.5rem; padding: 2.5rem; padding-left: 5rem; border-top: 1px solid rgba(189, 189, 189, 0.2); }
#faq .list div:before { content: 'A'; color: rgba(0, 0, 0, 0.5); font-weight: 700; position: absolute; left: 1.3888888889rem; text-align: center; width: 2.5rem; }
#faq .list div.hide { position: absolute; left: -1000%; top: 0; width: 1px; height: 1px; font-size: 0; line-height: 0; overflow: hidden; }
#faq .list div.faqContent img { max-width: 100%; height: auto; }
#faq .notFAQ { height: calc(calc(var(--c-vh, 1vh) * 100) - 8rem * 4); display: flex; justify-content: center; align-items: center; font-size: 2.5rem; }

/* 1:1문의 */
select { padding: 0px 0px 0px 4px; height: 35px; vertical-align: middle; border-color: #ccc; border-radius: 3px; }
