
	#page.afters {float:left;background:url(./images/bg.gif) 0 0px no-repeat; height:391px;}
	#page.afters .input_text {border:1px solid #e0e0e0; height:15px; padding-top:2px; padding-left:4px; font-size:8pt; float:left;}
	#page.afters .inputbg {background:#fff url(./images/input_bg.gif) 0 0 no-repeat; margin:0px;}
	#page.afters .input_radio {margin:0px 0px 2px 0px;vertical-align:middle;}
	#page.afters .input_check {margin:0px 0px 0px 0px;vertical-align:middle; width:13px; height:13px; padding:0px; float:left;}
	#page.afters .input_area {border:1px solid #e0e0e0; padding-top:2px;font-size:8pt; float:left;}
	#page.afters label {height:13px;font-size:8pt; color:#989898; font-weight:bold; font-family:"µ¸¿ò","dotum"; float:left;}
	#page.afters td {padding:3px 0px;}
	#page.afters th {text-align:left;}

	.infos {margin:0 auto;border:1px solid #ccc;background-color:#eee;margin-top:0px;padding:15px 0px 15px 10px;text-align:center; margin-top: 10px;}

	#counsel {margin-top:10px;}
	.counsel .infoForm th {border-bottom:1px solid #ccc; border-top:1px solid #ccc; background-color:#eee; font-size:14px; padding:5px 0px 5px 0px; }
	.counsel .infoForm td {border-bottom:1px solid #ccc; border-top:1px solid #ccc; padding:5px 0px 5px 7px; font-size:14px; }
	.counsel .infoForm td .input_text {height:25px; line-height:25px;font-size:14px; padding-left:7px; vertical-align:middle; border:1px solid #ddd;}

	
/* Button Common */
	/* Button Size = medium | large | xLarge | small */
	.button.medium2, .button.medium2 *{ height:24px; line-height:24px;}
	.button.medium2 { background-position:left 0;}
	.button.medium2 *{ padding:0 3px 0 6px; font-size:12px; background-position:right top;}

	/* Button Strong */
	.button.strong *{ font-weight:bold !important;}

	/* Button Icon Variation */
	.button.icon *{ padding-left:20px;}
	.button.small.icon *{ padding-left:16px;}
	.button.icon span{ width:20px; margin-right:-20px; padding:0 !important;}
	.button.medium2 .refresh{ background-position:-76px -150px;}




.............
/* Button Common */

/* Button Common */
	

	/* Button Size = medium | large | xLarge | small */
	.button.medium, .button.medium *{ height:24px; line-height:24px;}
	.button.large2, .button.large2 *{ height:30px; line-height:30px;}
	.button.large2 { background-position:left -30px;}
	.button.large2 *{ padding:0 6px 0 6px; font-size:16px; background-position:right -30px;}

	/* Button Strong */
	.button.strong *{ font-weight:bold !important;}

	/* Button Icon Variation */
	.button.icon *{ padding-left:20px;}
	.button.small.icon *{ padding-left:16px;}
	.button.icon span{ width:20px; margin-right:-20px; padding:0 !important;}
	.button.large2 .refresh{ background-position:-76px -146px;}
