
/* 폰 공통영역 */
	.input_file {border:1px solid #ccc; height:20px; line-height:20px; vertical-align:middle; background-color:#efefef;}
	.btnZone {border:0px none !important; padding:15px 0px; text-align:center;}
	.bor1 {border:1px solid #ccc;}

	th {padding:10px 0px; border:1px solid #ccc; background-color:#eee;}
	td {padding:10px 0px; border:1px solid #ccc; }


/* 카테고리 선택 */
	#selectCate {clear:both; float:left; margin-top:10px; width:230px; overflow:hidden;}
	#selectCate td {padding:30px 0px;}
	#selectCate td .submit {padding:5px;margin-top:10px;}

	#selectCate p {clear:both; }
	#selectCate #cate2 {margin-top:10px;}


/* 카테고리 추가 */
	#inCate {float:left;margin-top:10px; width:760px; margin-left:10px;}
	#inCate td {border:1px solid #ccc; text-indent:7px; padding:6px 0px;}




	#divList {clear:both;float:left;margin-top:10px; width:1000px;overflow:hidden;}
	#divList th, #divList td {border:1px solid #ccc; text-align:center;}
	#divList td {padding:4px 0px; border-top:0px none;}
	#divList th {background-color:#eee; height:32px;border:1px solid #ccc;}




.submit {padding:15px 50px;font-weight:bold; font-size:14px;}

