@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);
/*@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(//cdn.jsdelivr.net/nanumsquare/1.0/nanumsquare.css);
@import url(//fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);
*/
/*@font-face {
	font-family: 'NanumSquare';
	src: url(/font/NanumSquareR.eot);
	src: url(/font/NanumSquareR.eot?#iefix) format('embedded-opentype'),
		url(/font/NanumSquareR.woff) format('woff'),
		url(/font/NanumSquareR.ttf) format('truetype');
}
*/