

#selectCate {clear:both; float:left;margin-top:10px; width:200px; overflow:hidden;}

#selectCate table {width:190px;}
#selectCate th, #selectCate td {border: 1px solid #ccc;}
#selectCate td {padding:30px 0px; text-align:center;}
#selectCate td .submit {padding:5px;margin-top:10px;}

#divList {float:left;margin-top:10px; width:800px;overflow:hidden;}
#divList th, #divList td {border:1px solid #ccc; text-align:center;}
#divList td {padding:4px 0px; border-top:0px none;}

/* div#selectCate, div#divList, div#inCate {clear:both;float:left;margin-top:10px; width:1000px;} */

div#inCate {clear:both;float:left;margin-top:10px; width:1000px;}





th {background-color:#eee; height:32px;border:1px solid #ccc;}
.bor1 {border:1px solid #ccc;}
.input_text {height:16px; padding-top:2px; border:1px solid #c0c0c0; background-color:#f4f4f4;}

#inCate {clear:both;}
#inCate td {border:1px solid #ccc;}
#inCate .tds1 {width:150px;height:25px;background-color:#eee; text-align:center;}
#inCate .tds2 {width:637px;height:25px;padding-left:10px; text-align:left;}


#mainNow th {background-color:#eee; height:32px;border:1px solid #ccc;}
#mainNow tbody td {padding:5px 20px; border:1px solid #ccc;}
#mainNow tfoot td {text-align:center;padding:20px 0px;}


/* 카테고리 관리 팝업 */
#pop_all .area1 {width:100%;}
#pop_all .area1 .subject {padding-left:10px;}
#pop_all .area1 td {border:1px solid #ccc;}
#pop_all .paging_area {padding:10px 0px 30px 0px;text-align:center;}
#pop_all .submit {padding:15px 35px; font-size:14px;font-weight:bold;}
