.input_file {border:1px solid #ccc; height:20px;}
.input_text {border:1px solid #ccc;padding:2px;}
.input_btn {border:1px solid #ccc;padding:4px 10px; background-color:#eee;}
.input_chk {margin:0px 0px 1px 0px;vertical-align:middle;}


.category {clear:both;}
.category_con {clear:both;overflow:hidden;background:url(/images/share/category_con_bg.gif) 0 0 repeat-y;}


.thisArea {float:left;}
.thisArea th {padding:10px;background:#eee; border:1px solid #ccc;}
.thisArea td {padding:10px;; border:1px solid #ccc;}


.setting {float:left; margin-left:10px;}

.design p {font-size:14px; font-weight:bold; padding:10px 0px 5px 0px;}

.design .input_text {border:1px solid #ccc;padding:2px;}
.design .input_text2 {border:1px solid #ccc;height:14px;}

.design  th {padding:5px 0px;background-color:#eee;border:1px solid #ccc;}
.design  td {border:1px solid #ccc;height:24px;}
.design  td.tc01 {font-weight:bold;color:#e78e01;}
.design  .tdp {padding-left:5px;}
.design  .list td {text-align:center;}


.ranking {clear:both;}
.ranking .ranking-right {width:770px;margin-left:10px;}
.ranking .desc_ul li {font-weight:bold;line-height:130%;}
.ranking .bor1 {border:1px solid #ccc;}
.ranking .list td {border:1px solid #ccc; height:70px;}
.ranking .list td p {border-bottom:1px solid #ccc;}

.mainSlide p {font-size:14pt; font-weight:bold; padding:10px 0px 5px 0px;}
.mainSlide .slideImg {float:left;border:1px solid #ccc; margin-left:10px; margin-top:10px;}
.mainSlide th {padding:5px 0px;background-color:#eee;border:1px solid #ccc;}
.mainSlide td {padding:6px 0px; text-align:center;border:1px solid #ccc; border-top:0px none;}
.mainSlide td.tc01 {font-weight:bold;color:#e78e01;}

.jackpot th {background-color:#eee;border:1px solid #ccc;height:32px;}
.jackpot td {border:1px solid #ccc; padding-left:10px;}
.jackpot .input_text {border:1px solid #ccc;padding:3px; }
.jackpot .list td {border:1px solid #ccc; padding-left:0px; height:27px; text-align:center;}


#indexSlide .bor1 {border:1px solid #ccc;}

#indexSlide .insert select {padding:1px 0px;}
#indexSlide .insert th {border:1px solid #ccc; background-color:#eee; height:32px;}
#indexSlide .insert td {border:1px solid #ccc; padding-left:10px;}

#indexSlide .list th {border:1px solid #ccc; background-color:#eee; height:32px;}
#indexSlide .list td {border:1px solid #ccc; text-align:center; padding:5px 0px;}



#indexMap .insert td, #indexMap .insert th {border:1px solid #ccc; height:32px;}
#indexMap .insert th {background-color:#eee;}
#indexMap .insert td {padding-left:10px;}

#indexMap .list th {border:1px solid #ccc; background-color:#eee; height:30px;}
#indexMap .list td {border:1px solid #ccc; height:28px; text-align:center;}

#indexMap .list li {display:block; float:left; border:1px solid #ccc;border-right:0px none;padding:3px 10px;border-bottom:0px none;}
#indexMap .list li:hover {background-color:#eee; cursor:pointer;}
#indexMap .list li.first {border-right:0px none;}
#indexMap .list li.last {border-right:1px solid #ccc;;}

th,td {border:1px solid #ccc;}
th {background-color:#eee;}

#popMapInfo .insert td {height:26px; padding-left:10px;}
#popMapInfo .list td {text-align:center;height:26px;}
#popMapInfo .list th {height:30px;}



#cPage .list .btn_zone {text-align:right; padding:20px 0px;}
#cPage .list th {height:32px;}
#cPage .list td {height:28px;}
#cPage .view td {padding:5px 0px 5px 7px;}
#cPage .view .inTable1 td {border:0px none; padding:0px;}
